<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
        [(model)]="dataModel.recordStatus" [optionDisabled]="false"
        [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true">
      </app-cms-enum-record-status-selector>
      <!-- LinkManagementAccountingId Field -->
      <app-linkmanagement-accounting-selector (optionChange)="onActionSelectorAccount($event)"
        [(optionLoading)]="loading" [optionDisabled]="!fieldsInfo['linkManagementAccountingId']?.accessAddField"
        [optionSelectForce]="dataModel.linkManagementAccountingId"
        [optionPlaceholder]="this.translate.instant('TITLE.Account')">
      </app-linkmanagement-accounting-selector>
      <!-- AccountingType Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <select id="dataModel.accountingType" [(ngModel)]="dataModel.accountingType" name="dataModel.accountingType"
          #AccountingType="ngModel" class="form-control validate-name">
          <option *ngFor="let item of dataModelEnumSharingAccountingTypeResult.listItems; index as i"
            [value]="item.value">{{ item.description }}</option>
        </select>
        <em>{{'TITLE.Select_type_of_content' | translate}}</em>
        <mat-error *ngIf="AccountingType.errors?.required">
          AccountingType is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- Description Field -->
      <div *ngIf="fieldsInfo['description']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
        <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
          placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows="5"
          id="dataModel.description" class="form-control validate-name">
           </textarea>
        <em>{{ Description.value.length }} / 500</em>
        <mat-error *ngIf="Description.errors?.required">
          {{ fieldsInfo["description"]?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- Debtor Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.debtor" class="color-highlight">{{ fieldsInfo["debtor"]?.fieldTitle }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.debtor" name="dataModel.debtor" #Debtor
          placeholder="{{'TITLE.Debtor_Credit' | translate}}" minlength="0" required class="form-control validate-name"
          id="dataModel.debtor" />
        <i *ngIf="!Debtor.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Debtor.value" class="fa fa-check  valid color-green-dark"></i>
        <mat-error *ngIf="Debtor.errors?.required">
          Debtor is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- Creditor Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.creditor" class="color-highlight">{{ fieldsInfo["creditor"]?.fieldTitle }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.creditor" name="dataModel.creditor" #Creditor
          placeholder="{{'TITLE.Creditor_Credit' | translate}}" minlength="0" required
          class="form-control validate-name" id="dataModel.creditor" />
        <i *ngIf="!Creditor.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Creditor.value" class="fa fa-check  valid color-green-dark"></i>
        <mat-error *ngIf="Creditor.errors?.required">
          Creditor is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- LinkExternalShopInvoiceSaleDetailId Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.linkExternalShopInvoiceSaleDetailId" class="color-highlight">{{
          fieldsInfo["linkExternalShopInvoiceSaleDetailId"]?.fieldTitle }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.linkExternalShopInvoiceSaleDetailId"
          name="dataModel.linkExternalShopInvoiceSaleDetailId" #LinkExternalShopInvoiceSaleDetailId
          placeholder="{{fieldsInfo['linkExternalShopInvoiceSaleDetailId']?.fieldTitle}}"
          class="form-control validate-name" id="dataModel.linkExternalShopInvoiceSaleDetailId" />
      </div>
      <!-- RowNumber Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.rowNumber" class="color-highlight">{{ fieldsInfo["rowNumber"]?.fieldTitle }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.rowNumber" name="dataModel.rowNumber" #RowNumber
          placeholder="{{fieldsInfo['rowNumber']?.fieldTitle}}" class="form-control validate-name"
          id="dataModel.rowNumber" />
      </div>
      <!-- FishNumber Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.fishNumber" class="color-highlight">{{ fieldsInfo["fishNumber"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.fishNumber" name="dataModel.fishNumber" #FishNumber
          placeholder="{{fieldsInfo['fishNumber']?.fieldTitle}}" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.fishNumber" />
        <em>{{ FishNumber.value.length }} / 100</em>
        <mat-error *ngIf="FishNumber.errors?.required">
          FishNumber is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- TokenNumber Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.tokenNumber" class="color-highlight">{{ fieldsInfo["tokenNumber"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.tokenNumber" name="dataModel.tokenNumber" #TokenNumber
          placeholder="{{fieldsInfo['tokenNumber']?.fieldTitle}}" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.tokenNumber" />
        <em>{{ TokenNumber.value.length }} / 100</em>
        <mat-error *ngIf="TokenNumber.errors?.required">
          TokenNumber is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- ReceiptCode Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.receiptCode" class="color-highlight">{{ fieldsInfo["receiptCode"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.receiptCode" name="dataModel.receiptCode" #ReceiptCode
          placeholder="{{fieldsInfo['receiptCode']?.fieldTitle}}" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.receiptCode" />
        <em>{{ ReceiptCode.value.length }} / 100</em>
        <mat-error *ngIf="ReceiptCode.errors?.required">
          ReceiptCode is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
    </form>
    <!--Content-->
  </div>
</div>