<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm" [ngStyle]="{'direction' : tokenInfo.direction }">
            <!-- Title Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title
                    placeholder="{{fieldsInfo['title']?.fieldTitle }}" minlength="3" maxlength="100" required
                    class="form-control validate-name" id="dataModel.title" />
                <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ Title.value.length }} / 100</em>
                <mat-error *ngIf="Title.errors?.required">
                    Title is <strong>{{ "MESSAGE.required" | translate }}</strong>
                </mat-error>
            </div>
            <!-- titleML Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleML" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleML" name="dataModel.titleML" [disabled]="true"
                    class="form-control validate-name" id="dataModel.titleML" />
            </div>
            <!-- titleResourceLanguage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleResourceLanguage"
                    class="color-highlight">{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleResourceLanguage"
                    name="dataModel.titleResourceLanguage" [disabled]="true" #titleResourceLanguage
                    placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}" minlength="1" maxlength="100"
                    required class="form-control validate-name" id="dataModel.titleResourceLanguage" />
                <i *ngIf="!titleResourceLanguage.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="titleResourceLanguage.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ titleResourceLanguage.value.length }} / 100</em>
                <mat-error *ngIf="titleResourceLanguage.errors?.required">
                    titleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <hr>
            <!-- orderTitle Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.orderTitle"
                    class="color-highlight">{{fieldsInfo['orderTitle']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.orderTitle" name="dataModel.orderTitle"
                    [disabled]="true" #orderTitle placeholder="{{fieldsInfo['orderTitle']?.fieldTitle}}" minlength="3"
                    maxlength="100" required class="form-control validate-name" id="dataModel.orderTitle" />
                <i *ngIf="!orderTitle.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="orderTitle.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ orderTitle.value.length }} / 100</em>
                <mat-error *ngIf="orderTitle.errors?.required">
                    orderTitle is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- orderTitleML Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.orderTitleML" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.orderTitleML" name="dataModel.orderTitleML"
                    [disabled]="true" [disabled]="true" class="form-control validate-name"
                    id="dataModel.orderTitleML" />
            </div>
            <!-- orderTitleResourceLanguage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.orderTitleResourceLanguage"
                    class="color-highlight">{{fieldsInfo['orderTitleResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.orderTitleResourceLanguage"
                    name="dataModel.orderTitleResourceLanguage" [disabled]="true" #orderTitleResourceLanguage
                    placeholder="{{fieldsInfo['orderTitleResourceLanguage']?. fieldTitle}}" minlength="1"
                    maxlength="100" required class="form-control validate-name"
                    id="dataModel.orderTitleResourceLanguage" />
                <i *ngIf="!orderTitleResourceLanguage.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="orderTitleResourceLanguage.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ orderTitleResourceLanguage.value.length }} / 100</em>
                <mat-error *ngIf="orderTitleResourceLanguage.errors?.required">
                    orderTitleResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- TitleSoldIt Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleSoldIt"
                    class="color-highlight">{{fieldsInfo['titleSoldIt']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleSoldIt" name="dataModel.titleSoldIt"
                    #TitleSoldIt placeholder="{{fieldsInfo['titleSoldIt']?.fieldTitle}}" minlength="3" maxlength="100"
                    required class="form-control validate-name" id="dataModel.titleSoldIt" />
                <i *ngIf="!TitleSoldIt.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="TitleSoldIt.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ TitleSoldIt.value.length }} / 100</em>
                <mat-error *ngIf="TitleSoldIt.errors?.required">
                    TitleSoldIt is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- titleSoldItML Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleSoldItML"
                    class="color-highlight">{{fieldsInfo['titleSoldIt']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleSoldItML" name="dataModel.titleSoldItML"
                    #TitleSoldIt [disabled]="true" class="form-control validate-name" id="dataModel.titleSoldItML" />
            </div>
            <!-- titleSoldItResourceLanguage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleSoldItResourceLanguage"
                    class="color-highlight">{{fieldsInfo['titleSoldItResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleSoldItResourceLanguage"
                    name="dataModel.titleSoldItResourceLanguage" #titleSoldItResourceLanguage
                    placeholder="{{fieldsInfo['titleSoldItResourceLanguage']?.fieldTitle}}" minlength="1"
                    maxlength="100" required class="form-control validate-name"
                    id="dataModel.titleSoldItResourceLanguage" />
                <i *ngIf="!TitleSoldIt.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="TitleSoldIt.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ titleSoldItResourceLanguage.value.length }} / 100</em>
                <mat-error *ngIf="titleSoldItResourceLanguage.errors?.required">
                    titleSoldItResourceLanguage is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- allowPriceInquiryCalculate Field -->
            <div *ngIf="fieldsInfo['allowPriceInquiryCalculate']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['allowPriceInquiryCalculate']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.allowPriceInquiryCalculate"
                            [(ngModel)]="this.dataModel.allowPriceInquiryCalculate"
                            name="dataModel.allowPriceInquiryCalculate">
                        <label class="custom-control-label" for="dataModel.allowPriceInquiryCalculate"></label>
                    </div>
                </div>
            </div>
            <!-- HasSalePrice Field -->
            <div *ngIf="fieldsInfo['hasSalePrice']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasSalePrice']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasSalePrice"
                            [(ngModel)]="this.dataModel.hasSalePrice" name="dataModel.hasSalePrice">
                        <label class="custom-control-label" for="dataModel.hasSalePrice"></label>
                    </div>
                </div>
            </div>
            <!-- HasRentPrice Field -->
            <div *ngIf="fieldsInfo['hasRentPrice']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasRentPrice']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasRentPrice"
                            [(ngModel)]="this.dataModel.hasRentPrice" name="dataModel.hasRentPrice">
                        <label class="custom-control-label" for="dataModel.hasRentPrice"></label>
                    </div>
                </div>
            </div>
            <!-- HasDepositPrice Field -->
            <div *ngIf="fieldsInfo['hasDepositPrice']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasDepositPrice']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasDepositPrice"
                            [(ngModel)]="this.dataModel.hasDepositPrice" name="dataModel.hasDepositPrice">
                        <label class="custom-control-label" for="dataModel.hasDepositPrice"></label>
                    </div>
                </div>
            </div>
            <!-- HasPeriodPrice Field -->
            <div *ngIf="fieldsInfo['hasPeriodPrice']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.hasPeriodPrice" class="font-600 font-14">
                        {{fieldsInfo['hasPeriodPrice']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.hasPeriodPrice"
                            [(ngModel)]="this.dataModel.hasPeriodPrice" name="dataModel.hasPeriodPrice">
                        <label class="custom-control-label" for="dataModel.hasPeriodPrice"></label>
                    </div>
                </div>
            </div>
            <!-- Description Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.description"
                    class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
                <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description
                    type="text" placeholder="{{ fieldsInfo['description']?.fieldTitle }}" minlength="1" maxlength="500"
                    rows="5" id="dataModel.description" class="form-control validate-name"></textarea>
                <em>{{ Description.value.length }} / 500</em>
                <mat-error *ngIf="Description.errors?.required">
                    Description is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <hr *ngIf="dataModel.hasSalePrice">
            <!-- SalePriceAllowAgreement Field -->
            <div *ngIf="fieldsInfo['salePriceAllowAgreement']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.salePriceAllowAgreement" class="font-600 font-14">
                        {{fieldsInfo['salePriceAllowAgreement']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.salePriceAllowAgreement"
                            [(ngModel)]="this.dataModel.salePriceAllowAgreement"
                            name="dataModel.salePriceAllowAgreement">
                        <label class="custom-control-label" for="dataModel.salePriceAllowAgreement"></label>
                    </div>
                </div>
            </div>
            <!-- TitleSalePrice Field -->
            <div *ngIf="dataModel.hasSalePrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleSalePrice"
                    class="color-highlight">{{fieldsInfo['titleSalePrice']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleSalePrice" name="dataModel.titleSalePrice"
                    #TitleSalePrice placeholder="{{fieldsInfo['titleSalePrice']?.fieldTitle }}" minlength="1"
                    maxlength="100" class="form-control validate-name" id="dataModel.titleSalePrice" />
                <em>{{ TitleSalePrice.value.length }} / 100</em>
            </div>
            <!-- titleSalePriceML Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleSalePriceML"
                    class="color-highlight">{{fieldsInfo['titleSalePrice']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleSalePriceML" name="dataModel.titleSalePriceML"
                    [disabled]="true" class="form-control validate-name" id="dataModel.titleSalePriceML" />
            </div>
            <!-- titleSalePriceResourceLanguage Field -->
            <div *ngIf="dataModel.hasSalePrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleSalePriceResourceLanguage"
                    class="color-highlight">{{fieldsInfo['titleSalePriceResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleSalePriceResourceLanguage"
                    name="dataModel.titleSalePriceResourceLanguage" #titleSalePriceResourceLanguage
                    placeholder="{{fieldsInfo['titleSalePriceResourceLanguage']?.fieldTitle }}" minlength="1"
                    maxlength="100" class="form-control validate-name" id="dataModel.titleSalePriceResourceLanguage" />
                <em>{{ titleSalePriceResourceLanguage.value.length }} / 100</em>
            </div>
            <hr *ngIf="dataModel.hasRentPrice">
            <!-- RentPriceAllowAgreement Field -->
            <div *ngIf="fieldsInfo['rentPriceAllowAgreement']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.rentPriceAllowAgreement" class="font-600 font-14">
                        {{fieldsInfo['rentPriceAllowAgreement']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.rentPriceAllowAgreement"
                            [(ngModel)]="this.dataModel.rentPriceAllowAgreement"
                            name="dataModel.rentPriceAllowAgreement">
                        <label class="custom-control-label" for="dataModel.rentPriceAllowAgreement"></label>
                    </div>
                </div>
            </div>
            <!-- TitleRentPrice Field -->
            <div *ngIf="dataModel.hasRentPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleRentPrice"
                    class="color-highlight">{{fieldsInfo['titleRentPrice']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleRentPrice" name="dataModel.titleRentPrice"
                    #TitleSalePrice placeholder="{{fieldsInfo['titleRentPrice']?.fieldTitle }}" minlength="1"
                    maxlength="100" class="form-control validate-name" id="dataModel.titleRentPrice" />
            </div>
            <!-- TitleRentPriceML Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleRentPriceML"
                    class="color-highlight">{{fieldsInfo['titleRentPrice']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleRentPriceML" name="dataModel.titleRentPriceML"
                    [disabled]="true" class="form-control validate-name" id="dataModel.titleRentPriceML" />
            </div>
            <!-- titleRentPriceResourceLanguage Field -->
            <div *ngIf="dataModel.hasRentPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleRentPriceResourceLanguage"
                    class="color-highlight">{{fieldsInfo['titleRentPriceResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleRentPriceResourceLanguage"
                    name="dataModel.titleRentPriceResourceLanguage" #titleRentPriceResourceLanguage
                    placeholder="{{fieldsInfo['titleRentPrice']?.fieldTitle }}" minlength="1" maxlength="100"
                    class="form-control validate-name" id="dataModel.titleRentPriceResourceLanguage" />
                <em>{{ titleRentPriceResourceLanguage.value.length }} / 100</em>
            </div>
            <!-- hasRentPrice Field -->
            <div *ngIf="dataModel.hasRentPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.rentPricePriodTitle"
                    class="color-highlight">{{fieldsInfo['rentPricePriodTitle']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.rentPricePriodTitle"
                    name="dataModel.rentPricePriodTitle" #rentPricePriodTitle
                    placeholder="{{fieldsInfo['titleRentPrice']?.fieldTitle }}" minlength="1" maxlength="100"
                    class="form-control validate-name" id="dataModel.rentPricePriodTitle" />
                <em>{{ rentPricePriodTitle.value.length }} / 100</em>
            </div>
            <!-- rentPricePriodTitleResourceLanguage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.rentPricePriodTitleML"
                    class="color-highlight">{{fieldsInfo['rentPricePriodTitle']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.rentPricePriodTitleML"
                    name="dataModel.rentPricePriodTitleML" [disabled]="true" class="form-control validate-name"
                    id="dataModel.rentPricePriodTitleML" />
            </div>
            <!-- rentPricePriodTitleResourceLanguage Field -->
            <div *ngIf="dataModel.hasRentPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.rentPricePriodTitleResourceLanguage"
                    class="color-highlight">{{fieldsInfo['rentPricePriodTitleResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.rentPricePriodTitleResourceLanguage"
                    name="dataModel.rentPricePriodTitleResourceLanguage" #rentPricePriodTitleResourceLanguage
                    placeholder="{{fieldsInfo['titleRentPrice']?.fieldTitle }}" minlength="1" maxlength="100"
                    class="form-control validate-name" id="dataModel.rentPricePriodTitleResourceLanguage" />
                <em>{{ rentPricePriodTitleResourceLanguage.value.length }} / 100</em>
            </div>
            <hr *ngIf="dataModel.hasDepositPrice">
            <!-- DepositPriceAllowAgreement Field -->
            <div *ngIf="fieldsInfo['depositPriceAllowAgreement']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.rentPriceAllowAgreement" class="font-600 font-14">
                        {{fieldsInfo['depositPriceAllowAgreement']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.depositPriceAllowAgreement"
                            [(ngModel)]="this.dataModel.depositPriceAllowAgreement"
                            name="dataModel.depositPriceAllowAgreement">
                        <label class="custom-control-label" for="dataModel.depositPriceAllowAgreement"></label>
                    </div>
                </div>
            </div>
            <!-- TitleDepositPrice Field -->
            <div *ngIf="dataModel.hasDepositPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleDepositPrice"
                    class="color-highlight">{{fieldsInfo['titleDepositPrice']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleDepositPrice"
                    name="dataModel.   titleDepositPrice" #TitleDepositPrice
                    placeholder="{{fieldsInfo['titleDepositPrice']?.fieldTitle }}" minlength="1" maxlength="100"
                    class="form-control validate-name" id="dataModel.titleDepositPrice" />
                <em>{{ TitleDepositPrice.value.length }} / 100</em>
            </div>
            <!-- titleDepositPriceML Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleDepositPriceML"
                    class="color-highlight">{{fieldsInfo['titleDepositPriceML']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleDepositPriceML"
                    name="dataModel.titleDepositPriceML" [disabled]="true" class="form-control validate-name"
                    id="dataModel.titleDepositPriceML" />
            </div>
            <!-- titleDepositPriceResourceLanguage Field -->
            <div *ngIf="dataModel.hasDepositPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleDepositPriceResourceLanguage"
                    class="color-highlight">{{fieldsInfo['titleDepositPriceResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleDepositPriceResourceLanguage"
                    name="dataModel.titleDepositPriceResourceLanguage" #titleDepositPriceResourceLanguage
                    placeholder="{{fieldsInfo['titleDepositPriceResourceLanguage']?.fieldTitle }}" minlength="1"
                    maxlength="100" class="form-control validate-name"
                    id="dataModel.titleDepositPriceResourceLanguage" />
                <em>{{ titleDepositPriceResourceLanguage.value.length }} / 100</em>
            </div>
            <hr *ngIf="dataModel.hasPeriodPrice">
            <!-- PeriodPriceAllowAgreement Field -->
            <div *ngIf="fieldsInfo['periodPriceAllowAgreement']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.rentPriceAllowAgreement" class="font-600 font-14">
                        {{fieldsInfo['periodPriceAllowAgreement']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.periodPriceAllowAgreement"
                            [(ngModel)]="this.dataModel.periodPriceAllowAgreement"
                            name="dataModel.periodPriceAllowAgreement">
                        <label class="custom-control-label" for="dataModel.periodPriceAllowAgreement"></label>
                    </div>
                </div>
            </div>
            <!-- TitlePeriodPrice Field -->
            <div *ngIf="dataModel.hasPeriodPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titlePeriodPrice"
                    class="color-highlight">{{fieldsInfo['titlePeriodPrice']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titlePeriodPrice" name="dataModel.titlePeriodPrice"
                    #TitlePeriodPrice placeholder="{{fieldsInfo['titlePeriodPrice']?.fieldTitle }}" minlength="1"
                    maxlength="100" class="form-control validate-name" id="dataModel.titlePeriodPrice" />
                <em>{{ TitlePeriodPrice.value.length }} / 100</em>
            </div>
            <!-- titlePeriodPriceML Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titlePeriodPriceML"
                    class="color-highlight">{{fieldsInfo['titlePeriodPriceML']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titlePeriodPriceML"
                    name="dataModel.titlePeriodPriceML" [disabled]="true" class="form-control validate-name"
                    id="dataModel.titlePeriodPriceML" />
            </div>
            <!-- titlePeriodPriceResourceLanguage Field -->
            <div *ngIf="dataModel.hasPeriodPrice"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titlePeriodPriceResourceLanguage"
                    class="color-highlight">{{fieldsInfo['titlePeriodPriceResourceLanguage']?.fieldTitle}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titlePeriodPriceResourceLanguage"
                    name="dataModel.titlePeriodPriceResourceLanguage" #titlePeriodPriceResourceLanguage
                    placeholder="{{fieldsInfo['titlePeriodPriceResourceLanguage']?.fieldTitle }}" minlength="1"
                    maxlength="100" class="form-control validate-name"
                    id="dataModel.titlePeriodPriceResourceLanguage" />
                <em>{{ titlePeriodPriceResourceLanguage.value.length }} / 100</em>
            </div>

            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--content-->
    </div>
</div>