<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="input-style has-borders has-icon  input-style-always-active validate-field mb-4">
  <span matPrefix><img class="ntk-hover-zoom" *ngIf="dataModelSelect && dataModelSelect?.linkMainImageIdSrc"
      style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
      src="{{dataModelSelect?.linkMainImageIdSrc | cmsthumbnail}}" height="25" width="25" /> &nbsp;</span>


  <input type="text" placeholder="{{optionPlaceholder}}" [attr.disabled]="optionDisabled? true : null"
    aria-label="Assignee" matInput [formControl]="formControl" [matAutocomplete]="matauto" id="forminput"
    [required]="optionRequired">
  <label for="forminput" class="color-highlight">{{optionLabel}}</label>
  <mat-autocomplete #matauto="matAutocomplete" [displayWith]="displayFn"
    (optionSelected)="onActionSelect($event.option.value)">
    <mat-option *ngFor="let state of filteredOptions | async" [value]="state" [disabled]="optionDisabled">
      <img *ngIf="state.linkMainImageIdSrc" style="vertical-align:middle;" class="ntk-hover-zoom" aria-hidden
        src="{{state.linkMainImageIdSrc | cmsthumbnail}}" height="25" width="25" />
      <span>{{ displayOption(state) }}</span>
    </mat-option>
  </mat-autocomplete>
  <i *ngIf="!formControl.valid" class="fa fa-info  invalid color-red-dark"></i>
  <i *ngIf="optionRequired && formControl.valid" class="fa fa-check  valid color-green-dark"></i>
  <i *ngIf="dataModelSelect?.id?.length>0" class="fa fa-times  action color-red-dark"
    (click)="onActionSelectClear()"></i>
  <em
    *ngIf="optionRequired  && (!dataModelSelect || !dataModelSelect.id || dataModelSelect.id.length<=0)">({{'TITLE.Necessary'|
    translate}})</em>
  <ng-content></ng-content>
</div>