<mat-card class="example-card">
    <app-progress-spinner [options]="loading">
    </app-progress-spinner>

    <mat-card-header *ngIf="!loading?.display">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{dataModel.title}}</mat-card-title>
        <mat-card-subtitle>ver : {{dataModel.appVersion}}</mat-card-subtitle>
    </mat-card-header>
    <img [src]="dataModel.downloadLinkSrcQRCodeBase64" alt="'TITLE.Scan_the_barcode' | translate" height="300px"
        width="300px">
    <img [src]="dataModel.linkMainImageIdSrc"
        *ngIf="dataModel.linkMainImageId>0 &&dataModel.linkMainImageIdSrc.length>0" height="300px" width="300px">
    <mat-card-content>
        <p>
            {{dataModel.downloadLinkSrc}}
        </p>
        <p>
            {{dataModel.downloadLinkSrcCustomize}}
        </p>
        <p>
            {{dataModel.downloadLinkUpdateSrc}}
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button (click)="onActionDownloadApp()"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.DOWNLOADTHEAPP'
            | translate}}</button>
        <button (click)="onActionDownloadUpdate()"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'ACTION.DOWNLOADTHEUPDATE'
            | translate}}</button>
        <button (click)="onFormCancel()"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
            <i class="ft-x"></i> {{'ACTION.BACK' | translate}}
        </button>
    </mat-card-actions>
</mat-card>