<div class="row">
  <div Class="col-xl-2">
    <!--begin::tree-->
    <div class="ntk-cms-html-tree-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-->
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'ACTION.SAVE_CONTENT' | translate}}</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-red">{{'ACTION.DELETE_CONTENT' |
        translate}}</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'ACTION.LOADING_CONTENT' | translate}}</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'ACTION.ASSUMPTION_CONTENT' | translate}}</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'ACTION.INTERNALIZATION_CONTENT' | translate}}</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'ACTION.OUTFLOW_CONTENT' | translate}}</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'ACTION.HISTORY_CONTENT' | translate}}</button>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-->
    </div>
    <div class="ntk-cms-html-tree-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      {{'TITLE.DISPLAY_SIZE' | translate}}
      <br>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">lg</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">md</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">sm</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">xs</button>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-tree-header">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      {{'TITLE.DISPLAY' | translate}}
      <br>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'TITLE.Preview'
        | translate}}</button>
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        style="width:98%">{{'TITLE.Preview_MOTHER' | translate}}</button>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </div>
    <div class="ntk-cms-html-tree-body">
      body
    </div>
    <div class="ntk-cms-html-tree-footer">
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      tree-footer
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </div>

    <!--end::tree-->
  </div>
  <div Class="col-xl-10">
    <!--begin::Header-->
    <div class="ntk-cms-html-list-header">
      <button (click)="onActionAdd()" type="button"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">{{'TITLE.CREATE_ROW' |
        translate}}</button>

    </div>
    <!--end::Header-->

    <!--begin::Body-->
    <div>
      <app-progress-spinner [options]="loading"> </app-progress-spinner>
      Body
    </div>
    <!--end::Body-->
    <!--begin::Footer-->
    <div class="ntk-cms-html-list-footer">
      footer
    </div>
    <!--end::Footer-->
  </div>
</div>