<app-cms-html-list [optionGuideNoticeKey]="''" [(optionActionGuideNoticeDisplay)]="viewGuideNotice"
    (optionOnActionButtonMemoRow)="onActionButtonMemoRow()" (optionOnActionButtonMemo)="onActionButtonMemo()"
    (optionOnActionButtonExport)="onActionButtonExport()" (optionOnActionButtonPrintRow)="onActionButtonPrintRow()"
    [optionLoading]="loading" [optionTreeDisplay]="false" [optionActionRowId]="tableRowSelected?.id"
    [optionActionRowDisplayMenu]="tableRowSelectDoubleClick" [optionSelectRowItemTitle]="tableRowSelected?.id">
    <ng-container cms-tree>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-tree-->
        <app-sms-apipath-tree (optionChange)="onActionSelectorSelect($event)"></app-sms-apipath-tree>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-tree-->
    </ng-container>
    <ng-container cms-header>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
    </ng-container>
    <ng-container cms-action-header>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-header-->
        <div class="d-flex justify-content-between flex-wrap">
            <div class=" justify-content-end">
                <a class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                    target="_blank">
                    <mat-slide-toggle [(ngModel)]="optionsSearch.data.show"></mat-slide-toggle>{{'ACTION.SEARCH' |
                    translate}}
                </a>
                <a class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                    target="_blank">
                    <mat-slide-toggle (click)="onActionButtonStatist()">
                    </mat-slide-toggle>
                    {{'ACTION.STATIST' | translate}}
                </a>
            </div>
            <div class=" justify-content-start">
                <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                    (click)="viewGuideNotice=!viewGuideNotice" target="_blank">
                    <i class="fa-solid fa-info font-18" style="color: #ffffff;"></i>
                </a>
                <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                    (click)="onActionButtonReload()" target="_blank">
                    <i class="fa-solid fa-rotate-right font-18" style="color: #ffffff;"></i>
                </a>
            </div>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-header-->
    </ng-container>
    <ng-container cms-action-main>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-->

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-->
    </ng-container>
    <ng-container cms-action-row>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-row-->
        <div *ngIf="dataModelResult?.access?.accessEditRow" class="col-4">
            <a (click)="onActionButtonEditRow(tableRowSelected)"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-magenta" target="_blank"><i
                    class="fa-solid fa-pen font-18" style="color: #ffffff;"></i><br>
            </a>
            <p class="font-11 text-center opacity-70">{{'ACTION.EDIT' | translate}}</p>
        </div>
        <div *ngIf="dataModelResult?.access?.accessDeleteRow" class="col-4">
            <a (click)="onActionButtonDeleteRow(tableRowSelected)"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-red" target="_blank"><i
                    class="fa-solid fa-trash font-18" style="color: #ffffff;"></i><br>
            </a>
            <p class="font-11 text-center opacity-70">{{'ACTION.DELETE' | translate}}</p>
        </div>
        <div class="col-4">
            <a (click)="onActionButtonSuperSedersList(tableRowSelected)"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                target="_blank"><i class="fa-solid fa-route font-18" style="color: #ffffff;"></i><br>
            </a>
            <p class="font-11 text-center opacity-70">{{'ACTION.BACKUP_ROUTES' | translate}}</p>
        </div>
        <div class="col-4">
            <a (click)="onActionButtonMustSuperSedersList(tableRowSelected)"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                target="_blank"><i class="fa-solid fa-route font-18" style="color: #ffffff;"></i><br>
            </a>
            <p class="font-11 text-center opacity-70">{{'ACTION.SUPPORTED_ROUTES' | translate}}</p>
        </div>
        <div class="col-4">
            <a (click)="onActionButtonNumbersList(tableRowSelected)"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                target="_blank"><i class="fa-solid fa-phone font-18" style="color: #ffffff;"></i><br>
            </a>
            <p class="font-11 text-center opacity-70">{{'ACTION.SPECIFIC_NUMBERS' | translate}}</p>
        </div>
        <div class="col-4">
            <a (click)="onActionButtonPriceServicesList(tableRowSelected)"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                target="_blank"><i class="fa-solid fa-list font-18" style="color: #ffffff;"></i><br>
            </a>
            <p class="font-11 text-center opacity-70">{{'ACTION.PRICE_LIST' | translate}}</p>
        </div>
        <div class="col-4">
            <a (click)="onActionButtonPermitionList(tableRowSelected)"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
                target="_blank"><i class="fa-solid fa-universal-access font-18" style="color: #ffffff;"></i><br>
            </a>
            <p class="font-11 text-center opacity-70">{{'ACTION.ACEESS' | translate}}</p>
        </div>
        <div *ngIf="dataModelResult?.access?.accessWatchRow && tableRowSelected?.id?.length>0" class="col-4">
            <a (click)="onActionButtonViewRow(tableRowSelected)" type="button"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight" target="_blank"
                data-toggle="modal" data-target="#categoryModal"><i class="fa-solid fa-eye font-18"
                    style="color: #ffffff;"></i><br></a>
            <p class="font-11 text-center opacity-70">{{'ACTION.VIEW' | translate}}</p>
        </div>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-row-->
    </ng-container>
    <ng-container cms-action-area>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
        <app-cms-search-list [(options)]="optionsSearch"></app-cms-search-list>

        <app-cms-statist-list [(options)]="optionsStatist"></app-cms-statist-list>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-action-area-->
    </ng-container>
    <ng-container cms-body>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
        <mat-table [dataSource]="tableSource" matSort #tableSort="matSort" (matSortChange)="onTableSortData(tableSort)">

            <!-- ID Column -->
            <ng-container matColumnDef="Id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['id']?.fieldTitle}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
            </ng-container>

            <!-- RecordStatus Column -->
            <ng-container matColumnDef="RecordStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['recordStatus']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngClass]="row.recordStatus|statusCellClass"> <i
                        [ngClass]="row.recordStatus|statusIconClass"></i>
                    <select matNativeControl cmsRecordStatusSelfSave *ngIf="dataModelResult?.access?.accessEditRow"
                        [contentService]="contentService" [row]="row" style="background: none; border: none;"
                        [ngStyle]="{'display': row.id === tableRowSelected?.id ? '' : 'none' }">
                    </select>
                </mat-cell>
            </ng-container>

            <!-- IsFlash Column -->
            <ng-container matColumnDef="IsFlash">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['isFlash']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> <i [ngClass]="row.isFlash|statusIconClass"></i> </mat-cell>
            </ng-container>
            <!-- Message Column -->
            <ng-container matColumnDef="Message">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['message']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.message}} </mat-cell>
            </ng-container>
            <!-- QueueCompleted Column -->
            <ng-container matColumnDef="QueueCompleted">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['queueCompleted']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> <i [ngClass]="row.queueCompleted|statusIconClass"></i> </mat-cell>
            </ng-container>
            <!-- QueueCompleteDate Column -->
            <ng-container matColumnDef="QueueCompleteDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['queueCompleteDate']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngStyle]="{'direction':'ltr'}"> {{
                    publicHelper.LocaleDateTime(row.queueCompleteDate) }}</mat-cell>
            </ng-container>

            <!-- ScheduleSendStart Column -->
            <ng-container matColumnDef="ScheduleSendStart">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['scheduleSendStart']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngStyle]="{'direction':'ltr'}"> {{
                    publicHelper.LocaleDateTime(row.scheduleSendStart) }}</mat-cell>
            </ng-container>
            <!-- CreatedDate Column -->
            <ng-container matColumnDef="CreatedDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['createdDate']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngStyle]="{'direction':'ltr'}"> {{
                    publicHelper.LocaleDateTime(row.createdDate)
                    }}</mat-cell>
            </ng-container>
            <!-- UpdatedDate Column -->
            <ng-container matColumnDef="UpdatedDate">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldsInfo['updatedDate']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row" [ngStyle]="{'direction':'ltr'}"> {{
                    publicHelper.LocaleDate(row.updatedDate) }}
                    {{ publicHelper.getTime(row.updatedDate) }} </mat-cell>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row" class=' Action'>
                    <!-- Action Menu -->
                    <button mat-icon-button [matMenuTriggerFor]="actionMenu" aria-label="Action Menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #actionMenu="matMenu">

                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="tabledisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tabledisplayedColumns;" (click)="onActionTableRowSelect(row)"
                [ngStyle]="{'background': row.id === tableRowSelected?.id ? '#d3d3da' : '' }">
            </mat-row>
        </mat-table>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
    </ng-container>
    <ng-container cms-footer>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

        <mat-paginator #paginator [length]="(dataModelResult.totalRowCount)"
            [pageIndex]="(dataModelResult.currentPageNumber-1)" [pageSize]="dataModelResult.rowPerPage"
            [pageSizeOptions]="[5, 10, 20, 100]" (page)="onTablePageingData($event)"></mat-paginator>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </ng-container>
</app-cms-html-list>