<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>

    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <!--Content-->
    <ng-container *ngIf="!loading.display">
      <div class="ntk-cms-html-card-header">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
        <button type="button" (click)="onActionNext()" *ngIf="requestNextItem&& requestNextItem?.id?.length>0"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i>
          < </button> <button type="button" (click)="onActionPervious()"
              *ngIf="requestPerviousItem&& requestPerviousItem?.id?.length>0"
              class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
              <i class="ft-x"></i>
              >
            </button>
            <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
      </div>
      <div class="ntk-cms-html-card-body" dir="rtl">

        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->


        <table class="table table-striped">
          <tbody>
            <tr>
              <td>{{fieldsInfo['recordStatus']?.fieldTitle}}:</td>
              <td><i [ngClass]="dataModel.recordStatus|statusIconClass"></i></td>
            </tr>
            <tr>
              <td>{{fieldsInfo['title']?.fieldTitle}}:</td>
              <td>{{dataModel.title}}</td>
            </tr>
            <tr>
              <td><b> {{fieldsInfo['caseCode']?.fieldTitle}}:</b></td>
              <td><b>{{dataModel.caseCode}}</b></td>
            </tr>
            <tr>
              <td>{{fieldsInfo['createdBy']?.fieldTitle}}:</td>
              <td>{{dataModel.createdBy| cmsuserinfo |async}}</td>
            </tr>
            <tr>
              <td>{{fieldsInfo['linkEstateUserId']?.fieldTitle}}:</td>
              <td>{{dataModel.linkEstateUserId}}</td>
            </tr>


            <tr>
              <td>{{'TITLE.General_Description' | translate}}:</td>
              <td>{{dataModel.description}}</td>
            </tr>
            <tr *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField">
              <td>{{'TITLE.Description_Hidden' | translate}}:</td>
              <td>{{dataModel.descriptionHidden}}</td>
            </tr>
          </tbody>
        </table>

        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
      </div>
      <div class="ntk-cms-html-card-message">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
        <div class="form-actions">
          <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
          <small class="form-text text-muted danger">{{ formInfo.formError }}
          </small>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
      </div>
      <div class="ntk-cms-html-card-footer">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
          <button type="button" (click)="onFormCancel()"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
            <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
          </button>
          <button type="button" (click)="onActionNext()" *ngIf="requestNextItem&& requestNextItem?.id?.length>0"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
            <i class="ft-x"></i>
            < </button> <button type="button" (click)="onActionPervious()"
                *ngIf="requestPerviousItem&& requestPerviousItem?.id?.length>0"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                <i class="ft-x"></i>
                >
              </button>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      </div>
    </ng-container>2
    <!--Content-->
  </div>
</div>