<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
        [(model)]="dataModel.recordStatus" [optionDisabled]="false"
        [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



      <!-- Title Field -->
      <div *ngIf="fieldsInfo['title']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
          placeholder="{{fieldsInfo['title']?.fieldTitle }}" [disabled]="!fieldsInfo['title']?.accessAddField"
          minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.title" />
        <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ Title.value.length }} / 100</em>
        <mat-error *ngIf="Title.errors?.required">
          {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- TitleResourceLanguage Field -->
      <div *ngIf="fieldsInfo['titleResourceLanguage']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.titleResourceLanguage" class="color-highlight">{{
          fieldsInfo["titleResourceLanguage"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
          #TitleResourceLanguage placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}"
          [disabled]="!fieldsInfo['titleResourceLanguage']?.accessAddField" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.titleResourceLanguage" />
        <em>{{ TitleResourceLanguage.value.length }} / 100</em>
        <mat-error *ngIf="TitleResourceLanguage.errors?.required">
          {{fieldsInfo['titleResourceLanguage']?.fieldTitle}} is <strong>{{'MESSAGE.required' |
            translate}}</strong>
        </mat-error>
      </div>
      <!-- LinkModuleId Field -->
      <app-cms-module-selector (optionChange)="onActionSelectModule($event)" [(optionLoading)]="loading"
        [optionSelectForce]="this.dataModel.linkModuleId" [optionPlaceholder]="'TITLE.MODULE' | translate"
        [optionDisabled]="!fieldsInfo['linkModuleId']?.accessAddField">
      </app-cms-module-selector>
      <!-- CmsModuleClassName Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.cmsModuleClassName" class="color-highlight">{{
          fieldsInfo["cmsModuleClassName"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.cmsModuleClassName" name="dataModel.cmsModuleClassName"
          #CmsModuleClassName type="text" placeholder="{{fieldsInfo['title']?.fieldTitle }}"
          [disabled]="!fieldsInfo['cmsModuleClassName']?.accessAddField" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.cmsModuleClassName" />
        <i *ngIf="!CmsModuleClassName.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="CmsModuleClassName.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ CmsModuleClassName.value.length }} / 100</em>
        <mat-error *ngIf="CmsModuleClassName.errors?.required">
          {{fieldsInfo['cmsModuleClassName']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- ClassActionName Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.classActionName" class="color-highlight">{{ fieldsInfo["classActionName"]?.fieldTitle
          }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.classActionName" name="dataModel.classActionName"
          #ClassActionName type="text" placeholder="{{fieldsInfo['title']?.fieldTitle }}"
          [disabled]="!fieldsInfo['classActionName']?.accessAddField" class="form-control validate-name"
          id="dataModel.classActionName" />
        <mat-error *ngIf="ClassActionName.errors?.required">
          {{fieldsInfo['classActionName']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
    </form>
    <!--Content-->
  </div>
</div>