<!-- Install Prompt for Android -->
<div id="menu-install-pwa-android" [ngClass]="themeStore.dataMenu==='menu-install-pwa-android'?'menu-active':''"
  class="menu menu-box-bottom rounded-m">
  <img class="mx-auto mt-4 rounded-m" src="assets/icons/icon-128x128.png" alt="img" width="90">
  <h4 class="text-center mt-4 mb-2">اپکیت در صفحه اصلی شما</h4>
  <p class="text-center boxed-text-xl">
    اپکیت را روی صفحه اصلی خود نصب کنید و مانند یک برنامه معمولی به آن دسترسی داشته باشید. به همین سادگی!
  </p>
  <div class="boxed-text-l">
    <a class="pwa-install mx-auto btn btn-s font-600 bg-highlight">افزودن به صفحه اصلی</a>
    <a class="pwa-dismiss close-menu btn-full mt-3 pt-2 text-center font-600 color-red-light font-12 pb-4 mb-3">شاید
      بعدا</a>
  </div>
</div>
