<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>
    <h4>تنظیمات مسیر</h4>
    <p>
      تنظیمات و مقادیر را نسب به راهنمایی دریافتی از سرویس دهنده وارد کنید
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
        [(model)]="dataModel.recordStatus" [optionDisabled]="false"
        [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



      <!-- Title Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
          placeholder="{{fieldsInfo['title']?.fieldTitle }}" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.title" />
        <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ Title.value.length }} / 100</em>
        <mat-error *ngIf="Title.errors?.required">
          Title is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- LinkApiPathCompanyId Field -->
      <app-sms-apipathcompany-selector (optionChange)="onActionSelectorSelectLinkApiPathCompanyId($event)"
        [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkApiPathCompanyId"
        [optionPlaceholder]="this.translate.instant('TITLE.Service_Company')">
      </app-sms-apipathcompany-selector>
      <!-- LinkPublicConfigId Field -->
      <app-sms-publicconfig-selector (optionChange)="onActionSelectSource($event)" [(optionLoading)]="loading"
        [optionDisabled]="!fieldsInfo['linkPublicConfigId']?.accessAddField"
        [optionSelectForce]="dataModel.linkPublicConfigId"
        [optionPlaceholder]="this.translate.instant('TITLE.Account_Type')">
      </app-sms-publicconfig-selector>
      <!-- Description Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
        <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
          placeholder="{{ fieldsInfo['description']?.fieldTitle }}" minlength="1" maxlength="500" rows="5"
          id="dataModel.description" class="form-control validate-name"></textarea>
        <em>{{ Description.value.length }} / 500</em>
        <mat-error *ngIf="Description.errors?.required">
          Description is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- MaxProcessFlowAmount Field -->
      <div *ngIf="fieldsInfo['maxProcessFlowAmount']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.maxProcessFlowAmount" class="color-highlight">{{
          fieldsInfo["maxProcessFlowAmount"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.maxProcessFlowAmount" name="dataModel.maxProcessFlowAmount"
          #MaxProcessFlowAmount type="number" placeholder="Currency Unit Ratio By Shop"
          [disabled]="!fieldsInfo['maxProcessFlowAmount']?.accessAddField" class="form-control validate-name"
          id="dataModel.maxProcessFlowAmount" />
      </div>
      <!-- MinProcessFlowAmount Field -->
      <div *ngIf="fieldsInfo['minProcessFlowAmount']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.minProcessFlowAmount" class="color-highlight">{{
          fieldsInfo["minProcessFlowAmount"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.minProcessFlowAmount" name="dataModel.minProcessFlowAmount"
          #MinProcessFlowAmount type="number" placeholder="Min Transaction Amount"
          [disabled]="!fieldsInfo['minProcessFlowAmount']?.accessAddField" class="form-control validate-name"
          id="dataModel.minProcessFlowAmount" />
      </div>
      <!-- FixFeeProcessFlowAmount Field -->
      <div *ngIf="fieldsInfo['fixFeeProcessFlowAmount']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.fixFeeProcessFlowAmount" class="color-highlight">{{
          fieldsInfo["fixFeeProcessFlowAmount"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.fixFeeProcessFlowAmount"
          name="dataModel.fixFeeProcessFlowAmount" #FixFeeProcessFlowAmount type="number"
          placeholder="Max Transaction Amount" [disabled]="!fieldsInfo['fixFeeProcessFlowAmount']?.accessAddField"
          class="form-control validate-name" id="dataModel.fixFeeProcessFlowAmount" />
      </div>
      <!-- PercentFeeProcessFlowAmount Field -->
      <div *ngIf="fieldsInfo['percentFeeProcessFlowAmount']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.percentFeeProcessFlowAmount" class="color-highlight">{{
          fieldsInfo["percentFeeProcessFlowAmount"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.percentFeeProcessFlowAmount"
          name="dataModel.percentFeeProcessFlowAmount" #PercentFeeProcessFlowAmount type="number"
          placeholder="Percent Fee Transaction Amount"
          [disabled]="!fieldsInfo['percentFeeProcessFlowAmount']?.accessAddField" class="form-control validate-name"
          id="dataModel.percentFeeProcessFlowAmount" />
      </div>
      <!-- Memo Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.memo" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
        <textarea matInput [(ngModel)]="dataModel.memo" name="dataModel.memo" type="text"
          placeholder="{{ fieldsInfo['description']?.fieldTitle }}" minlength="1" maxlength="500" rows="5"
          id="dataModel.memo" class="form-control validate-name"></textarea>
      </div>

      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
    </form>

    <!--content-->
  </div>
</div>