<app-progress-spinner [options]="loading"> </app-progress-spinner>

<div class="card card-style" *ngIf="!this.loading.display">
  <div class="content">
    <p class="mb-0 font-600 color-highlight">{{dataModelResult.item?.title}}</p>
    <h1>{{dataModelResult.item?.aboutUsTitle}}</h1>
    <p>{{dataModelResult.item?.aboutUsDescription}}
    </p>
  </div>
</div>

<div class="row mb-0" *ngIf="!this.loading.display">
  <div class="col-12 pe-0">
    <div class="card card-style">

      <div class="divider"></div>
      <h3 *ngIf="dataModelResult.item?.aboutUsAddress?.length>0" class="font-700">اطلاعات پستی</h3>
      <p *ngIf="dataModelResult.item?.aboutUsAddress?.length>0" class="pb-0 mb-0">
        {{dataModelResult.item?.aboutUsAddress}}
      </p>

      <div class="divider"></div>


      <div class="list-group list-custom-small">
        <a *ngIf="dataModelResult.item?.aboutUsTel?.length>0" href="tel:{{dataModelResult.item?.aboutUsTel}}"
          class="external-link">
          <i class="fa font-14 fa-phone color-phone"></i>
          <span class="input-ltr-right">
            {{dataModelResult.item?.aboutUsTel}}
          </span>
          <span class="badge bg-highlight">تماس</span>
          <i class="fa fa-angle-left"></i>
        </a>
        <a *ngIf="dataModelResult.item?.aboutUsMobile?.length>0" href="tel:{{dataModelResult.item?.aboutUsMobile}}"
          class="external-link">
          <i class="fa font-14 fa-phone color-phone"></i>
          <span class="input-ltr-right">
            {{dataModelResult.item?.aboutUsMobile}}
          </span>
          <span class="badge bg-highlight">همراه</span>
          <i class="fa fa-angle-left"></i>
        </a>
        <a *ngIf="dataModelResult.item?.aboutUsEmail?.length>0" href="mailto:{{dataModelResult.item?.aboutUsEmail}}"
          class="external-link">
          <i class="fa font-14 fa-envelope color-mail"></i>
          <span class="input-ltr-right">{{dataModelResult.item?.aboutUsEmail}}</span>
          <span class="badge bg-highlight">ارسال ایمیل</span>
          <i class="fa fa-angle-left"></i>
        </a>
        <a *ngIf="dataModelResult.item?.aboutUsLinkFacebook?.length>0"
          href="https://www.facebook.com/{{dataModelResult.item?.aboutUsLinkFacebook}}/" class="external-link">
          <i class="fab font-14 fa-facebook color-facebook"></i>
          <span>{{dataModelResult.item?.aboutUsLinkFacebook}}</span>
          <i class="fa fa-link"></i>
        </a>
        <a *ngIf="dataModelResult.item?.aboutUsLinkTwitter?.length>0"
          href="https://twitter.com/{{dataModelResult.item?.aboutUsLinkTwitter}}" class="external-link">
          <i class="fab font-14 fa-twitter-square color-twitter"></i>
          <span>&#64;{{dataModelResult.item?.aboutUsLinkTwitter}}</span>
          <i class="fa fa-link"></i>
        </a>
        <a *ngIf="dataModelResult.item?.aboutUsLinklinkedin?.length>0" href="#" class="border-0">
          <i class="fab font-14 fa-linkedin color-linkedin"></i>
          <span>&#64;{{dataModelResult.item?.aboutUsLinklinkedin}}</span>
          <i class="fa fa-link"></i>
        </a>

      </div>


    </div>
  </div>
</div>


<div class="row mb-0" *ngIf="loadDemoTheme">
  <div class="col-6 pe-0">
    <div class="card card-style">
      <img src="assets/images/pictures/16t.jpg" class="img-fluid">
      <div class="p-2">
        <p class="font-600 color-highlight mb-0">توسعه</p>
        <h4 class="pt-2">آقای کد</h4>
        <p class="mb-2">
          یک شوهر و توسعه دهنده فرانت اند در راست چین
        </p>
      </div>
    </div>
  </div>
  <div class="col-6 ps-0">
    <div class="card card-style">
      <img src="assets/images/pictures/2t.jpg" class="img-fluid">
      <div class="p-2">
        <p class="font-600 color-highlight mb-0">فروش</p>
        <h4 class="pt-2">خانم کد</h4>
        <p class="mb-2">
          یک همسر و کارشناس بازاریابی در راست چین
        </p>
      </div>
    </div>
  </div>
</div>

<div class="card card-style" *ngIf="loadDemoTheme">
  <div class="content">
    <p class="mb-0 font-600 color-highlight">یک بیوگرافی بسیار کوتاه</p>
    <h1>ارزش ما</h1>
    <p>
      این یک نوشته آزمایشی است که به طراحان و برنامه نویسان کمک میکند تا این عزیزان با بهره گیری از این نوشته تستی
      و آزمایشی بتوانند نمونه تکمیل شده از پروژه و طرح خودشان را به کارفرما نمایش دهند، استفاده از این متن تستی.
    </p>

    <div class="d-flex mb-4">
      <div class="align-self-center"><i class="fad fa-code color-highlight fa-4x icon-70 text-center"></i></div>
      <div class="me-auto ps-4">
        <h4>کیفیت کد</h4>
        <p>
          ما محصولاتی را ایجاد می کنیم که می خواهیم برای خود استفاده کنیم و باعث افتخار ماست
        </p>
      </div>
    </div>

    <div class="d-flex mb-4">
      <div class="align-self-center"><i class="fad fa-life-ring color-orange-dark fa-4x icon-70 text-center"></i>
      </div>
      <div class="me-auto ps-4">
        <h4>پشتیبانی</h4>
        <p>
          ما با مشتریانمان طوری رفتار می کنیم که دوست داریم با ما رفتار شود. ما همیشه برای شما اینجا هستیم!
        </p>
      </div>
    </div>

    <div class="d-flex">
      <div class="align-self-center"><i class="fad fa-trophy color-yellow-dark fa-4x icon-70 text-center"></i>
      </div>
      <div class="me-auto ps-4">
        <h4>احترام</h4>
        <p>
          ما مشهور شدیم زیرا به مشتریان و محصولات خود اهمیت می دادیم
        </p>
      </div>
    </div>

  </div>
</div>



<div class="card card-style"
  *ngIf="!this.loading.display && dataModelResult.item?.aboutUsPrivacyPolicyHtmlBody?.length>0">
  <div class="content">
    <p class="mb-0 font-600 color-highlight">سیاست حریم خصوصی</p>
    <p [innerHTML]="dataModelResult.item?.aboutUsPrivacyPolicyHtmlBody">
    </p>
  </div>
</div>

<div class="card card-style" *ngIf="!this.loading.display && dataModelResult.item?.aboutUsLicensesHtmlBody?.length>0">
  <div class="content">
    <p class="mb-0 font-600 color-highlight">مجوزات خدمت</p>
    <div [innerHTML]="dataModelResult.item?.aboutUsLicensesHtmlBody">
    </div>
  </div>
</div>


<div class="row px-3" *ngIf="!this.loading.display">
  <div class="col-6 p-0" *ngIf=" dataModelResult.item?.aboutUsLinkFacebook?.length>0">
    <a class="card card-style me-1 mb-2 bg-facebook p-3">
      <i class="fab fa-facebook fa-3x color-white text-center"></i>
      <p class="font-11 text-center pt-2 mb-0 color-white">{{dataModelResult.item?.aboutUsLinkFacebook}}</p>
    </a>
  </div>
  <div class="col-6 p-0" *ngIf="dataModelResult.item?.aboutUsLinkInstagram?.length>0">
    <a class="card card-style ms-1 mb-2 bg-twitter p-3">
      <i class="fab fa-twitter fa-3x color-white text-center"></i>
      <p class="font-11 text-center pt-2 mb-0 color-white">&#64;{{dataModelResult.item?.aboutUsLinkTwitter}}</p>
    </a>
  </div>
  <div class="col-6 p-0" *ngIf="dataModelResult.item?.aboutUsLinkInstagram?.length>0">
    <a class="card card-style me-1 mb-0 bg-instagram p-3">
      <i class="fab fa-instagram fa-3x color-white text-center"></i>
      <p class="font-11 text-center pt-2 mb-0 color-white">{{dataModelResult.item?.aboutUsLinkInstagram}}</p>
    </a>
  </div>
  <div class="col-6 p-0" *ngIf="dataModelResult.item?.aboutUsEmail?.length>0">
    <a class="card card-style ms-1 mb-0 bg-green-dark p-3">
      <i class="fa fa-envelope fa-3x color-white text-center"></i>
      <p class="font-11 text-center pt-2 mb-0 color-white">{{dataModelResult.item?.aboutUsEmail}}</p>
    </a>
  </div>
</div>



<!-- Page content ends here-->