<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <!--content-->
  <p class="font-600 color-highlight mb-0">بازنشانی حساب</p>
  <!--begin::Title-->
  <p>
    {{'AUTH.FORGOT.DESCSMS' | translate}}
  </p>
  <!--end::Title-->
  <!--begin::Form-->
  <form *ngIf="forgetState==='sms'" class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
    #vformBySms="ngForm" (ngSubmit)="onActionSubmitOrderCodeBySms()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--Mobile Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-at"></i>
      <input type="text" [(ngModel)]="dataModelforgetPasswordBySms.mobile" name="dataModelforgetPasswordBySms.mobile"
        [disabled]=" !formInfo.buttonSubmittedEnabled" #Mobile class="form-control validate-name"
        id="dataModelforgetPasswordBySms.mobile" placeholder="{{'AUTH.FORGOT.MOBILE' | translate}}" autocomplete="off"
        minlength="5" maxlength="50" required>
      <label for="dataModelforgetPasswordBySms.mobile" class="color-highlight font-11 font-500">{{'AUTH.FORGOT.MOBILE' |
        translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="Mobile.errors?.required">
        {{'AUTH.FORGOT.MOBILE' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </div>
    <!--captchaText Field-->
    <img src="{{captchaModel.image}}" (click)="onCaptchaOrder()" class="mb-3" alt="">
    <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-quote-left"></i>
      <input [(ngModel)]="dataModelforgetPasswordBySms.captchaText" name="dataModelforgetPasswordBySms.captchaText"
        #captchaText id="dataModelforgetPasswordBySms.captchaText" [disabled]=" !formInfo.buttonSubmittedEnabled"
        type="text" class="form-control validate-name" placeholder="{{'AUTH.INPUT.CAPTCHACODE' | translate}}"
        minlength="5" maxlength="5" autocomplete="off" required>
      <label for="dataModelforgetPasswordBySms.captchaText" class="color-highlight">{{'AUTH.INPUT.CAPTCHACODE' |
        translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="captchaText.errors?.required">
        {{'AUTH.INPUT.CAPTCHACODE' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </div>
    <button type="submit" [disabled]="vformBySms.invalid || !formInfo.buttonSubmittedEnabled" style="width: 100%;"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}}
    </button>
    <button type="button" (click)="changeforgetState('email')" [disabled]="!formInfo.buttonSubmittedEnabled"
      style="width: 100%;" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'MESSAGE.Reminders.by.email' |
      translate}}
    </button>
  </form>
  <!--end::Form-->
  <!--begin::Form-->
  <form *ngIf="forgetState==='email'" class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
    #vformByEmail="ngForm" (ngSubmit)="onActionSubmitOrderCodeByEmail()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">
    <!--email Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-at"></i>
      <input type="email" [(ngModel)]="dataModelforgetPasswordByEmail.email" name="dataModelforgetPasswordByEmail.email"
        [disabled]=" !formInfo.buttonSubmittedEnabled" #email class="form-control validate-name"
        id="dataModelforgetPasswordByEmail.email" placeholder="{{'AUTH.FORGOT.EMAIL' | translate}}" autocomplete="off"
        minlength="5" maxlength="50" required>
      <label for="dataModelforgetPasswordByEmail.email" class="color-highlight font-11 font-500">{{'AUTH.FORGOT.EMAIL' |
        translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="email.errors?.required">
        {{'AUTH.FORGOT.EMAIL' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </div>
    <!--captchaText Field-->
    <img src="{{captchaModel.image}}" (click)="onCaptchaOrder()" class="mb-3" alt="">
    <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-quote-left"></i>
      <input [(ngModel)]="dataModelforgetPasswordByEmail.captchaText" name="dataModelforgetPasswordByEmail.captchaText"
        #captchaText id="dataModelforgetPasswordByEmail.captchaText" [disabled]=" !formInfo.buttonSubmittedEnabled"
        type="text" class="form-control validate-name" placeholder="{{'AUTH.INPUT.CAPTCHACODE' | translate}}"
        minlength="5" maxlength="5" autocomplete="off" required>
      <label for="dataModelforgetPasswordByEmail.captchaText" class="color-highlight">{{'AUTH.INPUT.CAPTCHACODE' |
        translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="captchaText.errors?.required">
        {{'AUTH.INPUT.CAPTCHACODE' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </div>
    <button type="submit" [disabled]="vformByEmail.invalid || !formInfo.buttonSubmittedEnabled" style="width: 100%;"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}}
    </button>
    <button type="button" (click)="changeforgetState('sms')" [disabled]="!formInfo.buttonSubmittedEnabled"
      style="width: 100%;" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'MESSAGE.Reminder.by.SMS' | translate}}
    </button>

  </form>
  <!--end::Form-->

  <!--begin::Form-->
  <form *ngIf="forgetState==='entrycode'" class="form fv-plugins-bootstrap fv-plugins-framework" novalidate="novalidate"
    #vformEntryCode="ngForm" (ngSubmit)="onActionSubmitEntryPinCode()" id="kt_login_forgot_form" [ngStyle]="{
      display: errorState === errorStates.NoError ? 'none' : 'block'
    }">

    <!--activateCode Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-at"></i>
      <input [(ngModel)]="dataModelforgetPasswordEntryPinCode.activateCode"
        name="dataModelforgetPasswordEntryPinCode.activateCode" [disabled]=" !formInfo.buttonSubmittedEnabled"
        #ActivateCode type="text" autocomplete="off" placeholder=" {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}}"
        class="form-control validate-name" id="dataModelforgetPasswordEntryPinCode.activateCode" minlength="3"
        maxlength="5" required />
      <label for="dataModelforgetPasswordEntryPinCode.activateCode" class="color-highlight font-11 font-500">
        {{'AUTH.FORGOT.PIN_CODE' | translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="ActivateCode.errors?.required">
        {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </div>

    <!--newPassword Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-lock"></i>
      <input [(ngModel)]="dataModelforgetPasswordEntryPinCode.newPassword"
        name="dataModelforgetPasswordEntryPinCode.newPassword" id="dataModelforgetPasswordEntryPinCode.newPassword"
        [disabled]=" !formInfo.buttonSubmittedEnabled" #newPassword type="password" autocomplete="off"
        placeholder=" {{'AUTH.FORGOT.PASSWORD' | translate}}" minlength="3" maxlength="50" required
        class="form-control validate-name" />
      <label for="dataModelforgetPasswordEntryPinCode.newPassword" class="color-highlight font-11 font-500">
        {{'AUTH.FORGOT.PASSWORD' | translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="newPassword.errors?.required">
        {{'AUTH.FORGOT.PASSWORD' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </div>
    <app-password-strength [passwordToCheck]="dataModelforgetPasswordEntryPinCode.newPassword"
      (passwordStrength)="passwordValid($event)"></app-password-strength>


    <!--RePasswordModel Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-lock"></i>
      <input type="password" class="form-control validate-name" id="RePassword"
        placeholder="{{'AUTH.INPUT.CONFIRM_PASSWORD' | translate}}" [(ngModel)]="RePasswordModel" name="RePasswordModel"
        [disabled]=" !formInfo.buttonSubmittedEnabled" #RePassword autocomplete="off" minlength="3" maxlength="50"
        required>
      <label for="RePassword" class="color-highlight">{{'AUTH.INPUT.CONFIRM_PASSWORD' | translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="RePassword.errors?.required">
        {{'AUTH.INPUT.CONFIRM_PASSWORD' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
      <mat-error *ngIf="RePasswordModel?.length>0 &&RePassword.value!==newPassword.value">
        {{'MESSAGE.Password_and_password_confirmation_are_different' | translate}}
      </mat-error>
    </div>

    <!--captchaText Field-->
    <img src="{{captchaModel.image}}" (click)="onCaptchaOrder()" class="mb-3" alt="">
    <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-quote-left"></i>
      <input [(ngModel)]="dataModelforgetPasswordEntryPinCode.captchaText"
        name="dataModelforgetPasswordEntryPinCode.captchaText" #captchaText
        id="dataModelforgetPasswordEntryPinCode.captchaText" [disabled]=" !formInfo.buttonSubmittedEnabled" type="text"
        class="form-control validate-name" placeholder="{{'AUTH.INPUT.CAPTCHACODE' | translate}}" autocomplete="off"
        minlength="4" maxlength="10" required>
      <label for="dataModelforgetPasswordEntryPinCode.captchaText" class="color-highlight">{{'AUTH.INPUT.CAPTCHACODE' |
        translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>
      <em>({{'TITLE.Necessary'| translate}})</em>
      <mat-error *ngIf="captchaText.errors?.required">
        {{'AUTH.INPUT.CAPTCHACODE' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
      </mat-error>
    </div>
    <button type="submit" [disabled]="vformEntryCode.invalid || !formInfo.buttonSubmittedEnabled" style="width: 100%;"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'AUTH.FORGOT.SEND_PIN_CODE' | translate}}
    </button>
    <button type="button" (click)="changeforgetState('sms')" [disabled]="!formInfo.buttonSubmittedEnabled"
      style="width: 100%;" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'MESSAGE.Reminder.by.SMS' | translate}}
    </button>
    <button type="button" (click)="changeforgetState('email')" [disabled]="!formInfo.buttonSubmittedEnabled"
      style="width: 100%;" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'MESSAGE.Resend_the_recovery_code' | translate}}
    </button>
  </form>
  <!--end::Form-->

  <ng-template #formError let-control="control" let-message="message" let-validation="validation">
    <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
      <div class="fv-plugins-message-container">
        <div class="fv-help-block">
          {{ message }}
        </div>
      </div>
    </ng-container>
  </ng-template>


  <div class="row pt-3 mb-0">
    <div class="col-6 text-start">
      <a [routerLink]="['/auth/singin']" class="color-highlight">{{'AUTH.REGISTER.RETURN_TO_LOGIN' |
        translate}}</a>
    </div>
    <div class="col-6 text-end">
      <a [routerLink]="['/auth/singup']" class="color-highlight">{{ 'AUTH.GENERAL.SIGNUP_BUTTON' | translate
        }}</a>
    </div>
  </div>
  <!--content-->
</div>