<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="{{'TITLE.Menu_Profile' | translate}}" state="main">
          <!-- RecordStatus Field -->
          <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
            [(model)]="dataModel.recordStatus" [optionDisabled]="false"
            [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
            [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



          <app-webdesigner-menu-selector (optionChange)="onActionSelectorSelect($event)" [optionDisabled]="false"
            [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkParentId"
            [optionPlaceholder]="'TITLE.Parent_Menu' | translate">
          </app-webdesigner-menu-selector>
          <!-- Title Field -->
          <div *ngIf="fieldsInfo['title']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
              placeholder="{{fieldsInfo['title']?.fieldTitle }}" [disabled]="!fieldsInfo['title']?.accessEditField"
              minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.title" />
            <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
            <em>{{ Title.value.length }} / 100</em>
            <mat-error *ngIf="Title.errors?.required">
              {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- TitleML Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.titleML" class="color-highlight"> {{'TITLE.TitleML' | translate}}</label>
            <input matInput type="text" [(ngModel)]="dataModel.titleML" name="dataModel.titleML" [disabled]="true"
              class="form-control validate-name" id="dataModel.titleML" />
          </div>
          <!-- TitleResourceLanguage Field -->
          <div *ngIf="fieldsInfo['titleResourceLanguage']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.titleResourceLanguage" class="color-highlight">{{
              fieldsInfo["titleResourceLanguage"]?.fieldTitle }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.titleResourceLanguage"
              name="dataModel.titleResourceLanguage" #TitleResourceLanguage
              placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}"
              [disabled]="!fieldsInfo['titleResourceLanguage']?.accessEditField" class="form-control validate-name"
              id="dataModel.titleResourceLanguage" />
            <mat-error *ngIf="TitleResourceLanguage.errors?.required">
              {{fieldsInfo['titleResourceLanguage']?.fieldTitle}} is <strong>{{'MESSAGE.required' |
                translate}}</strong>
            </mat-error>
          </div>
          <!-- RouteAddressLink Field -->
          <div *ngIf="fieldsInfo['routeAddressLink']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.routeAddressLink" class="color-highlight">{{
              fieldsInfo["routeAddressLink"]?.fieldTitle }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.routeAddressLink" name="dataModel.routeAddressLink"
              #RouteAddressLink placeholder="{{fieldsInfo['routeAddressLink']?.fieldTitle}}"
              [disabled]="!fieldsInfo['routeAddressLink']?.accessEditField" minlength="0" maxlength="500"
              style="direction: ltr;text-align: left;" class="form-control validate-name"
              id="dataModel.routeAddressLink" />
            <em>{{ RouteAddressLink.value.length }} / 500</em>
          </div>
          <!-- RouteAddressBlankPage Field -->
          <div *ngIf="fieldsInfo['routeAddressBlankPage']?.accessWatchField" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.routeAddressBlankPage" class="font-600 font-14">
                {{fieldsInfo['routeAddressBlankPage']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.routeAddressBlankPage"
                  [(ngModel)]="this.dataModel.routeAddressBlankPage" name="dataModel.routeAddressBlankPage">
                <label class="custom-control-label" for="dataModel.routeAddressBlankPage"></label>
              </div>
            </div>
          </div>
          <!-- color Field -->
          <div *ngIf="fieldsInfo['color']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.color" class="color-highlight">{{ fieldsInfo["routeAddressLink"]?.fieldTitle
              }}</label>
            <input matInput type="text" [style.background]="dataModel.color" [ngxMatColorPicker]="colorPicker"
              [(ngModel)]="dataModel.color" name="dataModel.color" #color
              placeholder="{{fieldsInfo['color']?.fieldTitle}}" [disabled]="!fieldsInfo['color']?.accessAddField"
              class="form-control validate-name" id="dataModel.color" />
            <ngx-ntk-mat-color-toggle matSuffix [for]="colorPicker"></ngx-ntk-mat-color-toggle>
            <ngx-ntk-mat-color-picker #colorPicker [touchUi]="true" [color]="'primary'"></ngx-ntk-mat-color-picker>
          </div>
          <!-- Icon Field -->
          <div *ngIf="fieldsInfo['icon']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.icon" class="color-highlight">{{ fieldsInfo["icon"]?.fieldTitle }}</label>
            <input matInput type="text" [iconPicker]="dataModel.icon" [ipIconPack]="['fa']" [ipPosition]="'top'"
              (iconPickerSelect)="onIconPickerSelect($event)" [(ngModel)]="dataModel.icon" name="dataModel.icon" #icon
              placeholder="{{fieldsInfo['icon']?.fieldTitle}}" [disabled]="!fieldsInfo['icon']?.accessEditField"
              class="form-control validate-name" id="dataModel.icon" />
          </div>
          <!-- ShowInMenuOrder Field -->
          <div *ngIf="fieldsInfo['showInMenuOrder']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.showInMenuOrder" class="color-highlight">{{ fieldsInfo["showInMenuOrder"]?.fieldTitle
              }}</label>
            <input matInput type="number" [(ngModel)]="dataModel.showInMenuOrder" name="dataModel.showInMenuOrder"
              #ShowInMenuOrder placeholder="{{fieldsInfo['showInMenuOrder']?.fieldTitle}}"
              [disabled]="!fieldsInfo['showInMenuOrder']?.accessEditField" class="form-control validate-name"
              id="dataModel.showInMenuOrder" />
          </div>
          <!-- Description Field -->
          <div *ngIf="fieldsInfo['description']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
            <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
              placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows="1"
              id="dataModel.description" class="form-control validate-name">
              </textarea>
            <em>{{ Description.value.length }} / 500</em>
            <mat-error *ngIf="Description.errors?.required">
              {{ fieldsInfo["description"]?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="form-actions">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
              (click)="onFormCancel()">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="main">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="seo">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="file">
          <mat-icon>forum</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="loaction">
          <mat-icon>forum</mat-icon>
        </ng-template>

      </mat-horizontal-stepper>
    </form>

    <!--Content-->
  </div>
</div>