<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <mat-horizontal-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
          <!-- RecordStatus Field -->
          <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
            [(model)]="dataModel.recordStatus" [optionDisabled]="false"
            [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
            [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



          <app-ticketing-departemen-selector (optionChange)="onActionSelectSource($event)" [(optionLoading)]="loading"
            [optionSelectForce]="this.dataModel.linkTicketingDepartemenId"
            [optionPlaceholder]="this.translate.instant('TITLE.Department')"
            [optionDisabled]="!fieldsInfo['linkTicketingDepartemenId']?.accessEditField">
          </app-ticketing-departemen-selector>
          <!-- FullName Field -->
          <div *ngIf="fieldsInfo['fullName']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.fullName" class="color-highlight">{{ fieldsInfo['fullName']?.fieldTitle }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.fullName" name="dataModel.fullName" #FullName
              placeholder="{{fieldsInfo['fullName']?.fieldTitle}}" [disabled]="!fieldsInfo['fullName']?.accessEditField"
              minlength="3" maxlength="1000" required class="form-control validate-name" id="dataModel.fullName" />
            <i *ngIf="!FullName.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="FullName.value" class="fa fa-check  valid color-green-dark"></i>
            <em>{{ FullName.value.length }} / 100</em>
            <mat-error *ngIf="FullName.errors?.required">
              {{ fieldsInfo['fullName']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- Title Field -->
          <div *ngIf="fieldsInfo['title']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
              placeholder="{{fieldsInfo['title']?.fieldTitle }}" [disabled]="!fieldsInfo['title']?.accessEditField"
              minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.title" />
            <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
            <em>{{ Title.value.length }} / 100</em>
            <mat-error *ngIf="Title.errors?.required">
              {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- PhoneNo Field -->
          <div *ngIf="fieldsInfo['phoneNo']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.phoneNo" class="color-highlight">{{ fieldsInfo["phoneNo"]?.fieldTitle }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.phoneNo" name="dataModel.phoneNo" #PhoneNo type="text"
              placeholder="{{fieldsInfo['phoneNo']?.fieldTitle}}" [disabled]="!fieldsInfo['phoneNo']?.accessEditField"
              minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.phoneNo" />
            <i *ngIf="!PhoneNo.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="PhoneNo.value" class="fa fa-check  valid color-green-dark"></i>
            <em>{{ PhoneNo.value.length }} / 100</em>
            <mat-error *ngIf="PhoneNo.errors?.required">
              {{ fieldsInfo['phoneNo']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- Email Field -->
          <div *ngIf="fieldsInfo['email']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.email" class="color-highlight">{{ fieldsInfo["email"]?.fieldTitle }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.email" name="dataModel.email" #Email type="text"
              placeholder="{{fieldsInfo['email']?.fieldTitle}}" [disabled]="!fieldsInfo['email']?.accessEditField"
              minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.email" />
            <i *ngIf="!Email.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="Email.value" class="fa fa-check  valid color-green-dark"></i>
            <em>{{ Email.value.length }} / 100</em>
            <mat-error *ngIf="Email.errors?.required">
              {{ fieldsInfo['email']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- HtmlBody Field -->
          <div *ngIf="fieldsInfo['htmlBody']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.htmlBody" class="color-highlight">{{'TITLE.Description' | translate}}</label>
            <textarea matInput [(ngModel)]="dataModel.htmlBody" name="dataModel.htmlBody" #HtmlBody type="text"
              placeholder="{{'TITLE.Description' | translate}}" minlength="0" maxlength="1000"
              [disabled]="!fieldsInfo['htmlBody']?.accessEditField" rows="5" id="dataModel.htmlBody"
              class="form-control validate-name">
                        </textarea>
            <em>{{ HtmlBody.value.length }} / 1000</em>
          </div>
          <!-- ExpireDate Field -->
          <div *ngIf="fieldsInfo['expireDate']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.expireDate" class="color-highlight">{{ fieldsInfo["expireDate"]?.fieldTitle }}</label>
            <input matInput [matDatepicker]="ExpireDate" type="text" [(ngModel)]="dataModel.expireDate"
              name="dataModel.expireDate" type="text" class="form-control validate-name" id="dataModel.expireDate" />
            <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #ExpireDate></mat-datepicker>
          </div>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="form-actions">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
              (click)="onActionBackToParent()">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>

        <mat-step label="{{'TITLE.REST_OF_THE_INFORMATION' | translate}}" state="seo">
          <p>{{'TITLE.Rest_of_Information' | translate}}</p>
          <!-- UserIpAddress Field -->
          <div *ngIf="fieldsInfo['userIpAddress']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.userIpAddress" class="color-highlight">{{ fieldsInfo["userIpAddress"]?.fieldTitle
              }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.userIpAddress" name="dataModel.userIpAddress"
              #UserIpAddress type="text" placeholder="{{fieldsInfo['userIpAddress']?.fieldTitle }}"
              [disabled]="!fieldsInfo['userIpAddress']?.accessEditField" minlength="0" maxlength="100"
              class="form-control validate-name" id="dataModel.userIpAddress" />
            <em>{{ UserIpAddress.value.length }} / 100</em>
          </div>
          <!-- DeviceInformation Field -->
          <div *ngIf="fieldsInfo['deviceInformation']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.deviceInformation" class="color-highlight">{{ fieldsInfo["userIpAddress"]?.fieldTitle
              }}</label>
            <input matInput type="text" [(ngModel)]="dataModel.deviceInformation" name="dataModel.deviceInformation"
              #DeviceInformation type="text" placeholder="{{fieldsInfo['deviceInformation']?.fieldTitle }}"
              [disabled]="!fieldsInfo['deviceInformation']?.accessEditField" minlength="0" maxlength="100"
              class="form-control validate-name" id="dataModel.deviceInformation" />
            <em>{{ DeviceInformation.value.length }} / 100</em>
          </div>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="form-actions">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
    <!--Content-->
  </div>
</div>