<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm" [ngStyle]="{'direction' : tokenInfo.direction }">
      <mat-vertical-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
          <!-- LinkMainImageId Field -->
          <div class="mb-3">
            <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
              <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
                aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
            </a>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label (click)="fileManagerOpenForm = true" for="dataModel.linkMainImageId"
              class="color-highlight">{{'MESSAGE. Photo_of_estate_agency' |translate}}</label>
            <input matInput type="text" [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId"
              #LinkMainImageId placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" class="form-control validate-name" id="dataModel.linkMainImageId" />
            <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage" [isPopup]="true"
              [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
              [openDirectUploadView]="true" [selectFileType]="selectFileTypeMainImage"
              [openFilemanagerButtonView]="false">
            </cms-file-manager>
          </div>
          <!-- Title Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
            <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title
              placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required
              [disabled]="!fieldsInfo['title']?.accessEditField" class="form-control validate-name"
              id="dataModel.title" />
            <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
            <em></em>
            <mat-error *ngIf="Title.errors?.required">
              Title is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- Description Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
            <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
              placeholder="{{fieldsInfo['description']?.fieldTitle}}"
              [disabled]="!fieldsInfo['description']?.accessEditField" minlength="1" maxlength="500" rows="5"
              id="dataModel.description" class="form-control validate-name">
                    </textarea>
            <em>{{ Description.value.length }} / 500</em>
            <mat-error *ngIf="Description.errors?.required">
              Description is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- DescriptionHidden Field -->
          <div *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.descriptionHidden" class="color-highlight">{{'TITLE.Description_Hidden' |
              translate}}</label>
            <textarea matInput [(ngModel)]="dataModel.descriptionHidden" name="dataModel.descriptionHidden"
              #DescriptionHidden type="text" placeholder="{{fieldsInfo['descriptionHidden']?.fieldTitle}}"
              disabled="{{!fieldsInfo   ['descriptionHidden']?.accessEditField}}" minlength="0" maxlength="500" rows="5"
              id="dataModel.descriptionHidden" class="form-control validate-name">
                    </textarea>
            <em>{{ DescriptionHidden.value.length }} / 500</em>
          </div>
          <!-- LinkCmsUserId Field -->
          <app-cms-user-selector *ngIf="this.tokenHelper.isAdminSite" (optionChange)="onActionSelectorUser($event)"
            [(optionLoading)]="loading" [optionDisabled]="!fieldsInfo['linkCmsUserId']?.accessEditField"
            [optionSelectForce]="dataModel.linkCmsUserId" [optionPlaceholder]="this.translate.instant('TITLE.USER')">
          </app-cms-user-selector>
          <!-- PhoneNumber Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.phoneNumber" class="color-highlight">{{fieldsInfo['phoneNumber']?.fieldTitle}}</label>
            <input matInput [(ngModel)]="dataModel.phoneNumber" name="dataModel.phoneNumber" #PhoneNumber type="text"
              placeholder="{{fieldsInfo['phoneNumber']?.fieldTitle}}"
              [disabled]="!fieldsInfo['phoneNumber']?.accessEditField" minlength="0" maxlength="64"
              id="dataModel.phoneNumber" class="form-control validate-name">
            <em>{{ PhoneNumber.value.length }} / 64</em>
          </div>
          <!-- MobileNumber Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.mobileNumber"
              class="color-highlight">{{fieldsInfo['mobileNumber']?.fieldTitle}}</label>
            <input matInput [(ngModel)]="dataModel.mobileNumber" name="dataModel.mobileNumber" #mobileNumber type="text"
              placeholder="{{fieldsInfo['mobileNumber']?.fieldTitle}}"
              [disabled]="!fieldsInfo['mobileNumber']?.accessAddField" minlength="0" maxlength="64"
              id="dataModel.mobileNumber" class="form-control validate-name">
            <em>{{ mobileNumber.value.length }} / 64</em>
          </div>
          <!-- Address Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.address" class="color-highlight">{{fieldsInfo['address']?.fieldTitle}}</label>
            <textarea matInput [(ngModel)]="dataModel.address" name="dataModel.address" #Address type="text"
              placeholder="{{fieldsInfo['address']?.fieldTitle}}" [disabled]="!fieldsInfo['address']?.accessEditField"
              minlength="1" maxlength="500" rows="5" id="dataModel.address" class="form-control validate-name" required>
                    </textarea>
            <i *ngIf="!Address.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="Address.value" class="fa fa-check  valid color-green-dark"></i>
            <em>{{ Address.value.length }} / 500</em>
            <mat-error *ngIf="Address.errors?.required">
              Address is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- LinkLocationId Field -->
          <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
            [optionSelectForce]="dataModel.linkLocationId" [(optionLoading)]="loading"
            [optionPlaceholder]="this.translate.instant('TITLE.Geographical_Region')"
            [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField">
          </app-cms-location-selector>
          <br>
          {{'TITLE.COVERED_AREAS' | translate}}
          <!-- linkLocationWorkAreaIds Field -->
          <app-cms-location-autocomplete (optionChange)="onActionSelectorLocationWorkArea($event)"
            [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkLocationWorkAreaIds"
            [optionPlaceholder]="this.translate.instant('TITLE.Region')">
          </app-cms-location-autocomplete>
          <hr>
          <!-- AccessWatchRowSite Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.accessWatchRowSite" class="font-600 font-14">
                {{fieldsInfo['accessWatchRowSite']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.accessWatchRowSite"
                  [(ngModel)]="this.dataModel.accessWatchRowSite" name="dataModel.accessWatchRowSite">
                <label class="custom-control-label" for="dataModel.accessWatchRowSite"></label>
              </div>
            </div>
          </div>
          <!-- accessWatchRowOtherAgency Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.accessWatchRowOtherAgency" class="font-600 font-14">
                {{fieldsInfo['accessWatchRowOtherAgency']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.accessWatchRowOtherAgency"
                  [(ngModel)]="this.dataModel.accessWatchRowOtherAgency" name="dataModel.accessWatchRowOtherAgency">
                <label class="custom-control-label" for="dataModel.accessWatchRowOtherAgency"></label>
              </div>
            </div>
          </div>
          <!-- accessWatchRowOtherAgent Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.accessWatchRowOtherAgent" class="font-600 font-14">
                {{fieldsInfo['accessWatchRowOtherAgent']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.accessWatchRowOtherAgent"
                  [(ngModel)]="this.dataModel.accessWatchRowOtherAgent" name="dataModel.accessWatchRowOtherAgent">
                <label class="custom-control-label" for="dataModel.accessWatchRowOtherAgent"></label>
              </div>
            </div>
          </div>
          <!-- accessAllowShareRowWatchOtherAgency Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.accessAllowShareRowWatchOtherAgency" class="font-600 font-14">
                {{fieldsInfo['accessAllowShareRowWatchOtherAgency']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.accessAllowShareRowWatchOtherAgency"
                  [(ngModel)]="this.dataModel.accessAllowShareRowWatchOtherAgency"
                  name="dataModel.accessAllowShareRowWatchOtherAgency">
                <label class="custom-control-label" for="dataModel.accessAllowShareRowWatchOtherAgency"></label>
              </div>
            </div>
          </div>
          <!-- accessAllowShareRowWatchOtherAgent Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.accessAllowShareRowWatchOtherAgent" class="font-600 font-14">
                {{fieldsInfo['accessAllowShareRowWatchOtherAgent']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.accessAllowShareRowWatchOtherAgent"
                  [(ngModel)]="this.dataModel.accessAllowShareRowWatchOtherAgent"
                  name="dataModel.accessAllowShareRowWatchOtherAgent">
                <label class="custom-control-label" for="dataModel.accessAllowShareRowWatchOtherAgent"></label>
              </div>
            </div>
          </div>
          <hr>
          <!-- notificationWorkAreaEstate Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.notificationWorkAreaEstate" class="font-600 font-14">
                {{fieldsInfo['notificationWorkAreaEstate']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.notificationWorkAreaEstate"
                  [(ngModel)]="this.dataModel.notificationWorkAreaEstate" name="dataModel.notificationWorkAreaEstate">
                <label class="custom-control-label" for="dataModel.notificationWorkAreaEstate"></label>
              </div>
            </div>
          </div>
          <!-- notificationWorkAreaCustomerOrder Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.notificationWorkAreaCustomerOrder" class="font-600 font-14">
                {{fieldsInfo['notificationWorkAreaCustomerOrder']?.fieldTitle}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataModel.notificationWorkAreaCustomerOrder"
                  [(ngModel)]="this.dataModel.notificationWorkAreaCustomerOrder"
                  name="dataModel.notificationWorkAreaCustomerOrder">
                <label class="custom-control-label" for="dataModel.notificationWorkAreaCustomerOrder"></label>
              </div>
            </div>
          </div>
          <hr>
          <p>{{'TITLE.Click_on_the_map_to_specify_the_location' | translate}}</p>
          <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
            id='main-map'>
          </app-cms-map>
        </mat-step>

        <mat-step label="{{'TITLE.Property_personnel' | translate}}" state="file">
          <br>
          <app-estate-account-user-selector (optionChange)="onActionSelectorAccountUser($event)"
            [(optionLoading)]="loading" [optionDisabled]="!this.tokenHelper.isAdminSite"
            [optionPlaceholder]="this.translate.instant('TITLE.Property_personnel')">
          </app-estate-account-user-selector>
          <!-- accessShareAgencyToUser Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataModel.accessAllowShareRowWatchOtherAgency" class="font-600 font-14">
                accessShareAgencyToUser</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataEstateAccountAgencyUserModel.accessShareAgencyToUser"
                  [(ngModel)]="this.dataEstateAccountAgencyUserModel.accessShareAgencyToUser"
                  name="dataEstateAccountAgencyUserModel.accessShareAgencyToUser">
                <label class="custom-control-label"
                  for="dataEstateAccountAgencyUserModel.accessShareAgencyToUser"></label>
              </div>
            </div>
          </div>
          <!-- accessShareUserToAgency Field -->
          <div *ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite" class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataEstateAccountAgencyUserModel.accessShareUserToAgency"
                class="font-600 font-14">accessShareUserToAgency</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataEstateAccountAgencyUserModel.accessShareUserToAgency"
                  [(ngModel)]="this.dataEstateAccountAgencyUserModel.accessShareUserToAgency"
                  name="dataEstateAccountAgencyUserModel.accessShareUserToAgency">
                <label class="custom-control-label"
                  for="dataEstateAccountAgencyUserModel.accessShareUserToAgency"></label>
              </div>
            </div>
          </div>
          <button class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
            (click)="onActionDataGetAddGroup()"
            *ngIf="this.dataEstateAccountAgencyUserModel.linkEstateAccountUserId && this.dataEstateAccountAgencyUserModel.linkEstateAccountUserId.length>0"
            type="button">&#x2b;
          </button>
          <app-progress-spinner [options]="loadingOption">
          </app-progress-spinner>
          <!-- TABLE  -->
          <div class="example-container mat-elevation-z8" *ngIf="!loadingOption.display">
            <mat-table [dataSource]="optionTabledataSource" multiTemplateDataRows>
              <!-- LinkEstateAccountUserId Column -->
              <ng-container matColumnDef="LinkEstateAccountUserId">
                <mat-header-cell *matHeaderCellDef>
                  {{fieldsInfoAgencyUser['linkEstateAccountUserId']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row.linkEstateAccountUserId">
                    {{ row.linkEstateAccountUserId |estateAccountUserInfo |async }}
                  </ng-container>
                </mat-cell>
              </ng-container>
              <!-- LinkEstateAccountAgencyId Column -->
              <ng-container matColumnDef="LinkEstateAccountAgencyId">
                <mat-header-cell *matHeaderCellDef>
                  {{fieldsInfoAgencyUser['linkEstateAccountAgencyId']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row.linkEstateAccountAgencyId">
                    {{ row.linkEstateAccountAgencyId |estateAccountAgencyInfo |async}}
                  </ng-container>
                </mat-cell>
              </ng-container>
              <!-- AccessShareUserToAgency Column -->
              <ng-container matColumnDef="AccessShareUserToAgency">
                <mat-header-cell *matHeaderCellDef>
                  {{fieldsInfoAgencyUser['accessShareUserToAgency']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row.accessShareUserToAgency">
                    <i [ngClass]="row.accessShareUserToAgency | boolclass"></i>
                  </ng-container>
                </mat-cell>
              </ng-container>
              <!-- AccessShareAgencyToUser Column -->
              <ng-container matColumnDef="AccessShareAgencyToUser">
                <mat-header-cell *matHeaderCellDef>
                  {{fieldsInfoAgencyUser['accessShareAgencyToUser']?.fieldTitle}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <ng-container *ngIf="row.accessShareAgencyToUser">
                    <i [ngClass]="row.accessShareAgencyToUser | boolclass"></i>
                  </ng-container>
                </mat-cell>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row" class='Action'>
                  <button mat-icon-button
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-red">
                    <small (click)="onActionDataGetDeleteGroup(row)">
                      <mat-icon matTooltip="{{'ACTION.DELETE' | translate}}" matTooltipPosition="before"
                        aria-hidden="false" style="color: red;">delete</mat-icon>
                    </small>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="optionTabledisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: optionTabledisplayedColumns;">
              </mat-row>
            </mat-table>
          </div>
          <!-- TABLE  -->
        </mat-step>

        <!-- icon overrides. -->
        <ng-template matStepperIcon="main">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="file">
          <mat-icon>forum</mat-icon>
        </ng-template>

      </mat-vertical-stepper>

      <div class="form-actions" *ngIf="formInfo.formSubmitAllow && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{ "ACTION.CANCEL" | translate }}
        </button>
        <button type="submit" (click)="onFormSubmit()" [disabled]="!vform.form.valid"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green">
          <i class="fa fa-check-square-o"></i>
          {{ "ACTION.SAVE" | translate }}
        </button>
      </div>
    </form>
    <!--Content-->
  </div>
</div>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm" [ngStyle]="{'direction' : tokenInfo.direction }">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <mat-vertical-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

    </mat-vertical-stepper>

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>