<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <!-- RecordStatus Field -->
            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true">
            </app-cms-enum-record-status-selector>
            <!-- LinkManagementBillboardId Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.linkManagementBillboardId" class="color-highlight">{{
                    fieldsInfo["linkManagementBillboardId"]?.fieldTitle }}</label>
                <input matInput type="number" [(ngModel)]="dataModel.linkManagementBillboardId"
                    name="dataModel.linkManagementBillboardId" #LinkManagementBillboardId
                    placeholder="{{fieldsInfo['linkManagementBillboardId']?.fieldTitle }}"
                    class="form-control validate-name" id="dataModel.linkManagementBillboardId" />
            </div>
            <!-- LinkManagementTargetId Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.linkManagementTargetId" class="color-highlight">{{
                    fieldsInfo["linkManagementTargetId"]?.fieldTitle }}</label>
                <input matInput type="number" [(ngModel)]="dataModel.linkManagementTargetId"
                    name="dataModel.linkManagementTargetId" #LinkManagementTargetId
                    placeholder="{{fieldsInfo['linkManagementTargetId']?.fieldTitle }}"
                    class="form-control validate-name" id="dataModel.linkManagementTargetId" />
            </div>
            <!-- ClickPrice Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.clickPrice" class="color-highlight">{{ fieldsInfo["clickPrice"]?.fieldTitle
                    }}</label>
                <input matInput type="number" [(ngModel)]="dataModel.clickPrice" name="dataModel.clickPrice" #ClickPrice
                    placeholder="{{'TITLE.Amount_Per_Click' | translate}}" minlength="0"
                    class="form-control validate-name" id="dataModel.clickPrice" />
                <mat-error *ngIf="ClickPrice.errors?.required">
                    ClickPrice is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- ViewPrice Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.viewPrice" class="color-highlight">{{ fieldsInfo["viewPrice"]?.fieldTitle
                    }}</label>
                <input matInput type="number" [(ngModel)]="dataModel.viewPrice" name="dataModel.viewPrice" #ViewPrice
                    placeholder="{{'TITLE.Amount_Per_Show' | translate}}" minlength="0"
                    class="form-control validate-name" id="dataModel.viewPrice" />
                <mat-error *ngIf="ViewPrice.errors?.required">
                    ViewPrice is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- DeviceId Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.deviceId" class="color-highlight">{{ fieldsInfo["deviceId"]?.fieldTitle }}</label>
                <input matInput type="number" [(ngModel)]="dataModel.deviceId" name="dataModel.deviceId" #DeviceId
                    placeholder="{{fieldsInfo['deviceId']?.fieldTitle}}" minlength="3" maxlength="100" required
                    class="form-control validate-name" id="dataModel.deviceId" />
                <em>{{ DeviceId.value.length }} / 100</em>
                <mat-error *ngIf="DeviceId.errors?.required">
                    DeviceId is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- IpAddress Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.ipAddress" class="color-highlight">{{ fieldsInfo["ipAddress"]?.fieldTitle
                    }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.ipAddress" name="dataModel.ipAddress" #IpAddress
                    placeholder="{{fieldsInfo['ipAddress']?.fieldTitle}}" minlength="3" maxlength="100" required
                    class="form-control validate-name" id="dataModel.ipAddress" />
                <em>{{ IpAddress.value.length }} / 100</em>
                <mat-error *ngIf="IpAddress.errors?.required">
                    IpAddress is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- BrowserName Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.browserName" class="color-highlight">{{ fieldsInfo["browserName"]?.fieldTitle
                    }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.browserName" name="dataModel.browserName"
                    #BrowserName placeholder="{{fieldsInfo['browserName']?.fieldTitle}}" minlength="3" maxlength="100"
                    required class="form-control validate-name" id="dataModel.browserName" />
                <em>{{ BrowserName.value.length }} / 100</em>
                <mat-error *ngIf="BrowserName.errors?.required">
                    BrowserName is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>

            </div>
        </form>
        <!--Content-->
    </div>
</div>