<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
            {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
        </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
            <!-- RecordStatus Field -->
            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true">
            </app-cms-enum-record-status-selector>
            <!-- LocationType Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <select [(ngModel)]="dataModel.locationType" name="dataModel.locationType" #LocationType="ngModel"
                    ngClass="LocationType-{{ dataModel.locationType }}" class="form-control validate-name">
                    <option *ngFor="
                        let item of dataModelEnumLocationTypeResult.listItems;
                        index as i
                        " [value]="item.value">{{ item.description }}</option>
                </select>
                <em>{{'TITLE.Select_type_of_content' | translate}}</em>
                <mat-error *ngIf="LocationType.errors?.required">
                    LocationType is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>

            <!-- LinkParentId Field -->
            <app-core-location-selector (optionChange)="onActionParentSelect($event)" [(optionLoading)]="loading"
                [optionDisabled]="false" [optionSelectForce]="dataModel.linkParentId"
                [optionPlaceholder]="'TITLE.Parent_Area' | translate">
            </app-core-location-selector>
            <!-- Title Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
                <textarea matInput [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
                    placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="5000"
                    class="form-control validate-name" id="dataModel.title" required cols="50">
                </textarea>
                <em>{{ Title.value.length }} / 5000</em>
                <mat-error *ngIf="Title.errors?.required">
                    Title is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- GeoLocationLatitude Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.geoLocationLatitude" class="color-highlight">Geo Location Latitude</label>
                <input matInput [(ngModel)]="dataModel.geoLocationLatitude" name="dataModel.geoLocationLatitude"
                    #GeoLocationLatitude type="number" placeholder="Geo Location Latitude"
                    class="form-control validate-name" id="dataModel.geoLocationLatitude" />
            </div>
            <!-- GeoLocationLongitude Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.geoLocationLongitude" class="color-highlight">Geo Location Longitude</label>
                <input matInput [(ngModel)]="dataModel.geoLocationLongitude" name="dataModel.geoLocationLongitude"
                    #GeoLocationLongitude type="number" class="form-control validate-name"
                    id="dataModel.geoLocationLongitude" placeholder="Geo Location Latitude" />
            </div>
            <!-- LinkImageId Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <img *ngIf="dataModel?.linkImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
                    aria-hidden src="{{dataModel.linkImageIdSrc | cmsthumbnail}}" height="50" width="50" />
                <label for="dataModel.linkImageId" (click)="fileManagerOpenForm = true"
                    class="color-highlight">{{'TITLE.PHOTO_FILE' | translate}}</label>
                <input matInput [(ngModel)]="dataModel.linkImageId" name="dataModel.linkImageId" #LinkImageId
                    type="text" placeholder="{{'TITLE.Icon_File_ID' | translate}}" (click)="fileManagerOpenForm = true"
                    class="form-control validate-name" id="dataModel.linkImageId" />
            </div>
            <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage"
                [selectFileType]="selectFileTypeMainImage" [isPopup]="true" [(openForm)]="fileManagerOpenForm"
                [openDirectUploadView]="true" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
                [openFilemanagerButtonView]="false">
            </cms-file-manager>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>