<app-progress-spinner [options]="loading"> </app-progress-spinner>
<app-cms-guide-notice [Key]="'estate.billboard.list.add'" [svg]="'assets/media/svg/icons/General/Notifications1.svg'">
</app-cms-guide-notice>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- Title Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
        <input type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title
          placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.title" />
        <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ Title.value.length }} / 100</em>
        <mat-error *ngIf="Title.errors?.required">
          Title is <strong>{{ "MESSAGE.required" | translate }}</strong>
        </mat-error>
      </div>

      <!-- Description Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
        <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
          placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="0" maxlength="500" rows="5"
          id="dataModel.description" class="form-control validate-name"></textarea>
        <em>{{ Description.value.length }} / 500</em>
        <mat-error *ngIf="Description.errors?.required">
          Description is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- DescriptionHidden Field -->
      <div *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.descriptionHidden" class="color-highlight">{{'TITLE.Description_Hidden' |
          translate}}</label>
        <textarea matInput [(ngModel)]="dataModel.descriptionHidden" name="dataModel.descriptionHidden"
          #DescriptionHidden type="text" placeholder="{{fieldsInfo['descriptionHidden']?.fieldTitle}}" minlength="1"
          maxlength="500" rows="5" id="dataModel.descriptionHidden" class="form-control validate-name"></textarea>
        <em>{{ DescriptionHidden.value.length }} / 500</em>
        <mat-error *ngIf="DescriptionHidden.errors?.required">
          DescriptionHidden is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- SpeedView Field -->
      <div *ngIf="fieldsInfo['speedView']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.speedView" class="color-highlight">{{fieldsInfo['speedView']?.fieldTitle}}</label>
        <input type="number" [(ngModel)]="dataModel.speedView" name="dataModel.speedView" #SpeedView
          placeholder="{{fieldsInfo['speedView']?.fieldTitle}}" [disabled]="!fieldsInfo['speedView']?.accessAddField"
          min="3" max="10" class="form-control validate-name" id="dataModel.speedView" />
      </div>
      <!-- ReloadViewPerMin Field -->
      <div *ngIf="fieldsInfo['reloadViewPerMin']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.reloadViewPerMin"
          class="color-highlight">{{fieldsInfo['reloadViewPerMin']?.fieldTitle}}</label>
        <input type="number" [(ngModel)]="dataModel.reloadViewPerMin" name="dataModel.reloadViewPerMin"
          #ReloadViewPerMin placeholder="{{fieldsInfo['reloadViewPerMin']?.fieldTitle}}"
          [disabled]="!fieldsInfo['reloadViewPerMin']?.accessAddField" min="1" max="10"
          class="form-control validate-name" id="dataModel.reloadViewPerMin" />
      </div>
      <!-- LinkMainImageId Field -->
      <div class="mb-3">
        <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
          <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
            aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
        </a>
      </div>
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label (click)="fileManagerOpenForm = true" for="dataModel.linkMainImageId"
          class="color-highlight">{{'TITLE.PHOTO_FILE' | translate}}</label>
        <input matInput type="text" [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId"
          #LinkMainImageId placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
          (click)="fileManagerOpenForm = true" class="form-control validate-name" id="dataModel.linkMainImageId" />
        <cms-file-manager (itemSelected)="onActionFileSelected($event)" [language]="appLanguage" [isPopup]="true"
          [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openFilemanagerButtonLabelKey]="'select'"
          [openDirectUploadView]="true" [selectFileType]="selectFileTypeMainImage" [openFilemanagerButtonView]="false">
        </cms-file-manager>
      </div>
      <p>{{'TITLE.specific_property_list' | translate}}</p>
      <!-- LinkPropertyIds Field -->
      <app-estate-property-autocomplete (optionChange)="onActionSelectorProperty($event)"
        [optionDisabled]="!fieldsInfo['linkPropertyIds']?.accessAddField"
        [optionPlaceholder]="this.translate.instant('TITLE.Property')"
        [optionSelectForce]="this.dataModel.linkPropertyIds">
      </app-estate-property-autocomplete>
      <p>{{'MESSAGE.Selecting_specific_property_will_remove_all_search_fields' | translate}}</p>
      <hr>
      <!-- includeAllSite Field -->
      <div class="d-flex mb-3"> <!--*ngIf="this.tokenHelper.isAdminSite || this.tokenHelper.isSupportSite"-->
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.includeAllSite" class="font-600 font-14">
            {{fieldsInfo['includeAllSite']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.includeAllSite"
              [(ngModel)]="this.dataModel.includeAllSite" name="dataModel.includeAllSite">
            <label class="custom-control-label" for="dataModel.includeAllSite"></label>
          </div>
        </div>
      </div>
      <p *ngIf="!LinkPropertyIdsInUse">{{'MESSAGE.Content_of_your_choice_to_display_On_this_billboard' | translate}}</p>
      <P *ngIf="!LinkPropertyIdsInUse">
        {{'MESSAGE.Selecting_any_of_the_following_will_make_the_search_results_range_smaller' | translate}}</P>
      <!-- LinkPropertyTypeUsageIds Field -->
      <app-estate-property-type-usage-autocomplete (optionChange)="onActionSelectorSelectUsage($event)"
        *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkPropertyTypeUsageIds']?.accessAddField"
        [optionSelectForce]="dataModel.linkPropertyTypeUsageIds"
        [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
      </app-estate-property-type-usage-autocomplete>
      <!-- LinkPropertyTypeLanduseIds Field -->
      <app-estate-property-type-landuse-autocomplete (optionChange)="onActionSelectorSelectLanduse($event)"
        *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkPropertyTypeLanduseIds']?.accessAddField"
        [optionSelectForce]="dataModel.linkPropertyTypeLanduseIds"
        [optionPlaceholder]="this.translate.instant('TITLE.Property_Type')">
      </app-estate-property-type-landuse-autocomplete>
      <br>
      <!-- LinkContractTypeIds Field -->
      <app-estate-contract-type-autocomplete (optionChange)="onActionSelectorContarctType($event)"
        *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkContractTypeIds']?.accessAddField"
        [optionSelectForce]="dataModel.linkContractTypeIds"
        [optionPlaceholder]="this.translate.instant('TITLE.Transaction_type')">
      </app-estate-contract-type-autocomplete>
      <!-- linkCoreCurrencyId Field -->
      <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
        *ngIf="!LinkPropertyIdsInUse" (optionChange)="onActionSelectCurrency($event)" [(optionLoading)]="loading"
        [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
      </app-cms-currency-selector>
      <!-- LinkLocationIds Field -->
      <app-cms-location-autocomplete (optionChange)="onActionSelectorLocation($event)" [(optionLoading)]="loading"
        *ngIf="!LinkPropertyIdsInUse" [optionDisabled]="!fieldsInfo['linkLocationIds']?.accessAddField"
        [optionSelectForce]="dataModel.linkLocationIds" [optionPlaceholder]="this.translate.instant('TITLE.Region')">
      </app-cms-location-autocomplete>

      <div class="row mb-0">
        <div class="col-10 pe-0">
          <!-- resultSortColumn Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.resultSortColumn"
              class="color-highlight">{{fieldsInfo['resultSortColumn']?.fieldTitle}}</label>
            <select id="dataModel.resultSortColumn" [(ngModel)]="dataModel.resultSortColumn"
              name="dataModel.resultSortColumn" #ResultSortColumn="ngModel" class="form-control validate-name">
              <option *ngFor="let item of dataFieldInfoModel; index as i" [value]="item.fieldName">
                {{ item.fieldTitle}}
              </option>
            </select>
            <span><i class="fa fa-chevron-down"></i></span>
            <em></em>
          </div>
        </div>
        <div class="col-2 ps-0">
          <div *ngIf="dataModel?.resultSortColumn?.length > 0" class="col-md-2 col-sm-2 col-xs-2 resultSortIcon"
            style="margin: auto">
            <a (click)="onActionSortArrow()">
              <i [ngClass]="dataModel.resultSortType | sortTypeIconClass" style="color: black"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="form-actions" *ngIf="formInfo.formSubmitAllow && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{ "ACTION.CANCEL" | translate }}
        </button>
        <button type="submit" (click)="onFormSubmit()" [disabled]="!vform.form.valid"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green">
          <i class="fa fa-check-square-o"></i>
          {{ "ACTION.SAVE" | translate }}
        </button>
      </div>
    </form>
    <!--content-->
  </div>
</div>

<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
  <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  <div class="ntk-cms-html-card-body">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->


    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->

    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>