<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>
    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm" [ngStyle]="{'direction' : tokenInfo.direction }">
      <!-- RecordStatus Field -->

      <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
        [(model)]="dataModel.recordStatus" [optionDisabled]="false"
        [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>


      <!-- ExpertPriceType Field -->
      <app-cms-enum-x-selector *ngIf="fieldsInfo['expertPriceType']?.accessWatchField"
        [optionDataListResult]="dataModelEstatePropertyExpertPriceTypeEnumResult" [(model)]="dataModel.expertPriceType"
        [optionDisabled]="false" [optionLabel]="this.fieldsInfo['expertPriceType']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-x-selector>


      <!-- LinkLocationId Field -->
      <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
        [optionSelectForce]="dataModel.linkLocationId" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Geographical_Region'  | translate"
        [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField">
      </app-cms-location-selector>
      <br>
      <!-- CreatedYaer Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.CreatedYaer" class="color-highlight">{{'TITLE.CreatedYaer' | translate}}</label>
        <input type="number" [(ngModel)]="dataModel.createdYaer" name="dataModel.CreatedYaer" #CreatedYaer
          placeholder="0" class="form-control validate-name" id="dataModel.createdYaer" />
      </div>
      <br>
      <!-- linkCoreCurrencyId Field -->
      <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
        (optionChange)="onActionSelectCurrency($event)" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Specify_the_transaction_currency'  | translate">
      </app-cms-currency-selector>
      <br>
      <!-- LinkContractTypeIds Field -->
      <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)" [optionTypeView]="2"
        [optionDisabled]="!fieldsInfo['linkContractTypeId']?.accessEditField"
        [optionSelectForce]="dataModel.linkContractTypeId" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Transaction_type'  | translate">
        <mat-icon matSuffix *ngIf="dataModel.linkContractTypeId && dataModel.linkContractTypeId?.length>0" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.linkContractTypeId = null;">close
        </mat-icon>
      </app-estate-contract-type-selector>


      <!-- LinkPropertyTypeUsageId Field -->
      <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
        [optionDisabled]="!fieldsInfo['linkPropertyTypeUsageId']?.accessEditField" [optionTypeView]="2"
        [optionSelectForce]="dataModel.linkPropertyTypeUsageId" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Type_Usage' | translate">
        <mat-icon matSuffix *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId?.length>0"
          matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkPropertyTypeUsageId = null;">close
        </mat-icon>
      </app-estate-property-type-usage-selector>
      <br>
      <br>
      <!-- LinkPropertyTypeLanduseId Field -->
      <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
        [optionDisabled]="!fieldsInfo['linkPropertyTypeLanduseId']?.accessEditField" [optionTypeView]="2"
        [optionSelectForce]="dataModel.linkPropertyTypeLanduseId" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Property_Type'  | translate">
        <mat-icon matSuffix *ngIf="dataModel.linkPropertyTypeLanduseId && dataModel.linkPropertyTypeLanduseId?.length>0"
          matSuffix mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)">close
        </mat-icon>
      </app-estate-property-type-landuse-selector>
      <hr>
      <table class="ntk-full-width" cellspacing="0">
        <tr>
          <td>
            <!-- SalePriceMin Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.salePriceMin"
                class="color-highlight">{{fieldsInfo['salePriceMin']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.salePriceMin" name="dataModel.salePriceMin" #SalePriceMin
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.salePriceMin" />
            </div>
          </td>
          <td>
            <!-- SalePriceMax Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.salePriceMax"
                class="color-highlight">{{fieldsInfo['salePriceMax']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.salePriceMax" name="dataModel.salePriceMax" #SalePriceMax
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.salePriceMax" />
            </div>
          </td>
          <td>
            <!-- SalePriceAverage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.salePriceAverage"
                class="color-highlight">{{fieldsInfo['salePriceAverage']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.salePriceAverage" name="dataModel.salePriceAverage"
                #SalePriceAverage type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.salePriceAverage" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <!-- RentPriceMin Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.rentPriceMin"
                class="color-highlight">{{fieldsInfo['rentPriceMin']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.rentPriceMin" name="dataModel.rentPriceMin" #RentPriceMin
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.rentPriceMin" />
            </div>
          </td>
          <td>
            <!-- RentPriceMax Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.rentPriceMax"
                class="color-highlight">{{fieldsInfo['rentPriceMax']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.rentPriceMax" name="dataModel.rentPriceMax" #RentPriceMax
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.rentPriceMax" />
            </div>
          </td>
          <td>
            <!-- RentPriceAverage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.rentPriceAverage"
                class="color-highlight">{{fieldsInfo['rentPriceAverage']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.rentPriceAverage" name="dataModel.rentPriceAverage"
                #RentPriceAverage type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.rentPriceAverage" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <!-- DepositPriceMin Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.depositPriceMin"
                class="color-highlight">{{fieldsInfo['depositPriceMin']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.depositPriceMin" name="dataModel.depositPriceMin" #DepositPriceMin
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.depositPriceMin" />
            </div>
          </td>
          <td>
            <!-- DepositPriceMax Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.depositPriceMax"
                class="color-highlight">{{fieldsInfo['depositPriceMax']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.depositPriceMax" name="dataModel.depositPriceMax" #DepositPriceMax
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.depositPriceMax" />
            </div>
          </td>
          <td>
            <!-- DepositPriceAverage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.depositPriceAverage"
                class="color-highlight">{{fieldsInfo['depositPriceAverage']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.depositPriceAverage" name="dataModel.depositPriceAverage"
                #DepositPriceAverage type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.depositPriceAverage" />
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <!-- PeriodPriceMin Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.periodPriceMin"
                class="color-highlight">{{fieldsInfo['periodPriceMin']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.periodPriceMin" name="dataModel.periodPriceMin" #PeriodPriceMin
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.periodPriceMin" />
            </div>
          </td>
          <td>
            <!-- PeriodPriceMax Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.periodPriceMax"
                class="color-highlight">{{fieldsInfo['periodPriceMax']?.fieldTitle}}</label>
              <input matInput [(ngModel)]="dataModel.periodPriceMax" name="dataModel.periodPriceMax" #PeriodPriceMax
                type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.periodPriceMax" />
            </div>
          </td>
          <td>
            <!-- PeriodPriceAverage Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.periodPriceAverage" class="color-highlight">{{'TITLE.Period_Price_Average' |
                translate}}</label>
              <input matInput [(ngModel)]="dataModel.periodPriceAverage" name="dataModel.periodPriceAverage"
                #PeriodPriceAverage type="number" placeholder="0" class="input-ltr-center form-control validate-name"
                id="dataModel.periodPriceAverage" />
            </div>
          </td>
        </tr>
      </table>
      <hr>
      <!-- Description Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
        <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
          placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="1000" rows="5" required
          id="dataModel.description" class="form-control validate-name">
            </textarea>
        <em>{{ Description.value.length }} / 1000</em>
        <mat-error *ngIf="Description.errors?.required">
          Description is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{ "ACTION.CANCEL" | translate }}
        </button>
        <button type="submit" (click)="onFormSubmit()" [disabled]="!vform.form.valid"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green">
          <i class="fa fa-check-square-o"></i>
          {{ "ACTION.SAVE" | translate }}
        </button>
      </div>

    </form>
    <!--content-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
      <button type="button" (click)="onFormCancel()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
        (click)="onFormSubmit()" [disabled]="!vform.form.valid">
        <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
      </button>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>