<div id="footer-bar" class="footer-bar-6">
  <a [routerLink]="['/ticketing/faq']"><i class="fa fa-file"></i><span>سوالات</span></a>
  <a [routerLink]="['/core/site/info']"><i class="fa fa-image"></i><span>آدرس ها</span></a>
  <a [routerLink]="['/']" class="circle-nav active-nav"><i class="fa fa-home"></i><span>خانه</span></a>
  <a *ngIf="this.tokenInfo?.userId>0" [routerLink]="['/menu']" (click)="onActionCleanDataMenu()"><i
      class="fa fa-layer-group"></i><span>امکانات</span></a>
  <a *ngIf="!this.tokenInfo||!this.tokenInfo.userId||this.tokenInfo.userId<=0" [routerLink]="['/auth/singinbysms']"
    (click)="onActionCleanDataMenu()"><i class="fa fa-layer-group"></i><span>ورود</span></a>
  <a (click)="themeStore?.dataMenu!=='menu-main' ? themeStore.dataMenu='menu-main':themeStore.dataMenu=''"><i
      class="fa fa-bars"></i><span>منو</span></a>
</div>