<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <!-- RecordStatus Field -->
            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true">
            </app-cms-enum-record-status-selector>
            <!-- Title Field -->
            <app-core-guide-selector (optionChange)="onActionSelectorSelect($event)" [(optionLoading)]="loading"
                [optionDisabled]="false" [optionSelectForce]="dataModel.linkParentId"
                [optionPlaceholder]="this.translate.instant('TITLE.Parent_Menu')">
            </app-core-guide-selector>
            <!-- Key Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.key" class="color-highlight">Key</label>
                <input matInput type="text" [(ngModel)]="dataModel.key" name="dataModel.key" #Key placeholder="Key"
                    minlength="3" maxlength="100" class="form-control validate-name" id="dataModel.key" />
                <em>{{ Key.value.length }} / 100</em>
                <mat-error *ngIf="Key.errors?.required">
                    Key is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <div style="background-color: #D3D3D3;">
                <!-- TitleFa Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.titleFa" class="color-highlight">{{fieldsInfo['titleFa']?.fieldTitle}}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.titleFa" name="dataModel.titleFa" #TitleFa
                        placeholder="{{fieldsInfo['titleFa']?.fieldTitle}}" minlength="3" maxlength="100"
                        class="form-control validate-name" id="dataModel.titleFa" />
                    <em>{{ TitleFa.value.length }} / 100</em>
                    <mat-error *ngIf="TitleFa.errors?.required">
                        TitleFa is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                </div>
                <!-- DescriptionFa Field -->
                <p> Description Fa </p>
                <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')"
                    [config]="publicHelper.editorConfig" id="DescriptionFa" [(ngModel)]="dataModel.descriptionFa"
                    name="dataModel.descriptionFa">
                </angular-editor>
                <br>
                <!-- BodyFa Field -->
                <p> Body Fa </p>
                <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text_Body')"
                    [config]="publicHelper.editorConfig" id="BodyFa" [(ngModel)]="dataModel.bodyFa"
                    name="dataModel.bodyFa">
                </angular-editor>
                <br>
                <!-- LinkFilePodcastIdFa Field -->
                <div class="mb-3">
                    <audio class="audio" class="audio" *ngIf="dataModel?.linkFilePodcastIdFaSrc?.length>0" controls>
                        <source src="{{dataModel.linkFilePodcastIdFaSrc | cmsthumbnail}}" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <input matInput type="text" [(ngModel)]="dataModel.linkFilePodcastIdFa"
                        name="dataModel.linkFilePodcastIdFa" #LinkFilePodcastIdFa
                        placeholder="{{'TITLE.Audio_File_ID' | translate}}"
                        (click)="fileManagerOpenFormPodcastFa = true" class="form-control validate-name"
                        id="dataModel.linkFilePodcastIdFa" />
                    <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastIdFa($event)"
                        [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcastFa"
                        [tree]="fileManagerTree" [openDirectUploadView]="true"
                        [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypePodcast"
                        [openFilemanagerButtonView]="false">
                    </cms-file-manager>
                </div>
                <!-- LinkFileMovieIdFa Field -->
                <div class="mb-3">
                    <video class="header-video" *ngIf="dataModel?.linkFileMovieIdFaSrc?.length>0" controls>
                        <source src="{{dataModel.linkFileMovieIdFaSrc }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <input matInput type="text" [(ngModel)]="dataModel.linkFileMovieIdFa"
                        name="dataModel.linkFileMovieIdFa" #LinkFileMovieIdFa
                        placeholder="{{'TITLE.Video_File_ID_Fa' | translate}}"
                        (click)="fileManagerOpenFormMovieFa = true" class="form-control validate-name"
                        id="dataModel.linkFileMovieIdFa" />
                    <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieIdFa($event)"
                        [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormMovieFa"
                        [tree]="fileManagerTree" [openDirectUploadView]="true"
                        [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMovie"
                        [openFilemanagerButtonView]="false">
                    </cms-file-manager>
                </div>
            </div>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <!-- TitleEn Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleEn" class="color-highlight">{{ fieldsInfo["titleEn"]?.fieldTitle }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleEn" name="dataModel.titleEn" #TitleEn
                    placeholder="{{fieldsInfo['titleEn']?.fieldTitle}}" minlength="3" maxlength="100"
                    class="form-control validate-name" id="dataModel.titleEn" />
                <em>{{ TitleEn.value.length }} / 100</em>
                <mat-error *ngIf="TitleEn.errors?.required">
                    TitleEn is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- DescriptionEn Field -->
            <p> Description En </p>
            <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')"
                [config]="publicHelper.editorConfig" id="DescriptionEn" [(ngModel)]="dataModel.descriptionEn"
                name="dataModel.descriptionEn">
            </angular-editor>
            <br>
            <!-- BodyEn Field -->
            <p> Body En </p>
            <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text_Body')"
                [config]="publicHelper.editorConfig" id="BodyEn" [(ngModel)]="dataModel.bodyEn" name="dataModel.bodyEn">
            </angular-editor>
            <br>
            <!-- LinkFilePodcastIdEn Field -->
            <div class="mb-3">
                <audio class="audio" *ngIf="dataModel?.linkFilePodcastIdEnSrc?.length>0" controls>
                    <source src="{{dataModel.linkFilePodcastIdEnSrc | cmsthumbnail}}" type="audio/mp3">
                    Your browser does not support the audio tag.
                </audio>
            </div>
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <input matInput type="text" [(ngModel)]="dataModel.linkFilePodcastIdEn"
                    name="dataModel.linkFilePodcastIdEn" #LinkFilePodcastIdEn
                    placeholder="{{'TITLE.Audio_File_ID_En' | translate}}" (click)="fileManagerOpenFormPodcastEn = true"
                    class="form-control validate-name" id="dataModel.linkFilePodcastIdEn" />
                <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastIdEn($event)"
                    [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcastEn"
                    [tree]="fileManagerTree" [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
                    [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false">
                </cms-file-manager>
            </div>
            <!-- LinkFileMovieIdEn Field -->
            <div class="mb-3">
                <video class="header-video" *ngIf="dataModel?.linkFileMovieIdEnSrc?.length>0" controls>
                    <source src="{{dataModel.linkFileMovieIdEnSrc }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <input matInput type="text" [(ngModel)]="dataModel.linkFileMovieIdEn" name="dataModel.linkFileMovieIdEn"
                    #LinkFileMovieIdEn placeholder="{{'TITLE.Video_File_ID_En' | translate}}"
                    (click)="fileManagerOpenFormMovieEn = true" class="form-control validate-name"
                    id="dataModel.linkFileMovieIdEn" />
                <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieIdEn($event)"
                    [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormMovieEn"
                    [tree]="fileManagerTree" [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
                    [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false">
                </cms-file-manager>
            </div>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <div style="background-color: #D3D3D3;">
                <!-- TitleAr Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <label for="dataModel.titleAr" class="color-highlight">{{ fieldsInfo["titleAr"]?.fieldTitle
                        }}</label>
                    <input matInput type="text" [(ngModel)]="dataModel.titleAr" name="dataModel.titleAr" #TitleAr
                        placeholder="{{fieldsInfo['titleAr']?.fieldTitle }}" minlength="3" maxlength="100"
                        class="form-control validate-name" id="dataModel.titleAr" />
                    <em>{{ TitleAr.value.length }} / 100</em>
                    <mat-error *ngIf="TitleAr.errors?.required">
                        TitleAr is <strong>{{'MESSAGE.required' | translate}}</strong>
                    </mat-error>
                </div>
                <!-- DescriptionAr Field -->
                <p> Description Ar </p>
                <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')"
                    [config]="publicHelper.editorConfig" id="DescriptionAr" [(ngModel)]="dataModel.descriptionAr"
                    name="dataModel.descriptionAr">
                </angular-editor>
                <br>
                <!-- BodyAr Field -->
                <p> Body Ar </p>
                <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text_Body')"
                    [config]="publicHelper.editorConfig" id="BodyAr" [(ngModel)]="dataModel.bodyAr"
                    name="dataModel.bodyAr">
                </angular-editor>
                <br>
                <!-- LinkFilePodcastIdAr Field -->
                <div class="mb-3">
                    <audio *ngIf="dataModel?.linkFilePodcastIdArSrc?.length>0" controls>
                        <source src="{{dataModel.linkFilePodcastIdArSrc | cmsthumbnail}}" type="audio/mp3">
                        Your browser does not support the audio tag.
                    </audio>
                </div>
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <input matInput type="text" [(ngModel)]="dataModel.linkFilePodcastIdAr"
                        name="dataModel.linkFilePodcastIdAr" #LinkFilePodcastIdEn
                        placeholder="{{'TITLE.Audio_File_ID_Ar' | translate}}"
                        (click)="fileManagerOpenFormPodcastAr = true" class="form-control validate-name"
                        id="dataModel.linkFilePodcastIdAr" />
                    <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastIdAr($event)"
                        [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcastAr"
                        [tree]="fileManagerTree" [openDirectUploadView]="true"
                        [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypePodcast"
                        [openFilemanagerButtonView]="false">
                    </cms-file-manager>
                </div>
                <!-- LinkFileMovieIdAr Field -->
                <div class="mb-3">
                    <video class="header-video" *ngIf="dataModel?.linkFileMovieIdArSrc?.length>0" controls>
                        <source src="{{dataModel.linkFileMovieIdArSrc }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                </div>
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                    <input matInput type="text" [(ngModel)]="dataModel.linkFileMovieIdAr"
                        name="dataModel.linkFileMovieIdAr" #LinkFileMovieIdEn
                        placeholder="{{'TITLE.Video_File_ID_Ar' | translate}}"
                        (click)="fileManagerOpenFormMovieAr = true" class="form-control validate-name"
                        id="dataModel.linkFileMovieIdAr" />
                    <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieIdAr($event)"
                        [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormMovieAr"
                        [tree]="fileManagerTree" [openDirectUploadView]="true"
                        [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMovie"
                        [openFilemanagerButtonView]="false">
                    </cms-file-manager>
                </div>
            </div>
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            <!-- TitleDe Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.titleDe" class="color-highlight">{{ fieldsInfo["titleDe"]?.fieldTitle }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.titleDe" name="dataModel.titleDe" #TitleDe
                    placeholder="{{fieldsInfo['titleDe']?.fieldTitle}}" minlength="3" maxlength="100"
                    class="form-control validate-name" id="dataModel.titleDe" />
                <em>{{ TitleDe.value.length }} / 100</em>
                <mat-error *ngIf="TitleDe.errors?.required">
                    TitleDe is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- DescriptionDe Field -->
            <p> Description De</p>
            <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')"
                [config]="publicHelper.editorConfig" id="DescriptionDe" [(ngModel)]="dataModel.descriptionDe"
                name="dataModel.descriptionDe">
            </angular-editor>
            <br>
            <!-- Body De Field -->
            <p> Body De </p>
            <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text_Body')"
                [config]="publicHelper.editorConfig" id="BodyDe" [(ngModel)]="dataModel.bodyDe" name="dataModel.bodyDe">
            </angular-editor>
            <br>
            <!-- LinkFilePodcastIdDe Field -->
            <div class="mb-3">
                <audio class="audio" *ngIf="dataModel?.linkFilePodcastIdDeSrc?.length>0" controls>
                    <source src="{{dataModel.linkFilePodcastIdDeSrc | cmsthumbnail}}" type="audio/mp3">
                    Your browser does not support the audio tag.
                </audio>
            </div>
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <input matInput type="text" [(ngModel)]="dataModel.linkFilePodcastIdDe"
                    name="dataModel.linkFilePodcastIdDe" #LinkFilePodcastIdDe
                    placeholder="{{'TITLE.Audio_File_ID_De' | translate}}" (click)="fileManagerOpenFormPodcastDe = true"
                    class="form-control validate-name" id="dataModel.linkFilePodcastIdDe" />
                <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastIdDe($event)"
                    [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcastDe"
                    [tree]="fileManagerTree" [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
                    [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false">
                </cms-file-manager>
            </div>
            <!-- LinkFileMovieIdDe Field -->
            <div class="mb-3">
                <video class="header-video" *ngIf="dataModel?.linkFileMovieIdDeSrc?.length>0" controls>
                    <source src="{{dataModel.linkFileMovieIdDeSrc }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <input matInput type="text" [(ngModel)]="dataModel.linkFileMovieIdDe" name="dataModel.linkFileMovieIdDe"
                    #LinkFileMovieIdEn placeholder="{{'TITLE.Video_File_ID_De' | translate}}"
                    (click)="fileManagerOpenFormMovieDe = true" class="form-control validate-name"
                    id="dataModel.linkFileMovieIdDe" />
                <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieIdDe($event)"
                    [language]="appLanguage" [isPopup]="true" [(openForm)]="fileManagerOpenFormMovieDe"
                    [tree]="fileManagerTree" [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
                    [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false">
                </cms-file-manager>
            </div>

            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>