<div class="row">
  <div *ngIf="optionTreeDisplay"
    [ngClass]="this.tokenHelper.isMobile? viewTree? 'menu-active menu-custom menu-box-right-custom rounded-0':'menu menu-box-right-custom rounded-0':'col-xl-3'">
    <!--begin::tree-->
    <ng-content select="[cms-tree]"></ng-content>
    <!--end::tree-->
  </div>
  <div [ngClass]="optionTreeDisplay && !this.tokenHelper.isMobile ?'col-xl-9':'col-xl-12'">
    <div class="card card-style">
      <div class="content mb-0">
        <div class="row justify-content-center">
          <!--begin::Header-->
          <div class="col-12 pe-0" *ngIf="optionHeaderDisplay">
            <ng-content *ngIf="optionHeaderDisplay" select="[cms-header]"></ng-content>
            <ng-content select="[cms-action-header]"></ng-content>
          </div>
          <ng-content select="[cms-action-area]"></ng-content>
          <!--end::Header-->
          <hr *ngIf="optionHeaderDisplay||optionActionMainDisplay">
          <!--begin::Body-->
          <div class="col-12 pe-0" [ngClass]="optionClassBody" #topbody>
            <p class="text-center">
              <app-progress-spinner [options]="loading"> </app-progress-spinner>
              <ng-content select="[cms-body]"></ng-content>
            </p>
          </div>
          <!--end::Body-->
          <!--begin::Footer-->
          <div class="col-12 pe-0" *ngIf="optionFooterDisplay&& !loading?.display">
            <p class="text-center">
              <ng-content select="[cms-message]"></ng-content>
              <ng-content select="[cms-footer]"></ng-content>
            </p>
          </div>
          <!--end::Footer-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--begin::button-menu-->
<!--begin::cms-tree-button-->
<div *ngIf="optionTreeDisplay &&  this.tokenHelper.isMobile" class="content"
  style="position: fixed;bottom: 80px; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewTree()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
        <strong class="color-black font-400">{{optionCategoryTitle}}</strong>
      </a>
      <a (click)="actionViewTree()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
        <i class="fa fa-bars font-18" style="color: #ffffff;"
          [style.transform]="viewTree?'rotate(90deg)':'rotate(0deg)'"></i>
      </a>
    </div>
  </div>
</div>
<!--end::cms-tree-button-->
<!--begin::cms-action-main-->
<div *ngIf="optionActionMainDisplay" class="content"
  style="position: fixed;left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;"
  [style.bottom]="optionTreeDisplay &&  this.tokenHelper.isMobile?' 120px':' 80px'">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewMenuMain()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight jump">
        <strong class="color-black font-400">{{optionTitle}}</strong>
      </a>
      <a (click)="actionViewMenuMain()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
        <i class="fa fa-bars font-18" style="color: #ffffff;"
          [style.transform]="viewMenuMain?'rotate(90deg)':'rotate(0deg)'"></i>
      </a>
    </div>
  </div>
</div>
<!--end::cms-action-main-button-->
<!--begin::cms-action-row-button-->
<div *ngIf="optionActionRowDisplay" class="content"
  style="position: fixed; left: 1px; z-index: 99; min-width: 30px!important;height:30px;margin:0px;"
  [style.bottom]="optionTreeDisplay &&  this.tokenHelper.isMobile?(optionActionMainDisplay?' 160px':' 120px'):(optionActionMainDisplay?' 120px':' 80px')">
  <div class="row">
    <div class="col-12">
      <a (click)="actionViewMenuItemRow()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight jump">
        <strong class="color-black font-400">{{optionSelectRowItemTitle}}</strong>
      </a>
      <a (click)="actionViewMenuItemRow()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
        <i class="fa fa-bars font-18" style="color: #ffffff;"
          [style.transform]="viewMenuItemRow?'rotate(90deg)':'rotate(0deg)'"></i>

      </a>

    </div>
  </div>
</div>
<!--end::cms-action-row-button-->
<!--end::button-menu-->
<!--begin::Show Menu Main-->
<div class="menu menu-box-modal rounded-m shadow-xl" [ngClass]="viewMenuMain?'menu-active':''"
  style="display: block; width: 350px; height: 320px;">
  <div class="menu-title">
    <p class="color-highlight" *ngIf="optionTitle?.length>0">{{optionTitle}}</p>
    <p class="color-highlight" *ngIf="!optionTitle||optionTitle.length===0">منو</p>
    <h1></h1>
    <a (click)="actionViewMenuMain(false)" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="divider divider-margins"></div>
  <!--begin::cms-action-main-->
  <div class="row text-center">
    <ng-content select="[cms-action-main]"></ng-content>
    <div class="col-4" *ngIf="optionOnActionButtonMemo">
      <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        (click)="onActionButtonMemo()" target="_blank">
        <i class="fa-regular fa-file-lines font-18" style="color: #ffffff;"></i>
        <br>
      </a>
      <p class="font-11 text-center opacity-70">{{'ACTION.MEMO' | translate}}</p>
    </div>
    <div class="col-4">
      <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        (click)="onActionButtonExport()" target="_blank">
        <i class="fa-solid fa-cloud-arrow-down font-18" style="color: #ffffff;"></i>
        <br>
      </a>
      <p class="font-11 text-center opacity-70">{{'ACTION.EXPORTFILE' | translate}}</p>
    </div>
  </div>
  <!--end::cms-action-main-->
</div>
<!--end:: Show Menu Main-->
<!--begin::Show Menu Row-->
<div class="menu menu-box-modal rounded-m shadow-xl" [ngClass]="viewMenuItemRow?'menu-active':''"
  style="display: block; width: 350px; height: 320px;">
  <div class="menu-title">
    <p class="color-highlight" *ngIf="!optionSelectRowItemTitle||optionSelectRowItemTitle.length===0">
      منو</p>
    <p class="color-highlight" *ngIf="optionSelectRowItemTitle?.length>0">{{optionSelectRowItemTitle}}</p>
    <a (click)="actionViewMenuItemRow(false)" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="divider divider-margins"></div>
  <!--begin::cms-action-row-->
  <div class="row text-center">
    <div *ngIf="optionOnActionButtonPrintRow" class="col-4">
      <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        (click)="onActionButtonPrintRow()" target="_blank"><i class="fa-solid fa-print font-18"
          style="color: #ffffff;"></i><br>
      </a>
      <p class="font-11 text-center opacity-70">{{'ACTION.PRINT' |
        translate}}</p>
    </div>
    <div class="col-4" *ngIf="optionOnActionButtonMemoRow">
      <a type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight"
        (click)="onActionButtonMemoRow()" target="_blank">
        <i class="fa-regular fa-file-lines font-18" style="color: #ffffff;"></i>
        <br>
      </a>
      <p class="font-11 text-center opacity-70">{{'ACTION.MEMO' |
        translate}}</p>
    </div>
    <ng-content select="[cms-action-row]"></ng-content>
  </div>
  <!--end::cms-action-row-->
</div>
<!--end:: Show Menu Row-->

<app-cms-guide-notice [(optionView)]="viewGuideNotice" [Key]="optionGuideNoticeKey"
  [svg]="'assets/media/svg/icons/General/Notifications1.svg'">
</app-cms-guide-notice>