<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- linkEstateAccountUserId Field -->
      <app-estate-account-user-selector (optionChange)="onActionSelectorAccountUser($event)" [(optionLoading)]="loading"
        [optionSelectForce]="dataModel.linkEstateAccountUserId" [optionPlaceholder]="'user'">
      </app-estate-account-user-selector>

      <!-- linkEstateAccountAgencyId Field -->
      <app-estate-account-agency-selector (optionChange)="onActionSelectorAccountAgency($event)"
        [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkEstateAccountAgencyId"
        [optionSelectUserId]="this.tokenInfo.userId" [optionPlaceholder]="'Agency'">
      </app-estate-account-agency-selector>

      <div class="form-actions" *ngIf="formInfo.formSubmitAllow && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{ "ACTION.CANCEL" | translate }}
        </button>
        <button type="submit" (click)="onFormSubmit()" [disabled]="!vform.form.valid"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green">
          <i class="fa fa-check-square-o"></i>
          {{ "ACTION.SAVE" | translate }}
        </button>
      </div>
    </form>
    <!--content-->
  </div>
</div>
<form (ngSubmit)="onFormSubmit()" #vform="ngForm">
  <div class="ntk-cms-html-card-header">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-header-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-header-->
  </div>
  <div class="ntk-cms-html-card-body">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
  </div>
  <div class="ntk-cms-html-card-message">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-message-->
    <div class="form-actions">
      <small class="form-text text-muted">{{ formInfo.formAlert }} </small>
      <small class="form-text text-muted danger">{{ formInfo.formError }}
      </small>
    </div>
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-message-->
  </div>
  <div class="ntk-cms-html-card-footer">
    <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
  </div>
</form>