<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <mat-vertical-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="{{'TITLE.Config_Module' | translate}}" state="main">
          <p>{{'TITLE.Settings_that_the_module_applies_to_the_site' | translate}} </p>
          <!-- StatusRenderUser Field -->
          <div class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataConfigSiteValuesModel.statusRenderUser" class="font-600 font-14">
                StatusRenderUser</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <label class="custom-control-label" for="dataConfigSiteValuesModel.statusRenderUser"></label>
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataConfigSiteValuesModel.statusRenderUser"
                  [(ngModel)]="dataConfigSiteValuesModel.statusRenderUser"
                  name="dataConfigSiteValuesModel.statusRenderUser">
              </div>
            </div>
          </div>
          <!-- UseDataDefaulteSite -->
          <div class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="dataConfigSiteValuesModel.useDataDefaulteSite" class="font-600 font-14">
                {{'TITLE.Display_the_default_site_information_on_the_site' | translate}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <label class="custom-control-label" for="dataConfigSiteValuesModel.useDataDefaulteSite"></label>
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="dataConfigSiteValuesModel.useDataDefaulteSite"
                  [(ngModel)]="dataConfigSiteValuesModel.useDataDefaulteSite"
                  name="dataConfigSiteValuesModel.useDataDefaulteSite">
              </div>
            </div>
          </div>
          <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteValuesModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
              (click)="onActionBackToParent()">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="{{'TITLE.Saved_Value' | translate}}" state="main">
          <p>{{'TITLE.Values_saved_by_the_system' | translate}} </p>
          <!-- RowCount Field -->
          <div class="ntk-full-width">
            <mat-slide-toggle [(ngModel)]="dataSiteStorageModel.rowCount" name="dataSiteStorageModel.rowCount">
              RowCount
            </mat-slide-toggle>
          </div>
          <!-- MainDataContentRowCount Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataSiteStorageModel.mainDataContentRowCount"
              class="color-highlight">MainDataContentRowCount</label>
            <input matInput [(ngModel)]="dataSiteStorageModel.mainDataContentRowCount"
              name="dataSiteStorageModel.mainDataContentRowCount" #dataSiteStorageModel_MainDataContentRowCount
              type="number" placeholder="0" class="form-control validate-name"
              id="dataSiteStorageModel.mainDataContentRowCount" />
          </div>
          <!-- UpdatedContent Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataSiteStorageModel.updatedContent" class="color-highlight">UpdatedContent</label>
            <input matInput [matDatepicker]="dataSiteStorageModel_UpdatedContent"
              [(ngModel)]="dataSiteStorageModel.updatedContent" name="dataSiteStorageModel.updatedContent"
              class="form-control validate-name" id="dataSiteStorageModel.updatedContent" />
            <mat-datepicker-toggle matSuffix [for]="dataSiteStorageModel_UpdatedContent"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dataSiteStorageModel_UpdatedContent></mat-datepicker>
          </div>
          <!-- UpdatedNewsCategory Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataSiteStorageModel.updatedNewsCategory" class="color-highlight">UpdatedNewsCategory</label>
            <input matInput [matDatepicker]="dataSiteStorageModel_UpdatedNewsCategory"
              [(ngModel)]="dataSiteStorageModel.updatedNewsCategory" name="dataSiteStorageModel.updatedNewsCategory"
              class="form-control validate-name" id="dataSiteStorageModel.updatedNewsCategory" />
            <mat-datepicker-toggle matSuffix [for]="dataSiteStorageModel_UpdatedNewsCategory"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dataSiteStorageModel_UpdatedNewsCategory></mat-datepicker>
          </div>
          <!-- UpdatedNewsContent Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataSiteStorageModel.updatedNewsContent" class="color-highlight">UpdatedNewsContent</label>
            <input matInput [matDatepicker]="dataSiteStorageModel_UpdatedNewsContent"
              [(ngModel)]="dataSiteStorageModel.updatedNewsContent" name="dataSiteStorageModel.updatedNewsContent"
              class="form-control validate-name" id="dataSiteStorageModel.updatedNewsContent" />
            <mat-datepicker-toggle matSuffix [for]="dataSiteStorageModel_UpdatedNewsContent"></mat-datepicker-toggle>
            <mat-datepicker touchUi #dataSiteStorageModel_UpdatedNewsContent></mat-datepicker>
          </div>
          <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataSiteStorageModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="{{'TITLE.Accessibility' | translate}}" state="main">
          <p>{{'TITLE.This_website_accesses_this_module' | translate}}</p>
          <!-- MainDataContentRowCount Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataConfigSiteAccessValuesModel.mainDataContentRowCount"
              class="color-highlight">MainDataContentRowCount</label>
            <input matInput [(ngModel)]="dataConfigSiteAccessValuesModel.mainDataContentRowCount"
              name="dataConfigSiteAccessValuesModel.mainDataContentRowCount"
              #dataConfigSiteAccessValuesModel_MainDataContentRowCount type="number" placeholder="0" required
              class="form-control validate-name" id="dataConfigSiteAccessValuesModel.mainDataContentRowCount" />
            <mat-error *ngIf="dataConfigSiteAccessValuesModel_MainDataContentRowCount.errors?.required">
              MainDataContentRowCount is <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- UseDataDefaulteSiteId Field -->
          <!-- <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId"
                class="color-highlight">{{'TITLE.Default_information_site_ID' | translate}}</label>
              <input matInput [(ngModel)]="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId"
              name="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId"
              #dataConfigSiteAccessValuesModel_UseDataDefaulteSiteId type="number" placeholder="0"
                class="form-control validate-name" id="dataConfigSiteAccessValuesModel.useDataDefaulteSiteId" />
            </div> -->
          <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
            <div [innerHTML]="dataConfigSiteAccessValuesModel | prettyjson"></div>
          </div>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
            <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
      <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
      <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
    </form>
    <!--Content-->
  </div>
</div>