<div class="card card-style">
  <div class="content">
    <h5 class="font-14 opacity-50">{{widgetInfoModel.title}} <a routerLink="{{widgetInfoModel.link}}"
        routerLinkActive="active" class="float-end color-highlight">نمایش همه</a></h5>
    <div class="divider mb-3"></div>

    <div class="list-group list-custom-small list-menu ms-0 me-2">
      <app-progress-spinner [options]="loading"> </app-progress-spinner>
      <a routerLink="{{widgetInfoModel?.items?.get('Read')?.link}}" class="menu-active">
        <i class="fa fa-comment gradient-blue color-white"></i>
        <span>خوانده شده</span>
        <span class="badge gradient-blue color-white">{{widgetInfoModel?.items?.get("Read")?.count}}</span>
        <i class="fa fa-angle-left"></i>
      </a>
      <a routerLink="{{widgetInfoModel?.items?.get('Unread')?.link}}">
        <i class="fa fa-heart gradient-green color-white"></i>
        <span>خوانده نشده</span>
        <span class="badge gradient-green color-white">{{widgetInfoModel?.items?.get("Unread")?.count}}</span>
        <i class="fa fa-angle-left"></i>
      </a>
      <a routerLink="{{widgetInfoModel?.items?.get('Answered')?.link}}">
        <i class="fa fa-heart gradient-green color-white"></i>
        <span>جواب داده شده</span>
        <span class="badge gradient-green color-white">{{widgetInfoModel?.items?.get("Answered")?.count}}</span>
        <i class="fa fa-angle-left"></i>
      </a>
    </div>

  </div>
</div>