<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
            <div class="ntk-cms-html-card-body">
                <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
                <div class="row">

                    <div class="col-6">
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'TITLE.Direction' | translate}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{'TITLE.Select_the_path_to_send_the_message' | translate}}
                                        <mat-icon>account_circle</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <!-- LinkPrivateSiteConfigId Field -->
                                <app-sms-apipath-selector (optionChange)="onActionSelectPrivateSiteConfig($event)"
                                    [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkApiPathId"
                                    [optionPlaceholder]="this.translate.instant('TITLE.Direction')"
                                    [optionSelectFirstItem]="true">
                                </app-sms-apipath-selector>
                                <app-sms-api-number-selector *ngIf="dataModel.linkApiPathId?.length>0"
                                    [(optionLoading)]="loading" (optionChange)="onActionSelectApiNumber($event)"
                                    [optionSelectForce]="" [optionLinkApiPathId]="dataModel.linkApiPathId"
                                    [optionPlaceholder]="this.translate.instant('TITLE.sender_number')"
                                    [optionSelectFirstItem]="true" [optionSelectFirstItemOnChangeApi]="true">
                                </app-sms-api-number-selector>
                                <mat-action-row>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                                        (click)="nextStep()">{{'ACTION.NEXT' |
                                        translate}}</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'TITLE.Message_Text' | translate}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{'TITLE.Select_the_text_of_the_default_messages' | translate}}
                                        <mat-icon>map</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-sms-main-message-category-selector [(optionLoading)]="loading"
                                    (optionChange)="onActionSelectMessageCategory($event)">
                                </app-sms-main-message-category-selector>
                                <app-sms-main-message-content-selector [(optionLoading)]="loading"
                                    (optionChange)="onActionSelectMessageContent($event)"
                                    [optionLinkCategryId]="dataMessageCategoryModel.id"></app-sms-main-message-content-selector>

                                <textarea matInput [(ngModel)]="dataMessageContentModel.messageBody"
                                    name="dataMessageContentModel.messageBody" type="text"
                                    *ngIf="dataMessageContentModel?.messageBody?.length>0" rows="10"></textarea>
                                <button type="button" (click)="onActionMessageContentAdd()"
                                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                                    *ngIf="dataMessageContentModel?.messageBody?.length>0 && dataModel.message?.length>0">
                                    <i class="ft-x"></i> {{'TITLE.Added_to_the_text' | translate}}
                                </button>
                                <button type="button" (click)="onActionMessageContentNew()"
                                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                                    *ngIf="dataMessageContentModel?.messageBody?.length>0">
                                    <i class="ft-x"></i> {{'TITLE.Message_Text' | translate}}
                                </button>
                                <mat-action-row>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                                        (click)="prevStep()">{{'ACTION.BACK' |
                                        translate}}</button>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                                        (click)="nextStep()">{{'ACTION.NEXT' |
                                        translate}}</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'TITLE.Phonebook' | translate}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{'TITLE.Audience_selection' | translate}}
                                        <mat-icon>date_range</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <app-cms-contact-category-tree-selector
                                    (optionSelectChecked)="onActionContactCategorySelectChecked($event)"
                                    (optionSelectDisChecked)="onActionContactCategorySelectDisChecked($event)">
                                </app-cms-contact-category-tree-selector>
                                <mat-action-row>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                                        (click)="prevStep()">{{'ACTION.BACK' |
                                        translate}}</button>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                                        (click)="nextStep()">{{'ACTION.NEXT' |
                                        translate}}</button>
                                </mat-action-row>
                            </mat-expansion-panel>

                            <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'TITLE.Shipping_time' | translate}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{'TITLE.Time_to_start_sending_and_finish' | translate}}
                                        <mat-icon>date_range</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <div class="row">
                                    <div class="col-6">
                                        <!-- scheduleSendStart Field -->
                                        <div
                                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                                            <label for="dataModelDateByClockStart.date" class="color-highlight">
                                                {{'TITLE.postage_date' | translate}}</label>
                                            <input matInput [matDatepicker]="scheduleSendStartDate"
                                                [(ngModel)]="dataModelDateByClockStart.date"
                                                name="scheduleSendStartDate" class="form-control validate-name"
                                                id="dataModelDateByClockStart.date" />
                                            <mat-datepicker-toggle matSuffix
                                                [for]="scheduleSendStartDate"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #scheduleSendStartDate
                                                (closed)="onActionScheduleSendCheck()">
                                            </mat-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <!-- scheduleSendStartClock Field -->
                                        <div
                                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                                            <label for="dataModelDateByClockStart.clock" class="color-highlight">
                                                {{'TITLE.Shipping_time' | translate}}</label>
                                            <input matInput [ngxTimepicker]="scheduleSendStartClock"
                                                [(ngModel)]="dataModelDateByClockStart.clock" [format]="24"
                                                name="scheduleSendStartClock" class="form-control validate-name"
                                                id="dataModelDateByClockStart.clock" />
                                            <ngx-material-timepicker-toggle matSuffix [for]="scheduleSendStartClock">
                                            </ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker touchUi #scheduleSendStartClock
                                                (closed)="onActionScheduleSendCheck()">
                                            </ngx-material-timepicker>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <!-- scheduleSendExpire Field -->
                                        <div
                                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                                            <label for="dataModelDateByClockExpire.date"
                                                class="color-highlight">{{'TITLE.Delivery_end_date' |
                                                translate}}</label>
                                            <input matInput [matDatepicker]="scheduleSendExpireDate"
                                                [(ngModel)]="dataModelDateByClockExpire.date"
                                                name="scheduleSendExpireDate" class="form-control validate-name"
                                                id="dataModelDateByClockExpire.date" />
                                            <mat-datepicker-toggle matSuffix
                                                [for]="scheduleSendExpireDate"></mat-datepicker-toggle>
                                            <mat-datepicker touchUi #scheduleSendExpireDate
                                                (closed)="onActionScheduleSendCheck()">
                                            </mat-datepicker>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <!-- scheduleSendExpireClock Field -->
                                        <div
                                            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                                            <label for="dataModelDateByClockExpire.clock"
                                                class="color-highlight">{{'TITLE.Send_end_time' | translate}}</label>
                                            <input matInput [ngxTimepicker]="scheduleSendExpireClock"
                                                [(ngModel)]="dataModelDateByClockExpire.clock" [format]="24"
                                                name="scheduleSendExpireClock" class="form-control validate-name"
                                                id="dataModelDateByClockExpire.clock" />
                                            <ngx-material-timepicker-toggle matSuffix [for]="scheduleSendExpireClock">
                                            </ngx-material-timepicker-toggle>
                                            <ngx-material-timepicker touchUi #scheduleSendExpireClock
                                                (closed)="onActionScheduleSendCheck()">
                                            </ngx-material-timepicker>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                {{this.dataModel.scheduleSendStart}} >>> {{this.dataModel.scheduleSendExpire}}
                                <mat-action-row>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                                        (click)="prevStep()">{{'ACTION.BACK' |
                                        translate}}</button>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                                        (click)="nextStep()">{{'ACTION.NEXT' |
                                        translate}}</button>
                                </mat-action-row>

                            </mat-expansion-panel>
                            <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'TITLE.Timing' | translate}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{'TITLE.Retry_schedule' | translate}}
                                        <mat-icon>date_range</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <cron-editor [(cron)]="dataModel.scheduleCron" [disabled]="isCronDisabled"
                                    [options]="cronOptions">
                                </cron-editor>



                                <h2 style="direction: ltr;">Resulting Cron: {{dataModel.scheduleCron}}</h2>

                                <mat-action-row>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                                        (click)="prevStep()">{{'ACTION.BACK' |
                                        translate}}</button>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                                        (click)="nextStep()">{{'ACTION.NEXT' |
                                        translate}}</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                            <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'TITLE.Settings' | translate}}
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        {{'TITLE.Send_settings' | translate}}
                                        <mat-icon>date_range</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <!-- IsFlash Field -->
                                <div class="d-flex mb-3">
                                    <div class="pt-1">
                                        <h5 data-trigger-switch="dataModel.isFlash" class="font-600 font-14">
                                            {{'TITLE.Send_as_flash' | translate}}</h5>
                                    </div>
                                    <div class="ms-auto me-3 pe-2">
                                        <div class="custom-control ios-switch small-switch">
                                            <input type="checkbox" class="ios-input" id="dataModel.isFlash"
                                                [(ngModel)]="dataModel.isFlash" name="dataModel.isFlash">
                                            <label class="custom-control-label" for="dataModel.isFlash"></label>
                                        </div>
                                    </div>
                                </div>
                                <!-- SendByQeue Field -->
                                <div class="d-flex mb-3">
                                    <div class="pt-1">
                                        <h5 data-trigger-switch="dataModel.sendByQeue" class="font-600 font-14">
                                            {{'TITLE.Send_in_queue' | translate}}</h5>
                                    </div>
                                    <div class="ms-auto me-3 pe-2">
                                        <div class="custom-control ios-switch small-switch">
                                            <input type="checkbox" class="ios-input" id="dataModel.sendByQeue"
                                                [(ngModel)]="dataModel.sendByQeue" name="dataModel.sendByQeue">
                                            <label class="custom-control-label" for="dataModel.sendByQeue"></label>
                                        </div>
                                    </div>
                                </div>
                                <mat-action-row>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                                        (click)="prevStep()">{{'ACTION.BACK' |
                                        translate}}</button>
                                    <button type="button"
                                        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                                        (click)="nextStep()">{{'ACTION.END' |
                                        translate}}</button>
                                </mat-action-row>
                            </mat-expansion-panel>
                        </mat-accordion>

                    </div>
                    <div class="col-6">
                        <div class="message-box">
                            <div class="row" style="height:64px">

                            </div>
                            <div class="row" style="height:300px">
                                <!-- Message Field -->
                                <div
                                    class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                                    <label for="dataModel.message" class="color-highlight">{{'TITLE.Message_Text' |
                                        translate}}</label>
                                    <textarea matInput [(ngModel)]="dataModel.message" name="dataModel.message" #Message
                                        type="text" placeholder="..." class="form-control validate-name"
                                        id="dataModel.message" minlength="1" maxlength="500" rows="9"></textarea>
                                    <em>{{ Message.value.length }} / 500</em>
                                    <mat-error *ngIf="Message.errors?.required">
                                        {{'TITLE.Message_Text' | translate}} <strong>{{'MESSAGE.required' |
                                            translate}}</strong>
                                    </mat-error>
                                </div>
                            </div>
                            <div class="row" style="height:83px">
                                <!-- ToNumbers Field -->
                                <div *ngIf="(!this.dataModel.toContactCategories ||this.dataModel.toContactCategories?.length === 0) && (!this.dataModel.toContactContents||this.dataModel.toContactContents?.length === 0)"
                                    class="input-style has-borders  no-icon input-style-always-active validate-field mb-4">
                                    <label for="dataModel.toNumbers" class="color-highlight">{{'TITLE.Receiver_number' |
                                        translate}}</label>
                                    <textarea matInput [(ngModel)]="dataModel.toNumbers" name="dataModel.toNumbers"
                                        id="dataModel.toNumbers" #ToNumbers type="text" placeholder="0912"
                                        rows="2"></textarea>
                                    <em>
                                        <strong
                                            class="info-field-text">{{'TITLE.You_can_separate_the_number_of_the_recipient_of_the_message_with_an_inter'
                                            | translate}}</strong>
                                    </em>

                                </div>
                            </div>
                            <div class="row" *ngIf="formInfo.formSubmitAllow  && !loading?.display"
                                style="height:140px;bottom: 4vh;justify-content: center;">
                                <app-progress-spinner [options]="loadingAction"> </app-progress-spinner>
                                <button type="submit" (click)="onFormSubmit()" class="message-box-button"
                                    [disabled]="!vform.valid" *ngIf="!this.loading.display">
                                    <i class="fa fa-check-square-o"></i>
                                    {{'ACTION.Send_Message' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <app-cms-json-list [dataModel]="dataModelResult.item" [optionMethod]="1" *ngIf="dataModelResult?.item">
            </app-cms-json-list>

        </form>
        <!--Content-->
    </div>
</div>