<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      حساب کاربری خود را ویرایش کنید
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm" [ngStyle]="{'direction' : tokenInfo.direction }">
      {{ formInfo.formTitle }}
      <!-- FileType Field -->
      <div class="input-style has-borders input-style-always-active validate-field no-icon mb-4">
        <select id="dataModel.fileType" [(ngModel)]="dataModel.fileType" name="dataModel.fileType"
          #RecordStatus="ngModel" class="form-control validate-name">
          <option *ngFor="
              let item of fileTypeListItems;
              index as i" [value]="item.value">
            {{ item.description }}
          </option>
        </select>
        <em>{{'TITLE.Select_the_file_format' | translate}}</em>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- RecieveMethod Field -->
      <div class="input-style has-borders input-style-always-active validate-field no-icon mb-4">
        <select id="dataModel.recieveMethod" [(ngModel)]="dataModel.recieveMethod" name="dataModel.recieveMethod"
          #RecordStatus="ngModel" class="form-control validate-name">
          <option *ngFor="
              let item of recieveMethodListItems;
              index as i" [value]="item.value">
            {{ item.description }}
          </option>
        </select>
        <em>{{'TITLE.Select_the_method_of_receiving_the_file' | translate}}</em>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- ReportFormatFileId Field -->
      <div *ngIf="this.dataModel.fileType===EnumExportFileTypeReport"
        class="input-style has-borders input-style-always-active validate-field no-icon mb-4">
        <label for="dataModel.reportFormatFileId" class="color-highlight">{{'TITLE.Report_Format' | translate}}</label>
        <select id="dataModel.reportFormatFileId" [(ngModel)]="dataModel.reportFormatFileId"
          name="dataModel.reportFormatFileId" #RecordStatus="ngModel" class="form-control validate-name">
          <option *ngFor="
              let item of dataModelReportFileResult.listItems;
              index as i" [value]="item.id" (onSelectionChange)="onActionFileSelect(item)">
            {{ item.title }}
          </option>
        </select>
        <em>{{'TITLE.Report_Format_Select' | translate}}</em>
        <mat-error *ngIf="RecordStatus.errors?.required">
          RecordStatus is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <div class="form-actions">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" style="margin: 1px;" [disabled]="!vform.form.valid || !formInfo.formSubmitAllow">
          <i class="fa-solid fa-print"></i> {{'ACTION.FILE_CREATION' | translate}}
        </button>
        <button type="button" (click)="onOpenPage()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight" style="margin: 1px;"
          *ngIf="dataModelSubmitResult && dataModelSubmitResult.isSuccess && dataModelSubmitResult.linkFile?.length >0">
          <i class="fa-solid fa-download"></i> {{'TITLE.download_link' | translate}}
        </button>
      </div>
    </form>
    <!--Content-->
  </div>
</div>