<app-progress-spinner [options]="loading"> </app-progress-spinner>
<app-cms-guide-notice [Key]="'polling.content.list.edit'" [svg]="'assets/media/svg/icons/General/Notifications1.svg'">
</app-cms-guide-notice>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <mat-vertical-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>

        <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
          <!-- RecordStatus Field -->
          < <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
            [(model)]="dataModel.recordStatus" [optionDisabled]="false"
            [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
            [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



            <!-- LinkCategoryId Field -->
            <app-polling-category-selector (optionChange)="onActionSelectorSelect($event)" [(optionLoading)]="loading"
              [optionSelectForce]="dataModel.linkCategoryId" [optionPlaceholder]="'TITLE.Category' | translate">
            </app-polling-category-selector>
            <!-- Title Field -->
            <div *ngIf="fieldsInfo['title']?.accessWatchField"
              class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
              <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
                placeholder="{{fieldsInfo['title']?.fieldTitle }}" minlength="3" maxlength="100" required
                class="form-control validate-name" id="dataModel.title" />
              <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
              <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
              <em>{{ Title.value.length }} / 100</em>
              <mat-error *ngIf="Title.errors?.required">
                Title is <strong>{{'MESSAGE.required' | translate}}</strong>
              </mat-error>
            </div>
            <!-- Question Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.question" class="color-highlight">{{ "TITLE.Question" | translate}}</label>
              <textarea matInput [(ngModel)]="dataModel.question" name="dataModel.question" #Question type="text"
                placeholder="{{'TITLE.Question' | translate}}" minlength="1" maxlength="1000" rows="5" required
                id="dataModel.question" class="form-control validate-name">
                  </textarea>
              <em>{{ Question.value.length }} / 1000</em>
              <i *ngIf="!Question.value" class="fa fa-times  invalid color-red-dark"></i>
              <i *ngIf="Question.value" class="fa fa-check  valid color-green-dark"></i>
              <mat-error *ngIf="Question.errors?.required">
                Question is <strong>{{'MESSAGE.required' | translate}}</strong>
              </mat-error>
            </div>
            <!-- MaxVoteForThisContent Field -->
            <div *ngIf="fieldsInfo['title']?.accessWatchField"
              class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.maxVoteForThisContent" class="color-highlight">{{'TITLE.Maximum_Total_Score' |
                translate}}</label>
              <input matInput type="number" [(ngModel)]="dataModel.maxVoteForThisContent"
                name="dataModel.maxVoteForThisContent" #MaxVoteForThisContent type="number"
                placeholder="{{'MESSAGE.Maximum_Score_That_User_Can_Give' | translate}}" minlength="1" maxlength="100"
                required class="form-control validate-name" id="dataModel.maxVoteForThisContent" />
              <i *ngIf="!MaxVoteForThisContent.value" class="fa fa-times  invalid color-red-dark"></i>
              <i *ngIf="MaxVoteForThisContent.value" class="fa fa-check  valid color-green-dark"></i>
              <em>{{ MaxVoteForThisContent.value.length }} / 100</em>
              <mat-error *ngIf="MaxVoteForThisContent.errors?.required">
                MaxVoteForThisContent is <strong>{{'MESSAGE.required' | translate}}</strong>
              </mat-error>
            </div>
            <!-- MaxVoteForEachOption Field -->
            <div *ngIf="fieldsInfo['title']?.accessWatchField"
              class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.maxVoteForEachOption" class="color-highlight">{{'TITLE.Maximum_Score_For_Per_Option'
                |
                translate}}</label>
              <input matInput type="number" [(ngModel)]="dataModel.maxVoteForEachOption"
                name="dataModel.maxVoteForEachOption" #MaxVoteForEachOption type="number"
                placeholder="{{'MESSAGE.Maximum_Score_That_User_Can_Give' | translate}}" minlength="1" maxlength="100"
                required class="form-control validate-name" id="dataModel.maxVoteForEachOption" />
              <i *ngIf="!MaxVoteForEachOption.value" class="fa fa-times  invalid color-red-dark"></i>
              <i *ngIf="MaxVoteForEachOption.value" class="fa fa-check  valid color-green-dark"></i>
              <em>{{ MaxVoteForEachOption.value.length }} / 100</em>
              <mat-error *ngIf="MaxVoteForEachOption.errors?.required">
                MaxVoteForEachOption is <strong>{{'MESSAGE.required' | translate}}</strong>
              </mat-error>
            </div>
            <!-- ViewStatisticsAfterVote Field -->
            <div *ngIf="fieldsInfo['viewStatisticsAfterVote']?.accessWatchField" class="d-flex mb-3">
              <div class="pt-1">
                <h5 data-trigger-switch="dataModel.viewStatisticsAfterVote" class="font-600 font-14">
                  {{'TITLE.View_Statistics_After_Vote' | translate}}</h5>
              </div>
              <div class="ms-auto me-3 pe-2">
                <div class="custom-control ios-switch small-switch">
                  <input type="checkbox" class="ios-input" id="dataModel.viewStatisticsAfterVote"
                    [(ngModel)]="this.dataModel.viewStatisticsAfterVote" name="dataModel.viewStatisticsAfterVote">
                  <label class="custom-control-label" for="dataModel.viewStatisticsAfterVote"></label>
                </div>
              </div>
            </div>
            <!-- ViewStatisticsBeforeVote Field -->
            <div *ngIf="fieldsInfo['viewStatisticsBeforeVote']?.accessWatchField" class="d-flex mb-3">
              <div class="pt-1">
                <h5 data-trigger-switch="dataModel.viewStatisticsBeforeVote" class="font-600 font-14">
                  {{'TITLE.View_Statistics_Before_Vote' | translate}}</h5>
              </div>
              <div class="ms-auto me-3 pe-2">
                <div class="custom-control ios-switch small-switch">
                  <input type="checkbox" class="ios-input" id="dataModel.viewStatisticsBeforeVote"
                    [(ngModel)]="this.dataModel.viewStatisticsBeforeVote" name="dataModel.viewStatisticsBeforeVote">
                  <label class="custom-control-label" for="dataModel.viewStatisticsBeforeVote"></label>
                </div>
              </div>
            </div>
            <!-- FromDate Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.fromDate" class="color-highlight">{{'TITLE.Start_Date' | translate}}</label>
              <input matInput type="text" [(ngModel)]="dataModel.fromDate" [matDatepicker]="FromDate"
                name="dataModel.fromDate" class="form-control validate-name" id="dataModel.fromDate" />
              <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #FromDate></mat-datepicker>
            </div>
            <!-- ExpireDate Field -->
            <div *ngIf="fieldsInfo['expireDate']?.accessWatchField"
              class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
              <label for="dataModel.expireDate" class="color-highlight">{{'TITLE.Expire_Date' | translate}}</label>
              <input matInput type="text" [(ngModel)]="dataModel.expireDate" [matDatepicker]="ExpireDate"
                name="dataModel.expireDate" class="form-control validate-name" id="dataModel.expireDate" />
              <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
              <mat-datepicker touchUi #ExpireDate></mat-datepicker>
            </div>
            <hr class="pb-5" />
            <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="form-actions">
              <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                (click)="onActionBackToParent()">
                {{'ACTION.BACK' | translate}}
              </button>
              <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                [disabled]="!vform.form.valid" matStepperNext>
                {{'ACTION.NEXT' | translate}}
              </button>
            </div>

        </mat-step>

        <mat-step label="{{'TITLE.Poll_Option' | translate}}" state="seo">
          <p>{{'TITLE.This_section_is_for_the_type_and_option_of_the_survey' | translate}}</p>

          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="optionSelected.option" class="color-highlight">{{'TITLE.OPTION' | translate}}</label>
            <input matInput type="text" [(ngModel)]="optionSelected.option" name="optionSelected.option"
              #optionSelected_Option type="text" placeholder="{{'TITLE.OPTION' | translate}}" minlength="1"
              maxlength="200" class="form-control validate-name" id="optionSelected.option" />
            <em>{{ optionSelected_Option.value.length }} / 200</em>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="optionSelected.optionAnswer" class="color-highlight">{{'TITLE.Answer' | translate}}</label>
            <textarea matInput [(ngModel)]="optionSelected.optionAnswer" name="optionSelected.optionAnswer"
              #optionSelected_OptionAnswer type="text" placeholder="{{'TITLE.Answer' | translate}}" minlength="0"
              maxlength="500" rows="5" id="optionSelected.optionAnswer" class="form-control validate-name">
                    </textarea>
            <em>{{ optionSelected_OptionAnswer.value.length }} / 500</em>
          </div>
          <div class="d-flex mb-3">
            <div class="pt-1">
              <h5 data-trigger-switch="optionSelected.isCorrectAnswer" class="font-600 font-14">
                {{'TITLE.This_option_is_correct' | translate}}</h5>
            </div>
            <div class="ms-auto me-3 pe-2">
              <div class="custom-control ios-switch small-switch">
                <input type="checkbox" class="ios-input" id="optionSelected.isCorrectAnswer"
                  [(ngModel)]="this.optionSelected.isCorrectAnswer" name="optionSelected.isCorrectAnswer">
                <label class="custom-control-label" for="optionSelected.isCorrectAnswer"></label>
              </div>
            </div>
          </div>
          <button (click)="onActionOptionAddToList()" [disabled]="!optionActionButtomEnable" type="button"
            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
            {{'ACTION.Add_To_List' | translate}} ...
          </button>
          <p>{{'TITLE.List_of_other_information' | translate}}</p>
          <app-progress-spinner [options]="loadingOption">
          </app-progress-spinner>
          <!-- TABLE  -->
          <div class="example-container mat-elevation-z8" *ngIf="!loadingOption.display">
            <mat-table [dataSource]="optionTabledataSource">
              <!-- Id Column -->
              <ng-container matColumnDef="Id">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.Id' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
              </ng-container>
              <!-- Option Column -->
              <ng-container matColumnDef="Option">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.option}} </mat-cell>
              </ng-container>
              <!-- OptionAnswer Column -->
              <ng-container matColumnDef="OptionAnswer">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.Answers' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.optionAnswer}} </mat-cell>
              </ng-container>
              <!-- IsCorrectAnswer Column -->
              <ng-container matColumnDef="IsCorrectAnswer">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.Is_Correct_Answer' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"><i [ngClass]="row.isCorrectAnswer|boolclass"></i>
                </mat-cell>
              </ng-container>
              <!-- NumberOfVotes Column -->
              <ng-container matColumnDef="NumberOfVotes">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.Number_Of_Votes' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.numberOfVotes}} </mat-cell>
              </ng-container>
              <!-- ScoreOfVotes Column -->
              <ng-container matColumnDef="ScoreOfVotes">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.Score_Of_Votes' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.scoreOfVotes}} </mat-cell>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef> {{'TITLE.OPTION' | translate}} </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index" class='Action'>
                  <small (click)="onActionOptionEditFromList(i)">
                    <mat-icon matTooltip="{{'ACTION.EDIT' | translate}}" matTooltipPosition="before" aria-hidden="false"
                      style="color: blue;">edit</mat-icon>
                  </small>|
                  <small (click)="onActionOptionRemoveFromList(i)">
                    <mat-icon matTooltip="{{'ACTION.DELETE' | translate}}" matTooltipPosition="before"
                      aria-hidden="false" style="color: red;">delete</mat-icon>
                  </small>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="optionTabledisplayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: optionTabledisplayedColumns;"
                [ngStyle]="{'background': row.option === optionSelected.option ? '#d3d3da' : '' }">
              </mat-row>
            </mat-table>
          </div>
          <!-- TABLE  -->
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="form-actions">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>

        <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
          <p>{{'TITLE.CONTENT_ATTACH_FILES' | translate}}</p>
          <!-- LinkMainImageId Field -->
          <div class="mb-3">
            <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
              <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
                aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
            </a>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label (click)="fileManagerOpenForm = true" for="dataModel.linkMainImageId"
              class="color-highlight">{{"TITLE.Original_Photo" | translate}}</label>
            <input matInput type="text" [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId"
              #LinkMainImageId placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" class="form-control validate-name" id="dataModel.linkMainImageId" />
            <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
              [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
              [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
          <!-- LinkFilePodcastIdSrc Field -->
          <div class="mb-3">
            <audio *ngIf="dataModel?.linkFilePodcastIdSrc?.length>0" controls>
              <source src="{{dataModel.linkFilePodcastIdSrc | cmsthumbnail}}" type="audio/mp3">
              Your browser does not support the audio tag.
            </audio>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <input matInput type="text" [(ngModel)]="dataModel.linkFilePodcastId" name="dataModel.linkFilePodcastId"
              #LinkFilePodcastId placeholder="{{'TITLE.Audio_File_ID' | translate}}"
              (click)="fileManagerOpenFormPodcast = true" class="form-control validate-name"
              id="dataModel.linkFilePodcastId" />
            <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcast" [tree]="fileManagerTree"
              [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
              [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
          <!-- LinkFileMovieId Field -->
          <div class="mb-3">
            <video *ngIf="dataModel?.linkFileMovieIdSrc?.length>0" controls>
              <source src="{{dataModel.linkFileMovieIdSrc }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <input matInput type="text" [(ngModel)]="dataModel.linkFileMovieId" name="dataModel.linkFileMovieId"
              #LinkFileMovieId placeholder="{{'TITLE.Video_File_ID' | translate}}"
              (click)="fileManagerOpenFormMovie = true" class="form-control validate-name"
              id="dataModel.linkFileMovieId" />
            <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenFormMovie" [tree]="fileManagerTree"
              [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
              [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="form-actions">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>

        <mat-step label="{{'TITLE.Location' | translate}} " state="loaction">
          <!-- LinkLocationId Field -->
          <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
            [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField" [(optionLoading)]="loading"
            [optionSelectForce]="dataModel.linkLocationId" [optionPlaceholder]="'TITLE.Region' | translate">
          </app-cms-location-selector>
          <p>{{'TITLE.Click_on_the_map_to_specify_the_location' | translate}}</p>
          <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
            id='main-map'></app-cms-map>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>

        <!-- Icon overrides. -->
        <ng-template matStepperIcon="main">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="seo">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="file">
          <mat-icon>forum</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="loaction">
          <mat-icon>forum</mat-icon>
        </ng-template>


      </mat-vertical-stepper>


    </form>
    <!--Content-->
  </div>
</div>