<!-- <div class="row">
  <div (click)="onActionCopyHeaderKey(keyTemplate,$event)" class="col-2 pe-0">
    <p class="text-center">
      <span *ngIf="(svg && svg.length>0)" class="svg-icon svg-icon-primary position-absolute opacity-15"
        [inlineSVG]="svg" [setSVGAttributes]="{ class: 'h-120px w-120px' }"></span>
    </p>
  </div>
  <div class="col-9">
    <h1 [innerHTML]="description"></h1>
    <p [innerHTML]="body">
    </p>
  </div>
  <div class="col-1">
    <a (click)=" onActionBottunClick()" *ngIf="!bodyShow&& (body?.length>0 || podcast>0 || movie>0)" target="_blank"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      <i class="fa-solid fa-maximize font-18" style="color: #ffffff;"></i>
    </a>
    <a (click)="onActionCloseBottunClick()" *ngIf="bodyShow" target="_blank"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      <i class="fa-solid fa-minimize font-18" style="color: #ffffff;"></i>
    </a>
  </div>
</div>
<div class="row" *ngIf="podcastSrc && podcastSrc?.length>0 && bodyShow">
  <div class="col-md-12 col-sm-12 col-xs-112">
    <audio class="audio" controls>
      <source src="{{podcastSrc | cmsthumbnail}}" type="audio/mp3">
      Your browser does not support the audio tag.
    </audio>
  </div>
</div> -->

<ng-template #keyTemplate>
  <div style="text-align-last: center;">
    <p>{{this.Key}}</p>
    <button (click)="onActionCopied()" [cdkCopyToClipboard]="this.Key"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">Copy</button>
  </div>
</ng-template>
<!-------------->
<!-------------->
<!--Menu Video-->
<!-------------->
<!-------------->
<div *ngIf="movie>0" id="menu-video" class="menu menu-box-bottom rounded-m" style="height:410px;"
  [ngClass]="privatOptionView?'menu-active':''" data-menu-effect="menu-over">
  <div class='responsive-iframe max-iframe'>
    <video class="header-video" controls>
      <source src="{{movieSrc}}" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
  <div class="menu-title">
    <p class="color-highlight" [innerHTML]="description">...</p>
    <a (click)="onActionCloseBottunClick()" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="content mt-n2">
    <p [innerHTML]="body">
      ....
    </p>
  </div>
  <div class="row" *ngIf="podcastSrc && podcastSrc?.length>0 && bodyShow">
    <div class="col-md-12 col-sm-12 col-xs-112">
      <audio class="audio" controls>
        <source src="{{podcastSrc | cmsthumbnail}}" type="audio/mp3">
        Your browser does not support the audio tag.
      </audio>
    </div>
  </div>
</div>

<!---------------->
<!---------------->
<!--Menu Memo-->
<!---------------->
<!---------------->
<div *ngIf="movie<=0" id="menu-success-1" [ngClass]="privatOptionView?'menu-active':''"
  class="menu menu-box-bottom rounded-m" style="height:410px;" data-menu-effect="menu-over">
  <div class="menu-title">
    <i (click)="onActionCopyHeaderKey(keyTemplate,$event)"
      class="fa fa-info-circle scale-box float-start me-3 ms-3 fa-4x color-green-dark"></i>
    <p class="color-highlight" [innerHTML]="description">...</p>
    <a (click)="onActionCloseBottunClick()" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="content mt-0 mb-0">
    <p class="pe-3" [innerHTML]="body">
      ...
    </p>
  </div>
  <div class="row" *ngIf="podcastSrc && podcastSrc?.length>0 && bodyShow">
    <div class="col-md-12 col-sm-12 col-xs-112">
      <audio class="audio" controls>
        <source src="{{podcastSrc | cmsthumbnail}}" type="audio/mp3">
        Your browser does not support the audio tag.
      </audio>
    </div>
  </div>
</div>