<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div [ngClass]="themeStore.dataMenu==='menu-main'?'menu-active':''" class="menu menu-box-right rounded-0"
  data-menu-width="280" data-menu-active="nav-pages">

  <div class="card rounded-0 bg-6" data-card-height="150">
    <div class="card-top">
      <a (click)="themeStore.dataMenu=''" class="close-menu float-end me-2 text-center mt-3 icon-40 notch-clear"><i
          class="fa fa-times color-white"></i></a>
    </div>
    <div *ngIf="this.tokenInfo?.userId>0" class="card-bottom">
      <a (click)="themeStore?.dataMenu!=='menu-profile' ? themeStore.dataMenu='menu-profile':themeStore.dataMenu=''">
        <h1 class="color-white ps-3 mb-0 font-28">{{ tokenInfo.name}} {{ tokenInfo.lastName }}</h1>
        <p class="mb-2 ps-3 font-12 color-white opacity-50">به آینده خوش آمدید</p>
      </a>
    </div>
    <div *ngIf="!this.tokenInfo|| !this.tokenInfo.userId||this.tokenInfo.userId<=0" class="card-bottom">
      <a (click)="onActionCleanDataMenu('/auth/singinbysms')">
        <h1 class="color-white ps-3 mb-0 font-28">وارد شوید</h1>
        <p class="mb-2 ps-3 font-12 color-white opacity-50">به آینده خوش آمدید</p>
      </a>
    </div>
    <div class="card-overlay bg-gradient"></div>
  </div>
  <div class="mt-4"></div>
  <h6 class="menu-divider">منو</h6>
  <div class="list-group list-custom-small list-menu">
    <a id="nav-welcome" href="/">
      <i class="fa fa-heart gradient-red color-white"></i>
      <span>خانه</span>
      <!-- <i class="fa fa-angle-left"></i> -->
    </a>


    <a *ngIf="this.tokenInfo?.userId>0" id="nav-homepages" (click)="onActionCleanDataMenu('/dashboard')"
      style="cursor: pointer;">
      <i class="fa fa-home gradient-green color-white"></i>
      <span>داشبورد</span>
      <!-- <i class="fa fa-angle-left"></i> -->
    </a>
    <a *ngIf="this.tokenInfo?.userId>0" id="nav-components" (click)="onActionCleanDataMenu('/core/site/selection')"
      style="cursor: pointer;">
      <i class="fa fa-cog gradient-blue color-white"></i>
      <span>انتخاب سایت</span>
      <!-- <i class="fa fa-angle-left"></i> -->
    </a>
    <a *ngIf="!this.tokenInfo|| !this.tokenInfo.userId|| this.tokenInfo.userId<=0" id="nav-components"
      (click)="onActionCleanDataMenu('/auth/singinbysms')" style="cursor: pointer;">
      <i class="fa fa-cog gradient-blue color-white"></i>
      <span>ورود</span>
      <!-- <i class="fa fa-angle-left"></i> -->
    </a>


    <a *ngFor="let item of dataModelResult.listItems;" (click)="onActionClickMenu(item)" style="cursor: pointer;">
      <i class="{{item.icon}} " [style.color]="item.color?.length>0 ? item.color:'color-white'"></i>
      <span>{{item.titleML}}</span>
      <i class="fa fa-angle-left"></i>
    </a>

    <a id="nav-contact" (click)="onActionCleanDataMenu('/page/aboutus')" style="cursor: pointer;">
      <i class="fa fa-envelope gradient-teal color-white"></i>
      <span>درباره ما</span>
      <!-- <i class="fa fa-angle-left"></i> -->
    </a>
    <a id="nav-contact" (click)="onActionCleanDataMenu('/page/contactus')" style="cursor: pointer;">
      <i class="fa fa-envelope gradient-teal color-white"></i>
      <span>ارتباط با ما</span>
      <!-- <i class="fa fa-angle-left"></i> -->
    </a>
  </div>
  <h6 class="menu-divider mt-4">تنظیمات</h6>
  <div class="list-group list-custom-small list-menu">
    <a (click)="themeStore?.dataMenu!=='menu-colors' ? themeStore.dataMenu='menu-colors':themeStore.dataMenu=''"
      style="cursor: pointer;">
      <i class="fa fa-brush gradient-highlight color-white"></i>
      <span>رنگ بندی</span>
      <i class="fa fa-angle-left"></i>
    </a>
    <a (click)="themeStore?.dataMenu!=='menu-language' ? themeStore.dataMenu='menu-language':themeStore.dataMenu=''"
      style="cursor: pointer;">
      <i class="fa fa-globe gradient-highlight color-white"></i>
      <span>زبان</span>
      <i class="fa fa-angle-left"></i>
    </a>
    <a data-toggle-theme="" data-trigger-switch="switch-dark-mode">
      <i class="fa fa-moon gradient-dark color-white"></i>
      <span>تم تاریک</span>
      <div class="custom-control small-switch ios-switch">
        <input data-toggle-theme type="checkbox" class="ios-input" [checked]="themeStore.themeMode==='dark'"
          (click)="themeStore.themeMode==='dark' ? onActionThemeSwitch('light'):onActionThemeSwitch('dark')"
          id="toggle-dark-menu">
        <label class="custom-control-label" for="toggle-dark-menu"></label>
      </div>
    </a>

    <a *ngIf="this.tokenInfo?.userId>0" id="nav-components"
      (click)="onActionLogout()" style="cursor: pointer;">
      <i class="fa fa-cog gradient-blue color-red"></i>
      <span>خروج</span>
      <!-- <i class="fa fa-angle-left"></i> -->
    </a>
  </div>
  <h6 class="menu-divider mt-4" *ngIf="this.env.loadDemoTheme">مخاطبین</h6>
  <div class="list-group list-custom-small list-menu ps-2" *ngIf="this.env.loadDemoTheme">
    <a>
      <img src="assets/images/pictures/1s.jpg">
      <span>زانیار مدنی</span>
      <i class="fa fa-angle-left"></i>
    </a>
    <a>
      <img src="assets/images/pictures/5s.jpg">
      <span>مالیا دانی</span>
      <i class="fa fa-angle-left"></i>
    </a>
    <a>
      <img src="assets/images/pictures/6s.jpg">
      <span>اکرم محمدی</span>
      <i class="fa fa-angle-left"></i>
    </a>
  </div>
  <h6 class="menu-divider font-10 mt-4" style="direction: ltr;text-align: center;">client ver:
    {{this.publicHelper.appClientVersion}} / server
    ver:{{this.publicHelper.appServerVersion}}</h6>

</div>
