<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- Title Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
        <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
          placeholder="{{fieldsInfo['title']?.fieldTitle }}" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.title" />
        <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ Title.value.length }} / 100</em>
        <mat-error *ngIf="Title.errors?.required">
          Title is <strong>{{ "MESSAGE.required" | translate }}</strong>
        </mat-error>
      </div>
      <!-- LinkPropertyTypeLanduseId Field -->
      <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelect($event)"
        [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkPropertyTypeLanduseId"
        [optionPlaceholder]="this.translate.instant('TITLE.user')">
      </app-estate-property-type-landuse-selector>
      <!-- LinkPropertyDetailGroupId Field -->
      <app-estate-property-detail-group-selector (optionChange)="onActionSelectorDetailGroup($event)"
        [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkPropertyDetailGroupId"
        [optionPlaceholder]="this.translate.instant('TITLE.Category')">
      </app-estate-property-detail-group-selector>
      <!-- IconFont Field -->
      <div *ngIf="fieldsInfo['iconFont']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.iconFont" class="color-highlight">{{fieldsInfo['iconFont']?.fieldTitle}}</label>
        <input matInput type="text" [(ngModel)]="dataModel.iconFont" name="dataModel.iconFont" #IconFont type="text"
          [iconPicker]="dataModel.iconFont" [ipIconPack]="['fa']" [ipPosition]="'top'"
          (iconPickerSelect)="onIconPickerSelect($event)" placeholder="{{fieldsInfo['iconFont']?.fieldTitle}}"
          [disabled]="!fieldsInfo['iconFont']?.accessAddField" class="form-control validate-name"
          id="dataModel.iconFont" />
        <span class="input-group-addon"><i [ngClass]="dataModel.iconFont"></i></span>
      </div>
      <!-- iconColor Field -->
      <div *ngIf="fieldsInfo['iconColor']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.iconColor" class="color-highlight">{{fieldsInfo['iconColor']?.fieldTitle}}</label>
        <div class="row mb-0">
          <div class="col-11 pe-0">
            <input matInput type="text" [(ngModel)]="dataModel.iconColor" name="dataModel.iconColor" #iconColor
              type="text" [style.background]="dataModel.iconColor" [ngxMatColorPicker]="iconColorPicker"
              placeholder="{{fieldsInfo['iconColor']?.fieldTitle}}"
              [disabled]="!fieldsInfo['iconColor']?.accessAddField" class="form-control validate-name"
              id="dataModel.iconColor" />
          </div>
          <div class="col-1 ps-0">
            <ngx-ntk-mat-color-toggle matSuffix [for]="iconColorPicker"></ngx-ntk-mat-color-toggle>
            <ngx-ntk-mat-color-picker #iconColorPicker [touchUi]="true" [color]="'primary'"></ngx-ntk-mat-color-picker>
          </div>
        </div>
      </div>
      <!-- ShowInFormOrder Field -->
      <div *ngIf="fieldsInfo['showInFormOrder']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.showInFormOrder"
          class="color-highlight">{{fieldsInfo['showInFormOrder']?.fieldTitle}}</label>
        <input matInput type="number" [(ngModel)]="dataModel.showInFormOrder" name="dataModel.showInFormOrder"
          #ShowInFormOrder placeholder="{{fieldsInfo['showInFormOrder']?.fieldTitle}}"
          [disabled]="!fieldsInfo['showInFormOrder']?.accessAddField" class="form-control validate-name"
          id="dataModel.showInFormOrder" />
      </div>
      <!-- InputDataType Field -->
      <app-cms-enum-x-selector *ngIf="fieldsInfo['inputDataType']?.accessWatchField"
        [optionDataListResult]="dataModelInputDataTypeEnumResult" [(model)]="dataModel.inputDataType"
        [optionDisabled]="false" [optionLabel]="this.fieldsInfo['inputDataType']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-x-selector>

      <!-- Unit Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.unit" class="color-highlight">{{fieldsInfo['unit']?.fieldTitle}}</label>
        <input matInput type="text" [(ngModel)]="dataModel.unit" name="dataModel.unit" #Unit
          placeholder="{{fieldsInfo['unit']?.fieldTitle}}" minlength="1" maxlength="64"
          class="form-control validate-name" id="dataModel.unit" />
        <em>{{ Unit.value.length }} / 64</em>
      </div>
      <!-- ConfigValueIntValueMin Field -->
      <div *ngIf="dataModel.inputDataType===1 ||dataModel.inputDataType===3"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.configValueIntValueMin"
          class="color-highlight">{{fieldsInfo['configValueIntValueMin']?.fieldTitle}}</label>
        <input matInput type="number" [(ngModel)]="dataModel.configValueIntValueMin"
          name="dataModel.configValueIntValueMin" #ConfigValueIntValueMax
          placeholder="{{fieldsInfo['configValueIntValueMin']?.fieldTitle}}" class="form-control validate-name"
          id="dataModel.configValueIntValueMin" />
        <em>{{ Unit.value.length }} / 64</em>
      </div>
      <!-- ConfigValueIntValueMax Field -->
      <div *ngIf="dataModel.inputDataType===1 ||dataModel.inputDataType===3"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.configValueIntValueMax"
          class="color-highlight">{{fieldsInfo['configValueIntValueMax']?.fieldTitle}}</label>
        <input matInput type="number" [(ngModel)]="dataModel.configValueIntValueMax"
          name="dataModel.configValueIntValueMax" #ConfigValueIntValueMax
          placeholder="{{fieldsInfo['configValueIntValueMax']?.fieldTitle}}" class="form-control validate-name"
          id="dataModel.configValueIntValueMax" />
        <em>{{ Unit.value.length }} / 64</em>
      </div>
      <!-- InvisibleForEndUser Field -->
      <div *ngIf="fieldsInfo['invisibleForEndUser']?.accessWatchField" class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.invisibleForEndUser" class="font-600 font-14">
            {{fieldsInfo['invisibleForEndUser']?.fieldTitle}}</h5>
        </div>
        <!-- InputDataType Field -->
        <app-cms-enum-x-selector *ngIf="fieldsInfo['inputDataType']?.accessWatchField"
          [optionDataListResult]="dataModelInputDataTypeEnumResult" [(model)]="dataModel.inputDataType"
          [optionDisabled]="false" [optionLabel]="this.fieldsInfo['inputDataType']?.fieldTitle" [optionRequired]="true"
          [optionSelectFirstItem]="true"></app-cms-enum-x-selector>
        <!-- Unit Field -->
        <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
          <label for="dataModel.unit" class="color-highlight">{{fieldsInfo['unit']?.fieldTitle}}</label>
          <input matInput type="text" [(ngModel)]="dataModel.unit" name="dataModel.unit" #Unit
            placeholder="{{fieldsInfo['unit']?.fieldTitle}}" minlength="1" maxlength="64"
            class="form-control validate-name" id="dataModel.unit" />
          <em>{{ Unit.value.length }} / 64</em>
        </div>
        <!-- ConfigValueIntValueMin Field -->
        <div *ngIf="dataModel.inputDataType===1 ||dataModel.inputDataType===3"
          class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
          <label for="dataModel.configValueIntValueMin"
            class="color-highlight">{{fieldsInfo['configValueIntValueMin']?.fieldTitle}}</label>
          <input matInput type="number" [(ngModel)]="dataModel.configValueIntValueMin"
            name="dataModel.configValueIntValueMin" #ConfigValueIntValueMax
            placeholder="{{fieldsInfo['configValueIntValueMin']?.fieldTitle}}" class="form-control validate-name"
            id="dataModel.configValueIntValueMin" />
          <em>{{ Unit.value.length }} / 64</em>
        </div>
        <!-- ConfigValueIntValueMax Field -->
        <div *ngIf="dataModel.inputDataType===1 ||dataModel.inputDataType===3"
          class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
          <label for="dataModel.configValueIntValueMax"
            class="color-highlight">{{fieldsInfo['configValueIntValueMax']?.fieldTitle}}</label>
          <input matInput type="number" [(ngModel)]="dataModel.configValueIntValueMax"
            name="dataModel.configValueIntValueMax" #ConfigValueIntValueMax
            placeholder="{{fieldsInfo['configValueIntValueMax']?.fieldTitle}}" class="form-control validate-name"
            id="dataModel.configValueIntValueMax" />
          <em>{{ Unit.value.length }} / 64</em>
        </div>
        <!-- InvisibleForEndUser Field -->
        <div *ngIf="fieldsInfo['invisibleForEndUser']?.accessWatchField" class="d-flex mb-3">
          <div class="pt-1">
            <h5 data-trigger-switch="dataModel.invisibleForEndUser" class="font-600 font-14">
              {{fieldsInfo['invisibleForEndUser']?.fieldTitle}}</h5>
          </div>
          <div class="ms-auto me-3 pe-2">
            <div class="custom-control ios-switch small-switch">
              <input type="checkbox" class="ios-input" id="dataModel.invisibleForEndUser"
                [(ngModel)]="this.dataModel.invisibleForEndUser" name="dataModel.invisibleForEndUser">
              <label class="custom-control-label" for="dataModel.invisibleForEndUser"></label>
            </div>
          </div>
        </div>
      </div>
      <!-- InvisibleForSubmiter Field -->
      <div *ngIf="fieldsInfo['invisibleForSubmiter']?.accessWatchField" class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.invisibleForSubmiter" class="font-600 font-14">
            {{fieldsInfo['invisibleForSubmiter']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.invisibleForSubmiter"
              [(ngModel)]="this.dataModel.invisibleForSubmiter" name="dataModel.invisibleForSubmiter">
            <label class="custom-control-label" for="dataModel.invisibleForSubmiter"></label>
          </div>
        </div>
      </div>
      <!-- Required Field -->
      <div *ngIf="fieldsInfo['required']?.accessWatchField" class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.required" class="font-600 font-14">
            {{fieldsInfo['required']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.required" [(ngModel)]="this.dataModel.required"
              name="dataModel.required">
            <label class="custom-control-label" for="dataModel.required"></label>
          </div>
        </div>
      </div>
      <!-- IsHistoryable Field -->
      <div *ngIf="fieldsInfo['isHistoryable']?.accessWatchField" class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.isHistoryable" class="font-600 font-14">
            {{fieldsInfo['isHistoryable']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.isHistoryable"
              [(ngModel)]="this.dataModel.isHistoryable" name="dataModel.isHistoryable">
            <label class="custom-control-label" for="dataModel.isHistoryable"></label>
          </div>
        </div>
      </div>
      <!-- showInFastSearch Field -->
      <div *ngIf="fieldsInfo['showInFastSearch']?.accessWatchField" class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.showInFastSearch" class="font-600 font-14">
            {{fieldsInfo['showInFastSearch']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.showInFastSearch"
              [(ngModel)]="this.dataModel.showInFastSearch" name="dataModel.showInFastSearch">
            <label class="custom-control-label" for="dataModel.showInFastSearch"></label>
          </div>
        </div>
      </div>
      <!-- ConfigValueForceUseDefaultValue Field -->
      <div *ngIf="fieldsInfo['configValueForceUseDefaultValue']?.accessWatchField" class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.configValueForceUseDefaultValue" class="font-600 font-14">
            {{fieldsInfo['configValueForceUseDefaultValue']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.configValueForceUseDefaultValue"
              [(ngModel)]="this.dataModel.configValueForceUseDefaultValue"
              name="dataModel.configValueForceUseDefaultValue">
            <label class="custom-control-label" for="dataModel.configValueForceUseDefaultValue"></label>
          </div>
        </div>
      </div>
      <!-- ConfigValueMultipleChoice Field -->
      <div
        *ngIf="dataModel.configValueForceUseDefaultValue && fieldsInfo['configValueMultipleChoice']?.accessWatchField"
        class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.configValueMultipleChoice" class="font-600 font-14">
            {{fieldsInfo['configValueMultipleChoice']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.configValueMultipleChoice"
              [(ngModel)]="this.dataModel.configValueMultipleChoice" name="dataModel.configValueMultipleChoice">
            <label class="custom-control-label" for="dataModel.configValueMultipleChoice"></label>
          </div>
        </div>
      </div>

      <div style="width: 100%;" appearance="fill"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label class="color-highlight">{{'TITLE.Choose_keywords_relative_to_the_content' | translate}}</label>
        <mat-chip-grid #chipList aria-label="this.translate.instant('TITLE.key_word')">
          <mat-chip *ngFor="let item of keywordDefaultDataModel" (removed)="removeTagDefault(item)">
            {{item}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="{{'TITLE.key_word' | translate}}+" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlurTag"
            (matChipInputTokenEnd)="addTagDefault($event)" />
        </mat-chip-grid>
      </div>

      <div style="width: 100%;" appearance="fill"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label class="color-highlight">{{'TITLE.Choose_keywords_relative_to_null_content' | translate}}</label>
        <mat-chip-grid #chipList aria-label="this.translate.instant('TITLE.key_word')">
          <mat-chip *ngFor="let item of keywordNullDataModel" (removed)="removeTagNull(item)">
            {{item}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="{{'TITLE.key_word' | translate}}+" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlurTag"
            (matChipInputTokenEnd)="addTagNull($event)" />
        </mat-chip-grid>
      </div>

      <!-- Description Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
        <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
          placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows="5"
          id="dataModel.description" class="form-control validate-name"></textarea>
        <em>{{ Description.value.length }} / 500</em>
        <mat-error *ngIf="Description.errors?.required">
          Description is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>

      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>

    </form>
    <!--content-->
  </div>
</div>