<div class="card card-style">
  <div class="content">
    <h5 class="font-14 opacity-50">{{widgetInfoModel.title}} <a routerLink="{{widgetInfoModel.link}}"
        routerLinkActive="active" class="float-end color-highlight">نمایش همه</a></h5>
    <div class="divider mb-3"></div>

    <div class="list-group list-custom-small list-menu ms-0 me-2">
      <app-progress-spinner [options]="loading"> </app-progress-spinner>
      <a routerLink="{{widgetInfoModel?.items?.get('InChecking').link}}" class="menu-active">
        <i class="fa fa-comment gradient-blue color-white"></i>
        <span>در حال بررسی</span>
        <span class="badge gradient-blue color-white">{{widgetInfoModel?.items?.get("InChecking")?.count}}</span>
        <i class="fa fa-angle-left"></i>
      </a>
      <a routerLink="{{widgetInfoModel?.items?.get('Available').link}}" class="menu-active">
        <i class="fa fa-comment gradient-blue color-white"></i>
        <span>فعال</span>
        <span class="badge gradient-blue color-white">{{widgetInfoModel?.items?.get("Available")?.count}}</span>
        <i class="fa fa-angle-left"></i>
      </a>
      <a routerLink="{{widgetInfoModel?.items?.get('All').link}}">
        <i class="fa fa-heart gradient-green color-white"></i>
        <span>همه</span>
        <span class="badge gradient-green color-white">{{widgetInfoModel?.items?.get("All")?.count}}</span>
        <i class="fa fa-angle-left"></i>
      </a>
    </div>
    <a routerLink="/estate/property-history/action/add" routerLinkActive="active"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue">
      {{'ACTION.HISTORY_ADD'|translate}}
      <span [inlineSVG]="'./assets/media/svg/icons/Navigation/Arrow-right.svg'"
        class="svg-icon ssvg-icon-lg svg-icon-secondary svg-icon-white"></span>
    </a>
  </div>
</div>