<div class="card card-style">
  <div class="content">
    <h5 class="font-14 opacity-50">{{'ACTION.CREDIT_USER' | translate}}</h5>
    <div class="divider mb-3"></div>
    <div *ngFor="let item of dataModelResult.listItems" class="list-group list-custom-small list-menu ms-0 me-2">
      <a routerLink="{{widgetInfoModel.link}}" class="menu-active">
        <i class="fa fa-comment gradient-blue color-white"></i>
        <span>{{ item.linkModuleId | cmstitle :dataModelCoreModuleResult.listItems}}</span>
        <span class="badge gradient-blue color-white">{{ item.credit }}</span>
        <i class="fa fa-angle-left"></i>
      </a>
    </div>

  </div>
</div>