<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <!-- RecordStatus Field -->
            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



            <!-- LinkCategoryId Field -->
            <app-ticketing-departemen-selector (optionChange)="onActionSelectorSelect($event)"
                [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkTicketingDepartemenId"
                [optionPlaceholder]="this.translate.instant('TITLE.Department')">
            </app-ticketing-departemen-selector>
            <!-- Title Field -->
            <div *ngIf="fieldsInfo['title']?.accessWatchField"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
                    placeholder="{{fieldsInfo['title']?.fieldTitle }}" minlength="3" maxlength="100" required
                    class="form-control validate-name" id="dataModel.title" />
                <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ Title.value.length }} / 100</em>
                <mat-error *ngIf="Title.errors?.required">
                    {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- HtmlBody Field -->
            <div *ngIf="fieldsInfo['htmlBody']?.accessWatchField"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.htmlBody" class="color-highlight">{{'TITLE.Description' | translate}}</label>
                <textarea matInput [(ngModel)]="dataModel.htmlBody" name="dataModel.htmlBody" #HtmlBody
                    disabled="{{!fieldsInfo['htmlBody']?.accessAddField}}" type="text"
                    placeholder="{{'TITLE.Answer_Text' | translate}}" minlength="1" maxlength="2000" rows="7"
                    id="dataModel.htmlBody" class="form-control validate-name">
                </textarea>
                <em>{{ HtmlBody.value.length }} / 2000</em>
                <mat-error *ngIf="HtmlBody.errors?.required">
                    {{fieldsInfo['htmlBody']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>