<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <!-- LinkLocationId Field -->
            <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
                [optionSelectForce]="dataModel.linkLocationId" [(optionLoading)]="loading"
                [optionPlaceholder]="this.translate.instant('TITLE.Geographical_Region')" [optionDisabled]="false">
                <br>
            </app-cms-location-selector>
            <!-- linkCoreCurrencyId Field -->
            <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
                (optionChange)="onActionSelectCurrency($event)" [(optionLoading)]="loading"
                [optionPlaceholder]="this.translate.instant('TITLE.Specify_the_transaction_currency')">
            </app-cms-currency-selector>
            <br>
            <!-- createdYaer Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.createdYaer" class="color-highlight">{{'TITLE.CreatedYaer' | translate}}</label>
                <input matInput [(ngModel)]="dataModel.createdYaer" name="dataModel.CreatedYaer" #CreatedYaer
                    type="number" placeholder="0" class="form-control validate-name" id="dataModel.createdYaer" />
            </div>
            <br>
            <!-- LinkContractTypeIds Field -->
            <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)"
                [optionTypeView]="1" *ngIf="dataModel.linkCoreCurrencyId && dataModel.linkCoreCurrencyId>0"
                [optionDisabled]="false" [optionSelectForce]="dataModel.linkContractTypeId" [(optionLoading)]="loading"
                [optionPlaceholder]="this.translate.instant('TITLE.Transaction_type')">
                <mat-icon matSuffix *ngIf="dataModel.linkContractTypeId && dataModel.linkContractTypeId?.length>0"
                    matSuffix mat-icon-button aria-label="Clear" (click)="dataModel.linkContractTypeId = null;">close
                </mat-icon>
            </app-estate-contract-type-selector>

            <br>
            <!-- LinkPropertyTypeUsageId Field -->
            <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
                [(optionLoading)]="loading" *ngIf="dataModel.linkCoreCurrencyId && dataModel.linkCoreCurrencyId>0"
                [optionDisabled]="false" [optionTypeView]="1" [optionSelectForce]="dataModel.linkPropertyTypeUsageId"
                [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
                <mat-icon matSuffix
                    *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId?.length>0" matSuffix
                    mat-icon-button aria-label="Clear" (click)="dataModel.linkPropertyTypeUsageId = null;">close
                </mat-icon>
            </app-estate-property-type-usage-selector>
            <br>
            <!-- LinkPropertyTypeLanduseId Field -->
            <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
                [(optionLoading)]="loading" [optionDisabled]="false" [optionTypeView]="1" [(optionLoading)]="loading"
                [optionSelectForce]="dataModel.linkPropertyTypeLanduseId"
                [optionPlaceholder]="this.translate.instant('TITLE.Property_Type')">

                <mat-icon matSuffix
                    *ngIf="dataModel.linkPropertyTypeLanduseId && dataModel.linkPropertyTypeLanduseId?.length>0"
                    matSuffix mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)">close
                </mat-icon>
            </app-estate-property-type-landuse-selector>

            <hr>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>