<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true">
            </app-cms-enum-record-status-selector>
            <!-- LinkSiteId Field -->
            <app-cms-site-selector [optionDisabled]="!fieldsInfo['moduleName']?.accessAddField"
                [(optionLoading)]="loading" [optionSelectForce]="this.dataModel.linkSiteId"
                [optionPlaceholder]="this.translate.instant('TITLE.WEBSITE')">
            </app-cms-site-selector>
            <!-- LinkUserId Field -->
            <app-cms-user-selector [optionDisabled]="!fieldsInfo['moduleName']?.accessAddField"
                [(optionLoading)]="loading" [optionSelectForce]="this.dataModel.linkUserId"
                [optionPlaceholder]="this.translate.instant('TITLE.USER')">
            </app-cms-user-selector>
            <!-- module-entity Field -->
            <app-core-module-entity-selector (optionChange)="onActionSelectorModuleEntitySelect($event)"
                [optionDisabled]="!fieldsInfo['moduleName']?.accessAddField" [(optionLoading)]="loading"
                [optionPlaceholder]="this.translate.instant('TITLE.MODULE')">
            </app-core-module-entity-selector>
            <!-- moduleName Field -->
            <div *ngIf="fieldsInfo['moduleName']?.accessWatchField"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.moduleName" class="color-highlight">{{ fieldsInfo["moduleName"]?.fieldTitle
                    }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.moduleName" name="dataModel.moduleName" #ModuleName
                    disabled="{{!fieldsInfo['moduleName']?.accessAddField}}"
                    placeholder="{{fieldsInfo['moduleName']?.fieldTitle }}" minlength="3" maxlength="100"
                    class="form-control validate-name" id="dataModel.moduleName" />
                <em>{{ ModuleName.value.length }} / 100</em>
                <mat-error *ngIf="ModuleName.errors?.required">
                    {{fieldsInfo['moduleName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- moduleEntityName Field -->
            <div *ngIf="fieldsInfo['moduleEntityName']?.accessWatchField"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.moduleEntityName" class="color-highlight">{{
                    fieldsInfo["moduleEntityName"]?.fieldTitle }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.moduleEntityName" name="dataModel.moduleEntityName"
                    #ModuleEntityName disabled="{{!fieldsInfo['moduleEntityName']?.accessAddField}}"
                    placeholder="{{fieldsInfo['moduleEntityName']?.fieldTitle }}" minlength="3" maxlength="100"
                    class="form-control validate-name" id="dataModel.moduleName" />
                <em>{{ ModuleEntityName.value.length }} / 100</em>
                <mat-error *ngIf="ModuleEntityName.errors?.required">
                    {{fieldsInfo['moduleEntityName']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <hr>
            <!-- accessDeleteRow Field -->
            <div *ngIf="fieldsInfo['accessDeleteRow']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessDeleteRow" class="font-600 font-14">
                        {{fieldsInfo['accessDeleteRow']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessDeleteRow"
                            [(ngModel)]="dataModel.accessDeleteRow" name="dataModel.accessDeleteRow">
                        <label class="custom-control-label" for="dataModel.accessDeleteRow"></label>
                    </div>
                </div>
            </div>
            <!-- accessWatchRow Field -->
            <div *ngIf="fieldsInfo['accessWatchRow']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessWatchRow" class="font-600 font-14">
                        {{fieldsInfo['accessWatchRow']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessWatchRow"
                            [(ngModel)]="dataModel.accessWatchRow" name="dataModel.accessWatchRow">
                        <label class="custom-control-label" for="dataModel.accessWatchRow"></label>
                    </div>
                </div>
            </div>
            <!-- accessCountRow Field -->
            <div *ngIf="fieldsInfo['accessCountRow']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessCountRow" class="font-600 font-14">
                        {{fieldsInfo['accessCountRow']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessCountRow"
                            [(ngModel)]="dataModel.accessCountRow" name="dataModel.accessCountRow">
                        <label class="custom-control-label" for="dataModel.accessCountRow"></label>
                    </div>
                </div>
            </div>
            <!-- accessEditRow Field -->
            <div *ngIf="fieldsInfo['accessEditRow']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessEditRow" class="font-600 font-14">
                        {{fieldsInfo['accessEditRow']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessEditRow"
                            [(ngModel)]="dataModel.accessEditRow" name="dataModel.accessEditRow">
                        <label class="custom-control-label" for="dataModel.accessEditRow"></label>
                    </div>
                </div>
            </div>
            <!-- accessAddRow Field -->
            <div *ngIf="fieldsInfo['accessAddRow']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessAddRow" class="font-600 font-14">
                        {{fieldsInfo['accessAddRow']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessAddRow"
                            [(ngModel)]="dataModel.accessAddRow" name="dataModel.accessAddRow">
                        <label class="custom-control-label" for="dataModel.accessAddRow"></label>
                    </div>
                </div>
            </div>
            <!-- accessExportFile Field -->
            <div *ngIf="fieldsInfo['accessExportFile']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessExportFile" class="font-600 font-14">
                        {{fieldsInfo['accessExportFile']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessExportFile"
                            [(ngModel)]="dataModel.accessExportFile" name="dataModel.accessExportFile">
                        <label class="custom-control-label" for="dataModel.accessExportFile"></label>
                    </div>
                </div>
            </div>
            <!-- accessWatchRowOtherSiteId Field -->
            <div *ngIf="fieldsInfo['accessWatchRowOtherSiteId']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessWatchRowOtherSiteId" class="font-600 font-14">
                        {{fieldsInfo['accessWatchRowOtherSiteId']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessWatchRowOtherSiteId"
                            [(ngModel)]="dataModel.accessWatchRowOtherSiteId"
                            name="dataModel.accessWatchRowOtherSiteId">
                        <label class="custom-control-label" for="dataModel.accessWatchRowOtherSiteId"></label>
                    </div>
                </div>
            </div>
            <!-- accessWatchRowOtherCreatedBy Field -->
            <div *ngIf="fieldsInfo['accessWatchRowOtherCreatedBy']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessWatchRowOtherCreatedBy" class="font-600 font-14">
                        {{fieldsInfo['accessWatchRowOtherCreatedBy']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessWatchRowOtherCreatedBy"
                            [(ngModel)]="dataModel.accessWatchRowOtherCreatedBy"
                            name="dataModel.accessWatchRowOtherCreatedBy">
                        <label class="custom-control-label" for="dataModel.accessWatchRowOtherCreatedBy"></label>
                    </div>
                </div>
            </div>
            <!-- accessCountRowOtherSiteId Field -->
            <div *ngIf="fieldsInfo['accessCountRowOtherSiteId']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessCountRowOtherSiteId" class="font-600 font-14">
                        {{fieldsInfo['accessCountRowOtherSiteId']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessCountRowOtherSiteId"
                            [(ngModel)]="dataModel.accessCountRowOtherSiteId"
                            name="dataModel.accessCountRowOtherSiteId">
                        <label class="custom-control-label" for="dataModel.accessCountRowOtherSiteId"></label>
                    </div>
                </div>
            </div>
            <!-- accessCountRowOtherCreatedBy Field -->
            <div *ngIf="fieldsInfo['accessCountRowOtherCreatedBy']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessCountRowOtherCreatedBy" class="font-600 font-14">
                        {{fieldsInfo['accessCountRowOtherCreatedBy']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessCountRowOtherCreatedBy"
                            [(ngModel)]="dataModel.accessCountRowOtherCreatedBy"
                            name="dataModel.accessCountRowOtherCreatedBy">
                        <label class="custom-control-label" for="dataModel.accessCountRowOtherCreatedBy"></label>
                    </div>
                </div>
            </div>
            <!-- accessEditRowOtherSiteId Field -->
            <div *ngIf="fieldsInfo['accessEditRowOtherSiteId']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessEditRowOtherSiteId" class="font-600 font-14">
                        {{fieldsInfo['accessEditRowOtherSiteId']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessEditRowOtherSiteId"
                            [(ngModel)]="dataModel.accessEditRowOtherSiteId" name="dataModel.accessEditRowOtherSiteId">
                        <label class="custom-control-label" for="dataModel.accessEditRowOtherSiteId"></label>
                    </div>
                </div>
            </div>
            <!-- accessEditRowOtherCreatedBy Field -->
            <div *ngIf="fieldsInfo['accessEditRowOtherCreatedBy']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessEditRowOtherCreatedBy" class="font-600 font-14">
                        {{fieldsInfo['accessEditRowOtherCreatedBy']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessEditRowOtherCreatedBy"
                            [(ngModel)]="dataModel.accessEditRowOtherCreatedBy"
                            name="dataModel.accessEditRowOtherCreatedBy">
                        <label class="custom-control-label" for="dataModel.accessEditRowOtherCreatedBy"></label>
                    </div>
                </div>
            </div>
            <!-- accessDeleteRowOtherCreatedBy Field -->
            <div *ngIf="fieldsInfo['accessDeleteRowOtherCreatedBy']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.accessDeleteRowOtherCreatedBy" class="font-600 font-14">
                        {{fieldsInfo['accessDeleteRowOtherCreatedBy']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.accessDeleteRowOtherCreatedBy"
                            [(ngModel)]="dataModel.accessDeleteRowOtherCreatedBy"
                            name="dataModel.accessDeleteRowOtherCreatedBy">
                        <label class="custom-control-label" for="dataModel.accessDeleteRowOtherCreatedBy"></label>
                    </div>
                </div>
            </div>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>