<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

      <!-- createdYaer Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.createdYaer" class="color-highlight">{{'TITLE.CreatedYaer' | translate}}</label>
        <input matInput [(ngModel)]="dataModel.createdYaer" name="dataModel.SalePriceAverage" #CreatedYaer type="number"
          id="dataModel.createdYaer" placeholder="0" />
      </div>
      <br>
      <!-- LinkLocationId Field -->
      <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)"
        [optionSelectForce]="dataModel.linkLocationId" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Geographical_Region'  | translate" [optionDisabled]="false">
        <br>
      </app-cms-location-selector>
      <!-- linkCoreCurrencyId Field -->
      <app-cms-currency-selector [optionSelectFirstItem]="true" [optionSelectForce]="dataModel.linkCoreCurrencyId"
        (optionChange)="onActionSelectCurrency($event)" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Specify_the_transaction_currency'  | translate">
      </app-cms-currency-selector>
      <br>

      <!-- LinkContractTypeIds Field -->
      <app-estate-contract-type-selector (optionChange)="onActionSelectorContarctType($event)" [optionTypeView]="1"
        *ngIf="dataModel.linkCoreCurrencyId && dataModel.linkCoreCurrencyId>0" [optionDisabled]="false"
        [optionSelectForce]="dataModel.linkContractTypeId" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Transaction_type'  | translate">
        <mat-icon class="margin-top" matSuffix
          *ngIf="dataModel.linkContractTypeId && dataModel.linkContractTypeId?.length>0" matSuffix mat-icon-button
          aria-label="Clear" (click)="dataModel.linkContractTypeId = null;">close
        </mat-icon>
      </app-estate-contract-type-selector>

      <br>
      <!-- LinkPropertyTypeUsageId Field -->
      <app-estate-property-type-usage-selector (optionChange)="onActionSelectorSelectUsage($event)"
        *ngIf="dataModel.linkCoreCurrencyId && dataModel.linkCoreCurrencyId>0" [optionDisabled]="false"
        [optionTypeView]="1" [optionSelectForce]="dataModel.linkPropertyTypeUsageId" [(optionLoading)]="loading"
        [optionPlaceholder]="'TITLE.Type_Usage' | translate">
        <mat-icon class="margin-top" matSuffix
          *ngIf="dataModel.linkPropertyTypeUsageId && dataModel.linkPropertyTypeUsageId?.length>0" matSuffix
          mat-icon-button aria-label="Clear" (click)="dataModel.linkPropertyTypeUsageId = null;">close
        </mat-icon>
      </app-estate-property-type-usage-selector>
      <br>
      <!-- LinkPropertyTypeLanduseId Field -->
      <app-estate-property-type-landuse-selector (optionChange)="onActionSelectorSelectLanduse($event)"
        [(optionLoading)]="loading" [optionDisabled]="false" [optionTypeView]="1"
        [optionSelectForce]="dataModel.linkPropertyTypeLanduseId"
        [optionPlaceholder]="'TITLE.Property_Type'  | translate">

        <mat-icon class="margin-top" matSuffix
          *ngIf="dataModel.linkPropertyTypeLanduseId && dataModel.linkPropertyTypeLanduseId?.length>0" matSuffix
          mat-icon-button aria-label="Clear" (click)="onActionSelectorSelectLanduse(null)">close
        </mat-icon>
      </app-estate-property-type-landuse-selector>

      <hr>
      <table>
        <tr>
          <td>{{'TITLE.Expert_Type'|translate}}</td>
          <td>{{'TITLE.CreatedYaer'|translate}}</td>
          <td>{{'TITLE.Minimum'|translate}}</td>
          <td>{{'TITLE.Average'|translate}}</td>
          <td>{{'TITLE.Maximum'|translate}}</td>
        </tr>
        <tr *ngFor="let item of dataModelResult.listItems">
          <td>{{item.expertPriceType| enums : dataModelEstatePropertyExpertPriceTypeEnumResult.listItems}}
          </td>
          <td>{{item.createdYaer}}</td>
          <td>
            <div *ngIf="item.salePriceMin&& item.salePriceMin>0">{{'TITLE.SalePrice'|translate}} :
              {{item.salePriceMin |
              number}} </div>
            <div *ngIf="item.rentPriceMin&& item.rentPriceMin>0">{{'TITLE.RentPrice'|translate}} :
              {{item.rentPriceMin |
              number}} </div>
            <div *ngIf="item.depositPriceMin&& item.depositPriceMin>0">{{'TITLE.DepositPrice'|translate}} :
              {{item.depositPriceMin | number}} </div>
            <div *ngIf="item.periodPriceMin&& item.periodPriceMin>0">{{'TITLE.PeriodPrice'|translate}}:
              {{item.periodPriceMin | number}} </div>
          </td>
          <td>
            <div *ngIf="item.salePriceAverage&& item.salePriceAverage>0">{{'TITLE.SalePrice'|translate}} :
              {{item.salePriceAverage | number}} </div>
            <div *ngIf="item.rentPriceAverage&& item.rentPriceAverage>0">{{'TITLE.RentPrice'|translate}} :
              {{item.rentPriceAverage | number}} </div>
            <div *ngIf="item.depositPriceAverage&& item.depositPriceAverage>0">
              {{'TITLE.DepositPrice'|translate}} :
              {{item.depositPriceAverage | number}} </div>
            <div *ngIf="item.periodPriceAverage&& item.periodPriceAverage>0">
              {{'TITLE.PeriodPrice'|translate}}:
              {{item.periodPriceAverage | number}} </div>
          </td>
          <td>
            <div *ngIf="item.salePriceMax&& item.salePriceMax>0">{{'TITLE.SalePrice'|translate}} :
              {{item.salePriceMax |
              number}} </div>
            <div *ngIf="item.rentPriceMax&& item.rentPriceMax>0">{{'TITLE.RentPrice'|translate}} :
              {{item.rentPriceMax |
              number}} </div>
            <div *ngIf="item.depositPriceMax&& item.depositPriceMax>0">{{'TITLE.DepositPrice'|translate}} :
              {{item.depositPriceMax | number}} </div>
            <div *ngIf="item.periodPriceMax&& item.periodPriceMax>0">{{'TITLE.PeriodPrice'|translate}}:
              {{item.periodPriceMax | number}} </div>
          </td>
        </tr>
      </table>
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.Inquiry' | translate}}
        </button>
      </div>
    </form>
    <!--Content-->
  </div>
</div>