<!-- Install instructions for iOS -->
<div id="menu-install-pwa-ios" [ngClass]="themeStore.dataMenu==='menu-install-pwa-ios'?'menu-active':''"
  class="menu menu-box-bottom rounded-m">
  <div class="boxed-text-xl top-25">
    <img class="mx-auto mt-4 rounded-m" src="assets/icons/icon-128x128.png" alt="img" width="90">
    <h4 class="text-center mt-4 mb-2">اپکیت در صفحه اصلی شما</h4>
    <p class="text-center ms-3 me-3">
      اپکیت را روی صفحه اصلی خود نصب کنید و مانند یک برنامه معمولی به آن دسترسی داشته باشید. مرورگر Safari خود را باز
      کنید و روی «Add to Home Screen» کلیک کنید.
    </p>
    <a class="pwa-dismiss close-menu btn-full mt-3 text-center font-700 color-red-light opacity-90 font-110 pb-5">شاید
      بعدا</a>
  </div>
</div>