<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      حساب کاربری خود را ویرایش کنید
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    {{ formInfo.formTitle }}
    <ng-container *ngIf="dataModelResultCategory?.item">
      <!-- Title Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModelResultCategory.item.title"
          class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
        <input matInput [(ngModel)]="dataModelResultCategory.item.title" name="dataModelResultCategory.item.title"
          #Title type="text" placeholder="{{fieldsInfo['title']?.fieldTitle}}" minlength="3" maxlength="50" required
          class="form-control validate-name" id="dataModelResultCategory.item.title" readonly />
      </div>

      <app-linkmanagement-billboard-pattern-selector [(optionLoading)]="loading"
        [optionPlaceholder]="this.translate.instant('TITLE.Alternative_classification_to_move_information_to_this_branch')">
      </app-linkmanagement-billboard-pattern-selector>
    </ng-container>
    <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
      <button type="button" (click)="onFormCancel()"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
        <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
      </button>
      <button type="button" (click)="onFormDelete()" [disabled]=" !formInfo.buttonSubmittedEnabled"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-red">
        <i class="fa fa-check-square-o"></i> {{'ACTION.DELETE' | translate}}
      </button>
      <button type="button" (click)="onFormMove()" [disabled]=" !formInfo.buttonSubmittedEnabled"
        class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
        <i class="ft-x"></i> {{'TITLE.MOVE_DATA' | translate}}
      </button>
    </div>
    <!--Content-->
  </div>
</div>