<div [ngClass]="themeStore.dataMenu==='menu-profile'?'menu-active':''" class="menu menu-box-bottom rounded-m bg-theme"
  [style.height]="this.themeStore.innerHeight>480?'480px':this.themeStore.innerHeight-50+'px'">
  <div class="menu-title">
    <p class="color-highlight">{{'TITLE.User_Profile'| translate}} </p>
    <h1 class="font-800">{{ tokenInfo.name}} {{ tokenInfo.lastName }}</h1>
    <a (click)="themeStore.dataMenu=''" class="close-menu"><i class="fa fa-times-circle"></i></a>
  </div>
  <div class="content">
    <div class="divider mt-n2"></div>
    <div class="d-flex mb-4">
      <div>
        <img
          [src]="((tokenInfo&&tokenInfo.linkMainImageIdSrc && tokenInfo.linkMainImageIdSrc.length>0) ? tokenInfo.linkMainImageIdSrc : './assets/media/avatars/300-1.jpg')"
          class="rounded-sm" width="80">
      </div>
      <div class="w-100 ms-3 pt-1">
        <h6 class="font-500 font-14 pb-2">خلاصه مشخصات :</h6>
        <a routerLink="{{'/core/user/edit/' +this.tokenInfo.userId}}">
          <h5>{{'TITLE.User_Id'| translate}} : {{this.tokenInfo.userId}}</h5>
        </a>
        <a routerLink="{{'/core/site/edit/' +this.tokenInfo.siteId}}">
          <h5>{{'TITLE.Site_Id'| translate}} : {{this.tokenInfo.siteId}}</h5>
        </a>
        <h5>{{'TITLE.Access'| translate}} : {{this.tokenInfo.userAccessUserTypeTitle}}</h5>
      </div>
    </div>
    <div class="divider"></div>
    <ng-container
      *ngIf="tokenInfo &&( tokenInfo.userAccessUserType === 1 || tokenInfo.userAccessUserType === 2 || tokenInfo.userAccessUserType === 3)">

      <!-- userAccessAdminAllowToAllData Field -->
      <div class="d-flex mb-4">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.userAccessAdminAllowToAllData" class="font-600 font-14">
            {{'TITLE.Show_all_information'| translate}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class=" ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.userAccessAdminAllowToAllData"
              (click)="onActionButtonUserAccessAdminAllowToAllData()"
              [(ngModel)]="tokenInfo.userAccessAdminAllowToAllData" name="dataModel.userAccessAdminAllowToAllData">
            <label class="custom-control-label" for="dataModel.userAccessAdminAllowToAllData"></label>
          </div>
        </div>
      </div>
      <!-- userAccessAdminAllowToProfessionalData Field -->
      <div class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.userAccessAdminAllowToProfessionalData" class="font-600 font-14">
            {{'TITLE.Display_specialized_information'| translate}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class=" ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.userAccessAdminAllowToProfessionalData"
              (click)="onActionButtonUserAccessAdminAllowToProfessionalData()"
              [(ngModel)]="tokenInfo.userAccessAdminAllowToProfessionalData"
              name="dataModel.userAccessAdminAllowToProfessionalData">
            <label class="custom-control-label" for="dataModel.userAccessAdminAllowToProfessionalData"></label>
          </div>
        </div>
      </div>
      <!-- LinkCmsSiteId Field -->
      <div class="menu-item px-2">
        <app-cms-site-selector (optionChange)="onActionSiteSelect($event)" [optionDisabled]="false"
          [optionSelectForce]="this.tokenInfo.siteId"
          [optionPlaceholder]="this.translate.instant('TITLE.WEBSITE')"></app-cms-site-selector>
      </div>
      <div class="divider">
      </div>
    </ng-container>



    <div class="row mb-0"
      *ngIf="tokenInfo &&( tokenInfo.userAccessUserType === 1 || tokenInfo.userAccessUserType === 2 || tokenInfo.userAccessUserType === 3)">
      <h6 class="font-500 font-14 pb-2">انتقال سریع شما به حساب کاربری و یا سایت دیگران</h6>
      <br>
      <div class="col-6">
        <div class="input-style input-style-always-active has-borders mb-4">
          <input type="text" [(ngModel)]="inputUserId" class="form-control" id="inputUserId"
            placeholder="{{this.tokenInfo.userId}}">
          <label for="inputUserId" class="color-highlight">{{'TITLE.User_Id'| translate}}</label>
        </div>
        <button type="button" [disabled]="!inputUserId||inputUserId===0" style="width: 100%;"
          class="close-menu btn btn-full gradient-blue font-13 btn-s font-600 mt-3 rounded-s">{{'ACTION.GO'|
          translate}}</button>
      </div>

      <div class="col-6">
        <div class="input-style input-style-always-active has-borders mb-4">
          <input type="text" [(ngModel)]="inputSiteId" class="form-control" id="inputSiteId"
            placeholder="{{this.tokenInfo.siteId}}">
          <label for="inputSiteId" class="color-highlight">{{'TITLE.Site_Id'| translate}}</label>
        </div>
        <button type="button" (click)="onActionButtonSelectSite()" [disabled]="!inputSiteId||inputSiteId===0"
          style="width: 100%;"
          class="close-menu btn btn-full gradient-blue font-13 btn-s font-600 mt-3 rounded-s">{{'ACTION.GO'|
          translate}}</button>
      </div>
    </div>
    <br>

    <a (click)="onActionLogout()" class="btn btn-s font-14 shadow-l btn-full rounded-s font-600 bg-red-dark text-start">
      <span class="ms-n2">{{'TITLE.Sign_Out'|translate}}</span>
      <span class="float-end">Exit</span>
    </a>
    <br>
  </div>