<div class="page-title page-title-fixed">
  <h3 *ngIf="title$ | async as thisTitle">{{thisTitle}}</h3>
  <a *ngIf="this.tokenInfo?.siteId>0 && this.tokenInfo?.userId>0" [routerLink]="['/core/site/selection']"
    class="page-title-icon shadow-xl bg-theme color-theme"
    style="width: auto;padding-left: 10px;padding-right: 10px;">{{tokenInfo?.title}}</a>
  <a (click)="themeStore?.dataMenu!=='menu-share' ? themeStore.dataMenu='menu-share':themeStore.dataMenu=''"
    class="page-title-icon shadow-xl bg-theme color-theme"><i class="fa fa-share-alt"></i></a>
  <a *ngIf="themeStore.themeMode!=='dark'" (click)="onActionThemeSwitch('dark')"
    class="page-title-icon shadow-xl bg-theme color-theme " data-toggle-theme><i class="fa fa-moon"></i></a>
  <a *ngIf="themeStore.themeMode==='dark'" (click)="onActionThemeSwitch('light')"
    class="page-title-icon shadow-xl bg-theme color-theme " data-toggle-theme><i
      class="fa fa-lightbulb color-yellow-dark"></i></a>
  <a *ngIf="this.tokenInfo?.userId>0"
    (click)="themeStore?.dataMenu!=='menu-profile' ? themeStore.dataMenu='menu-profile':themeStore.dataMenu=''"
    class="page-title-icon shadow-xl bg-theme color-theme"><i class="fa fa-user"></i></a>
  <a class="page-title-icon shadow-xl bg-theme color-theme"
    (click)="themeStore?.dataMenu!=='menu-main' ? themeStore.dataMenu='menu-main':themeStore.dataMenu=''"><i
      class="fa fa-bars"></i></a>
</div>

<div class="header header-auto-show header-fixed header-logo-center">
  <a *ngIf="title$ | async as title" class="header-title">{{title}}</a>
  <a (click)="themeStore?.dataMenu!=='menu-main' ? themeStore.dataMenu='menu-main':themeStore.dataMenu=''"
    class="header-icon header-icon-1"><i class="fas fa-bars"></i></a>
  <a *ngIf="themeStore.themeMode==='dark'" (click)="onActionThemeSwitch('light')" data-toggle-theme
    class="header-icon header-icon-2 "><i class="fas fa-sun"></i></a>
  <a *ngIf="themeStore.themeMode!=='dark'" (click)="onActionThemeSwitch('dark')" data-toggle-theme
    class="header-icon header-icon-2 "><i class="fas fa-moon"></i></a>
  <a (click)="themeStore?.dataMenu!=='menu-share' ? themeStore.dataMenu='menu-share':themeStore.dataMenu=''"
    class="header-icon header-icon-3"><i class="fas fa-share-alt"></i></a>
  <ng-container *ngIf="contentService">
    <a (click)="onActionButtonMemo()" class="header-icon  header-icon-4" title="{{'ACTION.MEMO' | translate}}">
      <i class="fas fa-book-open"></i>
    </a>
    <a (click)="onActionButtonPin()" class="header-icon header-icon-5" title="{{'ACTION.PIN' | translate}}"><i
        class="fas fa-bookmark"></i>
    </a>
    <a (click)="onActionButtonComment()" class="header-icon  header-icon-6" title="{{'ACTION.COMMENT' | translate}}">
      <i class="fas fa-comment"></i>
    </a>
    <a (click)="onActionButtonTask()" class="header-icon  header-icon-7" title="{{'ACTION.TASK' | translate}}">
      <i class="fas fa-tasks"></i>
    </a>
    <a (click)="onActionButtonShowKey()" *ngIf=" this.contentInfo?.id?.length>0 && this.contentInfo?.contentHidden"
      class="header-icon  header-icon-8" title="{{'ACTION.SHOW_KEY' | translate}}">
      <i class="fas fa-key"></i>

    </a>
  </ng-container>
</div>