<ng-container *ngIf="!optionDefaultValue || optionDefaultValue.length===0">
  <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
    <label for="string-{{id}}" class="color-highlight">{{ optionLabel }}</label>
    <input [(ngModel)]="modelDate" name="string" #string type="text" placeholder="{{optionPlaceholder}}"
      id="string-{{id}}" [disabled]="optionDisabled" [ngModelOptions]="{standalone: true}" [required]="optionRequired"
      class="form-control validate-name" />
    <em *ngIf="optionRequired">({{'TITLE.Necessary'| translate}})</em>
    <mat-error *ngIf="string.errors?.required">
      {{ optionLabel }} <strong>{{ "MESSAGE.required" | translate }}</strong>
    </mat-error>
  </div>
</ng-container>


<ng-container *ngIf="optionDefaultValue && optionDefaultValue.length>0">
  <label style="color:'{{optionIconColor}}';">{{optionLabel}} :</label>
  <br>
  <ng-container *ngIf="!optionMultipleChoice">
    <div class="form-check icon-check" *ngFor="let item of optionDefaultValue,index as i ">
      <input class="form-check-input" type="radio" name="inlineRadioOptions" [value]="item" id="string-{{id}}-{{i}}">
      <label class="form-check-label" for="string-{{id}}-{{i}}">{{item}}</label>
      <i class="icon-check-1 far fa-circle color-gray-dark font-16"></i>
      <i class="icon-check-2 far fa-check-circle font-16 color-highlight"></i>
    </div>
  </ng-container>
  <ng-container *ngIf="optionMultipleChoice">
    <ng-container *ngFor="let item of optionDefaultValue,index as i ">
      <div   *ngIf="!optionDisplayOnlyValid || itemSelected[item]" (change)="onActionSelect(item)"      class="form-check icon-check">
        <input [disabled]="optionDisabled" [(ngModel)]="itemSelected[item]" class="form-check-input" type="checkbox"
          id="string-{{id}}-{{i}}">
        <label class="form-check-label" for="string-{{id}}-{{i}}">{{item}}</label>
        <i class="icon-check-1 far fa-square color-gray-dark font-16"></i>
        <i class="icon-check-2 far fa-check-square font-16 color-highlight"></i>
    </div>
    </ng-container>
  </ng-container>
</ng-container>