<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true">
            </app-cms-enum-record-status-selector>
            <app-core-site-selector (optionChange)="onActionSiteSelect($event)" [optionDisabled]="false"
                [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkCmsSiteId"
                [optionPlaceholder]="this.translate.instant('TITLE.WEBSITE')">
            </app-core-site-selector>
            <!-- Domain Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.domain" class="color-highlight">Domain</label>
                <input matInput [(ngModel)]="dataModel.domain" name="dataModel.domain" #Domain type="text"
                    placeholder="Domain" rows="10" minlength="3" maxlength="50" id="dataModel.domain"
                    class="form-control validate-name" />
                <em>{{ Domain.value.length }} / 50</em>
                <mat-error *ngIf="Domain.errors?.required">
                    Domain is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- SubDomain Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.subDomain" class="color-highlight">SubDomain</label>
                <input matInput [(ngModel)]="dataModel.subDomain" name="dataModel.subDomain" #SubDomain type="text"
                    placeholder="SubDomain" minlength="0" maxlength="50" id="dataModel.subDomain"
                    class="form-control validate-name" />
                <em>{{ SubDomain.value.length }} / 50</em>
                <mat-error *ngIf="SubDomain.errors?.required">
                    SubDomain is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- ConfigNeshanMapApiKey Field -->
            <div *ngIf="fieldsInfo['configNeshanMapApiKey']?.accessWatchField"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.configNeshanMapApiKey" class="color-highlight">{{
                    fieldsInfo['configNeshanMapApiKey']?.fieldTitle }}</label>
                <input matInput [(ngModel)]="dataModel.configNeshanMapApiKey" name="dataModel.configNeshanMapApiKey"
                    #ConfigNeshanMapApiKey type="text"
                    [disabled]="!fieldsInfo['configNeshanMapApiKey']?.accessEditField" placeholder="Key" minlength="3"
                    maxlength="100" id="dataModel.configNeshanMapApiKey" class="form-control validate-name" />
                <em>{{ ConfigNeshanMapApiKey.value.length }} / 100</em>
            </div>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>