<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      حساب کاربری خود را ویرایش کنید
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      {{ formInfo.formTitle }}
      <div class="ntk-cms-html-card-body">
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
        <div class="row">

          <div class="col-6">
            <mat-accordion class="example-headers-align">
              <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'TITLE.Direction' | translate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'TITLE.Select_the_path_to_send_the_message' | translate}}
                    <mat-icon>account_circle</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>


                <mat-action-row>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                    (click)="nextStep()">{{'ACTION.NEXT' |
                    translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'TITLE.Message_Text' | translate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'TITLE.Select_the_text_of_the_default_messages' | translate}}
                    <mat-icon>map</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>


                <textarea matInput [(ngModel)]="dataMessageContentModel.messageBody"
                  name="dataMessageContentModel.messageBody" type="text"
                  *ngIf="dataMessageContentModel?.messageBody?.length>0" rows="10"
                  id="dataMessageContentModel.messageBody">
                  </textarea>
                <button type="button" (click)="onActionMessageContentAdd()"
                  class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                  *ngIf="dataMessageContentModel?.messageBody?.length>0 && dataModel.content?.length>0">
                  <i class="ft-x"></i> {{'TITLE.Added_to_the_text' | translate}}
                </button>
                <button type="button" (click)="onActionMessageContentNew()"
                  class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
                  *ngIf="dataMessageContentModel?.messageBody?.length>0">
                  <i class="ft-x"></i> {{'TITLE.Message_Text' | translate}}
                </button>
                <mat-action-row>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                    (click)="prevStep()">{{'ACTION.BACK' | translate}}</button>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                    (click)="nextStep()">{{'ACTION.NEXT' |
                    translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'TITLE.Phonebook' | translate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'TITLE.Audience_selection' | translate}}
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <mat-action-row>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                    (click)="prevStep()">{{'ACTION.BACK' | translate}}</button>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                    (click)="nextStep()">{{'ACTION.NEXT' |
                    translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>

              <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'TITLE.Shipping_time' | translate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'TITLE.Time_to_start_sending_and_finish' | translate}}
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="row">

                </div>
                <hr>

                <mat-action-row>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                    (click)="prevStep()">{{'ACTION.BACK' | translate}}</button>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                    (click)="nextStep()">{{'ACTION.NEXT' |
                    translate}}</button>
                </mat-action-row>

              </mat-expansion-panel>
              <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'TITLE.Timing' | translate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'TITLE.Retry_schedule' | translate}}
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>





                <mat-action-row>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                    (click)="prevStep()">{{'ACTION.BACK' | translate}}</button>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                    (click)="nextStep()">{{'ACTION.NEXT' |
                    translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>
              <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{'TITLE.Settings' | translate}}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{'TITLE.Send_settings' | translate}}
                    <mat-icon>date_range</mat-icon>
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- sendToAll Field -->
                <div class="d-flex mb-3">
                  <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.sendToAll" class="font-600 font-14">
                      {{'TITLE.Send_To_All' | translate}}</h5>
                  </div>
                  <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                      <input type="checkbox" class="ios-input" id="dataModel.sendToAll"
                        [(ngModel)]="dataModel.sendToAll" name="dataModel.sendToAll">
                      <label class="custom-control-label" for="dataModel.sendToAll"></label>
                    </div>
                  </div>
                </div>
                <mat-action-row>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-teal"
                    (click)="prevStep()">{{'ACTION.BACK' | translate}}</button>
                  <button type="button"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
                    (click)="nextStep()">{{'ACTION.END' |
                    translate}}</button>
                </mat-action-row>
              </mat-expansion-panel>
            </mat-accordion>

          </div>
          <div class="col-6">
            <div class="message-box">
              <div class="row" style="height:300px">
                <!-- content Field -->
                <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                  <label for="dataModel.content" class="color-highlight">{{'TITLE.Message_Text' | translate}}</label>
                  <textarea matInput [(ngModel)]="dataModel.content" name="dataModel.content" #content type="text"
                    placeholder="..." minlength="1" maxlength="500" rows="9" class="form-control validate-name"
                    id="dataModel.content"></textarea>
                  <em>{{ content.value.length }} / 500</em>
                  <mat-error *ngIf="content.errors?.required">
                    {{'TITLE.Message_Text' | translate}} <strong>{{'content.required' | translate}}</strong>
                  </mat-error>
                </div>
              </div>
              <div class="row" *ngIf="formInfo.formSubmitAllow  && !loading?.display"
                style="height:140px;bottom: 4vh;justify-content: center;">
                <app-progress-spinner [options]="loadingAction"> </app-progress-spinner>
                <button type="submit" (click)="onFormSubmit()" class="message-box-button" [disabled]="!vform.valid"
                  *ngIf="!this.loading.display"
                  class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
                  <i class="fa fa-check-square-o"></i>
                  {{'ACTION.Send_Message' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>


        <!--end:::::::::::::::::::::::::::::::::::::::::cms-body-->
      </div>
    </form>
    <!--Content-->
  </div>
</div>