<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
            {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
        </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <!-- RecordStatus Field -->
            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true">
            </app-cms-enum-record-status-selector>
            <!-- LinkTargetPeriodId Field -->
            <app-donate-target-category-selector (optionChange)="onActionSelectorSelect($event)"
                [(optionLoading)]="loading" [optionSelectForce]="dataModel.linkTargetPeriodId"
                [optionPlaceholder]="'TITLE.Category' | translate">
            </app-donate-target-category-selector>
            <!-- LinkSponsorId Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.linkSponsorId" class="color-highlight">{{ fieldsInfo["linkSponsorId"]?.fieldTitle
                    }}</label>
                <input matInput [matDatepicker]="LinkSponsorId" type="number" [(ngModel)]="dataModel.linkSponsorId"
                    name="dataModel.linkSponsorId" class="form-control validate-name" id="dataModel.linkSponsorId" />
                <mat-datepicker-toggle matSuffix [for]="LinkSponsorId"></mat-datepicker-toggle>
                <mat-datepicker touchUi #LinkSponsorId></mat-datepicker>
            </div>
            <!-- payment Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.payment" class="color-highlight">{{ fieldsInfo["payment"]?.fieldTitle }}</label>
                <input matInput [matDatepicker]="payment" type="number" [(ngModel)]="dataModel.payment"
                    name="dataModel.payment" class="form-control validate-name" id="dataModel.payment" />
                <mat-datepicker-toggle matSuffix [for]="payment"></mat-datepicker-toggle>
                <mat-datepicker touchUi #payment></mat-datepicker>
            </div>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>