<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
        [(model)]="dataModel.recordStatus" [optionDisabled]="false"
        [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



      <!-- LinkApiPathId Field -->
      <app-sms-apipath-selector (optionChange)="onActionSelectorSelectLinkApiPathId($event)" [(optionLoading)]="loading"
        [optionSelectForce]="dataModel.linkApiPathId" [optionPlaceholder]="this.translate.instant('TITLE.Direction')">
      </app-sms-apipath-selector>
      <!-- LinkCoreUserId Field -->
      <app-cms-user-selector (optionChange)="onActionSelectorCmsUser($event)" [(optionLoading)]="loading"
        [optionDisabled]="!fieldsInfo['linkCoreUserId']?.accessAddField" [optionSelectForce]="dataModel.linkCoreUserId"
        [optionPlaceholder]="this.translate.instant('TITLE.USER')">
      </app-cms-user-selector>
      <!-- LinkCoreSiteId Field -->
      <app-cms-site-selector (optionChange)="onActionSelectorCmsSite($event)" [(optionLoading)]="loading"
        [optionDisabled]="!fieldsInfo['linkCoreSiteId']?.accessAddField" [optionSelectForce]="dataModel.linkCoreSiteId"
        [optionPlaceholder]="this.translate.instant('TITLE.SITE')">
      </app-cms-site-selector>
      <!-- LinkCoreUserGroupId Field -->
      <app-cms-usergroup-selector (optionChange)="onActionSelectorCoreUserGroup($event)"
        [optionDisabled]="!fieldsInfo['linkCoreUserGroupId']?.accessAddField" [(optionLoading)]="loading"
        [optionSelectForce]="dataModel.linkCoreUserGroupId"
        [optionPlaceholder]="this.translate.instant('TITLE.Type_Usage')">
      </app-cms-usergroup-selector>
      <!-- LinkCoreSiteCategoryId Field -->
      <app-cms-sitecategory-selector (optionChange)="onActionSelectorCoreSiteCategory($event)"
        [optionDisabled]="!fieldsInfo['linkCoreSiteCategoryId']?.accessAddField" [(optionLoading)]="loading"
        [optionSelectForce]="dataModel.linkCoreSiteCategoryId"
        [optionPlaceholder]="this.translate.instant('TITLE.Site_Type')">
      </app-cms-sitecategory-selector>
      <!-- RegulatorNumber Field -->
      <div *ngIf="fieldsInfo['regulatorNumber']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.regulatorNumber" class="color-highlight">{{ fieldsInfo["regulatorNumber"]?.fieldTitle
          }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.regulatorNumber" name="dataModel.regulatorNumber"
          #RegulatorNumber placeholder="123" [disabled]="!fieldsInfo['regulatorNumber']?.accessEditField"
          class="form-control validate-name" id="dataModel.regulatorNumber" />
        <em>{{ RegulatorNumber.value.length }} / 100</em>
      </div>
      <!-- ServicePrice Field -->
      <div *ngIf="fieldsInfo['servicePrice']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.servicePrice" class="color-highlight">{{ fieldsInfo["servicePrice"]?.fieldTitle }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.servicePrice" name="dataModel.servicePrice" #ServicePrice
          placeholder="0" [disabled]="!fieldsInfo['servicePrice']?.accessEditField" class="form-control validate-name"
          id="dataModel.servicePrice" />
      </div>
      <!-- EndUserPrice Field -->
      <div *ngIf="fieldsInfo['endUserPrice']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.endUserPrice" class="color-highlight">{{ fieldsInfo["endUserPrice"]?.fieldTitle }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.endUserPrice" name="dataModel.endUserPrice" #EndUserPrice
          placeholder="0" [disabled]="!fieldsInfo['endUserPrice']?.accessEditField" class="form-control validate-name"
          id="dataModel.endUserPrice" />
      </div>
      <!-- MessageLength Field -->
      <div *ngIf="fieldsInfo['messageLength']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.messageLength" class="color-highlight">{{ fieldsInfo["messageLength"]?.fieldTitle
          }}</label>
        <input matInput type="number" [(ngModel)]="dataModel.messageLength" name="dataModel.messageLength"
          #MessageLength placeholder="0" [disabled]="!fieldsInfo['messageLength']?.accessEditField"
          class="form-control validate-name" id="dataModel.messageLength" />
      </div>
      <!-- MessageType Field -->
      <app-cms-enum-x-selector *ngIf="fieldsInfo['messageType']?.accessWatchField"
        [optionDataListResult]="dataModelSmsMessageTypeEnumResult" [(model)]="dataModel.messageType"
        [optionDisabled]="false" [optionLabel]="this.fieldsInfo['messageType']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-x-selector>

      <!-- OutBoxType Field -->
      <app-cms-enum-x-selector *ngIf="fieldsInfo['outBoxType']?.accessWatchField"
        [optionDataListResult]="dataModelSmsOutBoxTypeEnumResult" [(model)]="dataModel.outBoxType"
        [optionDisabled]="false" [optionLabel]="this.fieldsInfo['outBoxType']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-x-selector>

      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
    </form>
    <!--content-->
  </div>
</div>