<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <!-- RecordStatus Field -->
      <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
        [(model)]="dataModel.recordStatus" [optionDisabled]="false"
        [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
        [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



      <!-- Title Field -->
      <div *ngIf="fieldsInfo['title']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
          placeholder="{{fieldsInfo['title']?.fieldTitle }}" [disabled]="!fieldsInfo['title']?.accessEditField"
          minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.title" />
        <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ Title.value.length }} / 100</em>
        <mat-error *ngIf="Title.errors?.required">
          {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- TitleResourceLanguage Field -->
      <div *ngIf="fieldsInfo['titleResourceLanguage']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.titleResourceLanguage" class="color-highlight">{{
          fieldsInfo["titleResourceLanguage"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.titleResourceLanguage" name="dataModel.titleResourceLanguage"
          #TitleResourceLanguage placeholder="{{fieldsInfo['titleResourceLanguage']?.fieldTitle}}"
          [disabled]="!fieldsInfo['titleResourceLanguage']?.accessEditField" minlength="3" maxlength="100" required
          class="form-control validate-name" id="dataModel.titleResourceLanguage" />
        <em>{{ TitleResourceLanguage.value.length }} / 100</em>
        <mat-error *ngIf="TitleResourceLanguage.errors?.required">
          {{fieldsInfo['titleResourceLanguage']?.fieldTitle}} is <strong>{{'MESSAGE.required' |
            translate}}</strong>
        </mat-error>
      </div>
      <!-- Folder Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.folder" class="color-highlight">{{ fieldsInfo["folder"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.folder" name="dataModel.folder" #Folder
          placeholder="{{'TITLE.branch_path' | translate}}" [disabled]="!fieldsInfo['folder']?.accessEditField"
          minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.folder" />
        <i *ngIf="!Folder.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="Folder.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ Folder.value.length }} / 100</em>
        <mat-error *ngIf="Folder.errors?.required">
          {{fieldsInfo['folder']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- IndexFile Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.indexFile" class="color-highlight">{{ fieldsInfo["indexFile"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.indexFile" name="dataModel.indexFile" #IndexFile
          placeholder="index.html" [disabled]="!fieldsInfo['indexFile']?.accessEditField" minlength="3" maxlength="100"
          required class="form-control validate-name" id="dataModel.indexFile" />
        <i *ngIf="!IndexFile.value" class="fa fa-times  invalid color-red-dark"></i>
        <i *ngIf="IndexFile.value" class="fa fa-check  valid color-green-dark"></i>
        <em>{{ Folder.value.length }} / 100</em>
        <mat-error *ngIf="IndexFile.errors?.required">
          {{fieldsInfo['indexFile']?.fieldTitle}} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- IsPublish Field -->
      <div *ngIf="fieldsInfo['isPublish']?.accessWatchField" class="d-flex mb-3">
        <div class="pt-1">
          <h5 data-trigger-switch="dataModel.isPublish" class="font-600 font-14">
            {{fieldsInfo['isPublish']?.fieldTitle}}</h5>
        </div>
        <div class="ms-auto me-3 pe-2">
          <div class="custom-control ios-switch small-switch">
            <input type="checkbox" class="ios-input" id="dataModel.isPublish" [(ngModel)]="this.dataModel.isPublish"
              name="dataModel.isPublish">
            <label class="custom-control-label" for="dataModel.isPublish"></label>
          </div>
        </div>
      </div>
      <!-- Description Field -->
      <div *ngIf="fieldsInfo['description']?.accessWatchField"
        class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
        <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
          placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500" rows="5"
          id="dataModel.description" class="form-control validate-name">
                </textarea>
        <em>{{ Description.value.length }} / 500</em>
        <mat-error *ngIf="Description.errors?.required">
          {{ fieldsInfo["description"]?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
        </mat-error>
      </div>
      {{'TITLE.It_should_be_used_on_sites_with_the_following_categories' | translate}}
      <br>
      <app-cms-sitecategory-selectionlist [optionSelectForce]="dataCoreSiteCategoryIds" [optionDisabled]="false"
        (optionChange)="onActionSelectorUserCategorySelect($event)"
        (optionSelectAdded)="onActionSelectorUserCategorySelectAdded($event)"
        (optionSelectRemoved)="onActionSelectorUserCategorySelectRemoved($event)">
      </app-cms-sitecategory-selectionlist>
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
        <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
          (click)="onFormSubmit()" [disabled]="!vform.form.valid">
          <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
        </button>
      </div>
    </form>
    <!--Content-->
  </div>
</div>