<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
            {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
        </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <!-- LinkPrivateSiteConfigId Field -->
            <app-sms-apipath-selector (optionChange)="onActionSelectPrivateSiteConfig($event)"
                [(optionLoading)]="loading" [optionPlaceholder]="'TITLE.Direction' | translate">
            </app-sms-apipath-selector>
            <!-- FromNumber Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.fromNumber" class="color-highlight">{{'TITLE.sender_number' | translate}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.fromNumber" name="dataModel.fromNumber" #FromNumber
                    minlength="0" maxlength="50" class="form-control validate-name" id="dataModel.fromNumber"
                    placeholder="10000118" />
                <em>{{ FromNumber.value.length }} / 50</em>
            </div>
            <!-- ToNumber Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.toNumber" class="color-highlight">{{'TITLE.Receiver_number' | translate}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.toNumber" name="dataModel.toNumber" #ToNumber
                    minlength="0" maxlength="100" class="form-control validate-name" id="dataModel.toNumber"
                    placeholder="0912" />
                <em>{{ ToNumber.value.length }} / 100</em>
            </div>
            <!-- Message Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.message" class="color-highlight">{{'MESSAGE.Message_Text' | translate}}</label>
                <input matInput type="text" [(ngModel)]="dataModel.message" name="dataModel.message" #Message
                    minlength="1" maxlength="500" class="form-control validate-name" id="dataModel.message"
                    placeholder="..." />
                <em>{{ Message.value.length }} / 500</em>
                <mat-error *ngIf="Message.errors?.required">
                    {{'MESSAGE.Message_Text' | translate}} <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <!-- IsFlash Field -->
            <div class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.isFlash" class="font-600 font-14">
                        {{'TITLE.Send_as_flash' | translate}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.isFlash" [(ngModel)]="dataModel.isFlash"
                            name="dataModel.isFlash">
                        <label class="custom-control-label" for="dataModel.isFlash"></label>
                    </div>
                </div>
            </div>
            <!-- SendByQeue Field -->
            <div class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.sendByQueue" class="font-600 font-14">
                        {{'TITLE.Send_in_queue' | translate}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.sendByQueue"
                            [(ngModel)]="dataModel.sendByQueue" name="dataModel.sendByQueue">
                        <label class="custom-control-label" for="dataModel.sendByQueue"></label>
                    </div>
                </div>
            </div>

            <app-cms-json-list [dataModel]="dataModelResult.item" [optionMethod]="1" *ngIf="dataModelResult?.item">
            </app-cms-json-list>

            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.valid" *ngIf="!this.loading.display">
                    <i class="fa fa-check-square-o"></i>
                    {{'ACTION.Send_Message' | translate}}
                </button>

            </div>
        </form>
        <!--Content-->
    </div>
</div>