<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->

        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-body-->
        <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="Title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
            <input matInput [(ngModel)]="dataModelResultContent.item.title" name="Title" #Title type="text"
                placeholder="{{fieldsInfo['title']?.fieldTitle}}" required readonly class="form-control validate-name"
                id="Title" />
        </div>
        <!--begin:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">

            <button type="button" (click)="onFormDelete()" [disabled]=" !formInfo.buttonSubmittedEnabled"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-red">
                <i class="fa fa-check-square-o"></i> {{'ACTION.DELETE' | translate}}
            </button>
            <button type="button" (click)="onFormCancel()"
                class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
            </button>
        </div>
        <!--end:::::::::::::::::::::::::::::::::::::::::cms-footer-->
        <!--Content-->
    </div>
</div>