<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
    <div class="content mb-0">
        <p class="mb-0 color-highlight font-600 font-12">
            {{ formInfo.formTitle }}
        </p>


        <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
        <!--Content-->
        <form (ngSubmit)="onFormSubmit()" #vform="ngForm">

            <!-- RecordStatus Field -->
            <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
                [(model)]="dataModel.recordStatus" [optionDisabled]="false"
                [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
                [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



            <!-- Title Field -->
            <div *ngIf="fieldsInfo['title']?.accessWatchField"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
                    placeholder="{{fieldsInfo['title']?.fieldTitle }}" [disabled]="!fieldsInfo['title']?.accessAddField"
                    minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.title" />
                <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
                <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
                <em>{{ Title.value.length }} / 100</em>
                <mat-error *ngIf="Title.errors?.required">
                    {{ fieldsInfo['title']?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <app-webdesigner-pagedependency-selector (optionChange)="onActionSelectDependency($event)"
                [(optionLoading)]="loading" [optionDisabled]="!fieldsInfo['linkPageDependencyGuId']?.accessAddField"
                [optionSelectForce]="dataModel.linkPageDependencyGuId"
                [optionPlaceholder]="this.translate.instant('TITLE.Show_place')">
            </app-webdesigner-pagedependency-selector>
            <app-webdesigner-pagetemplate-selector (optionChange)="onActionSelectTemplate($event)"
                [(optionLoading)]="loading" [optionDisabled]="!fieldsInfo['linkPageTemplateGuId']?.accessAddField"
                [optionSelectForce]="dataModel.linkPageTemplateGuId"
                [optionPlaceholder]="this.translate.instant('TITLE.Page_template')" [optionSelectFirstItem]="true">
            </app-webdesigner-pagetemplate-selector>
            <app-webdesigner-page-selector (optionChange)="onActionSelectParent($event)" [(optionLoading)]="loading"
                *ngIf="dataModel.linkPageTemplateGuId && dataModel.linkPageTemplateGuId.length>0"
                [optionDisabled]="!fieldsInfo['linkPageParentGuId']?.accessAddField"
                [optionSelectForce]="dataModel.linkPageParentGuId" [optionMasterPage]="true"
                [optionMasterTemplateId]="dataModel.linkPageTemplateGuId"
                [optionPlaceholder]="this.translate.instant('TITLE.parent_page')">
            </app-webdesigner-page-selector>
            <!-- PageDependencyIsDefaultPage Field -->
            <div *ngIf="fieldsInfo['pageDependencyIsDefaultPage']?.accessWatchField" class="d-flex mb-3">
                <div class="pt-1">
                    <h5 data-trigger-switch="dataModel.pageDependencyIsDefaultPage" class="font-600 font-14">
                        {{fieldsInfo['pageDependencyIsDefaultPage']?.fieldTitle}}</h5>
                </div>
                <div class="ms-auto me-3 pe-2">
                    <div class="custom-control ios-switch small-switch">
                        <input type="checkbox" class="ios-input" id="dataModel.pageDependencyIsDefaultPage"
                            [(ngModel)]="this.dataModel.pageDependencyIsDefaultPage"
                            name="dataModel.pageDependencyIsDefaultPage">
                        <label class="custom-control-label" for="dataModel.pageDependencyIsDefaultPage"></label>
                    </div>
                </div>
            </div>
            <!-- LinkSiteCategoryId Field -->
            <app-cms-sitecategory-selector
                *ngIf="dataModel.pageDependencyIsDefaultPage && fieldsInfo['pageDependencyIsDefaultPageLinkSiteCategoryId']?.accessWatchField"
                (optionChange)="onActionSelectCategory($event)" [(optionLoading)]="loading"
                [optionSelectForce]="this.dataModel.pageDependencyIsDefaultPageLinkSiteCategoryId"
                [optionPlaceholder]="this.translate.instant('TITLE.Website_Type')"
                [optionDisabled]="!fieldsInfo['pageDependencyIsDefaultPageLinkSiteCategoryId']?.accessAddField">
            </app-cms-sitecategory-selector>
            <!-- KeywordModel Field -->
            <mat-form-field style="width:100%" appearance="fill">
                <mat-label>{{'TITLE.Choose_keywords_relative_to_the_content' | translate}}</mat-label>
                <mat-chip-grid #chipList aria-label="this.translate.instant('TITLE.key_word')">
                    <mat-chip *ngFor="let item of  keywordDataModel" (removed)="removeTag(item)">
                        {{item}}
                        <button matChipRemove
                            class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip>
                    <input [placeholder]="' + '+this.translate.instant('TITLE.key_word')" #tagInput
                        [matChipInputAddOnBlur]="addOnBlurTag" [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTag($event)">
                </mat-chip-grid>
            </mat-form-field>
            <!-- SpecialIdendity Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.specialIdendity" class="color-highlight">{{
                    fieldsInfo["specialIdendity"]?.fieldTitle }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.specialIdendity" name="dataModel.specialIdendity"
                    #SpecialIdendity type="text" placeholder="32323"
                    [disabled]="!fieldsInfo['specialIdendity']?.accessAddField" minlength="0" maxlength="500"
                    class="form-control validate-name" id="dataModel.specialIdendity" />
                <em>{{ SpecialIdendity.value.length }} / 500</em>
            </div>
            <!-- SpecialUrlParameter Field -->
            <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.specialUrlParameter" class="color-highlight">{{
                    fieldsInfo["specialUrlParameter"]?.fieldTitle }}</label>
                <input matInput type="text" [(ngModel)]="dataModel.specialUrlParameter"
                    name="dataModel.specialUrlParameter" #SpecialUrlParameter type="text" placeholder="esfahan"
                    [disabled]="!fieldsInfo['specialUrlParameter']?.accessAddField" minlength="0" maxlength="500"
                    class="form-control validate-name" id="dataModel.specialUrlParameter" />
                <em>{{ SpecialUrlParameter.value.length }} / 500</em>
            </div>
            <!-- Description Field -->
            <div *ngIf="fieldsInfo['description']?.accessWatchField"
                class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
                <label for="dataModel.description"
                    class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
                <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description
                    type="text" placeholder="{{fieldsInfo['description']?.fieldTitle}}" minlength="1" maxlength="500"
                    rows="5" id="dataModel.description" class="form-control validate-name">
                    </textarea>
                <em>{{ Description.value.length }} / 500</em>
                <mat-error *ngIf="Description.errors?.required">
                    {{ fieldsInfo["description"]?.fieldTitle }} is <strong>{{'MESSAGE.required' | translate}}</strong>
                </mat-error>
            </div>
            <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
                <button type="button" (click)="onFormCancel()"
                    class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
                </button>
                <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
                    (click)="onFormSubmit()" [disabled]="!vform.form.valid">
                    <i class="fa fa-check-square-o"></i> {{'ACTION.SAVE' | translate}}
                </button>
            </div>
        </form>
        <!--Content-->
    </div>
</div>