<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--Content-->
    <form #vform="ngForm">
      <!-- SendStatusType Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <select id="dataModel.sendStatusType" [(ngModel)]="dataModel.sendStatusType" name="dataModel.sendStatusType"
          #SendStatusType="ngModel" class="form-control validate-name">
          <option *ngFor="
          let item of dataModelEnumSendNotificationStatusTypeResult.listItems;
          index as i" [value]="item.value">
            {{ item.description }}
          </option>
        </select>
        <em>{{'TITLE.SELECT_STATUS' | translate}}</em>
        <mat-error *ngIf="SendStatusType.errors?.required">
          SendStatusType is <strong>{{'content.required' | translate}}</strong>
        </mat-error>
      </div>
      <!-- linkSiteId Field -->
      <app-cms-site-selector [optionDisabled]="true" [optionSelectForce]="this.dataModel.linkSiteId"
        [(optionLoading)]="loading" [optionPlaceholder]="this.translate.instant('TITLE.SITE')">
      </app-cms-site-selector>
      <!-- LinkMemberId Field -->
      <app-cms-member-selector [optionDisabled]="true" [optionSelectForce]="this.dataModel.linkMemberId"
        [(optionLoading)]="loading" [optionPlaceholder]="this.translate.instant('TITLE.Member')">
      </app-cms-member-selector>
      <!-- ModuleName Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.moduleName" class="color-highlight">ModuleName</label>
        <input matInput type="text" [(ngModel)]="dataModel.moduleName" name="dataModel.moduleName" #ModuleName
          placeholder="ModuleName" class="form-control validate-name" id="dataModel.moduleName" />
      </div>
      <!-- ModuleEntityName Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.moduleEntityName" class="color-highlight">ModuleEntityName</label>
        <input matInput type="text" [(ngModel)]="dataModel.moduleEntityName" name="dataModel.moduleEntityName"
          #ModuleEntityName placeholder="ModuleEntityName" class="form-control validate-name"
          id="dataModel.moduleEntityName" />
      </div>
      <!-- ModuleEntityId Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.moduleEntityId" class="color-highlight">EntityId</label>
        <input matInput type="text" [(ngModel)]="dataModel.moduleEntityId" name="dataModel.moduleEntityId"
          #ModuleEntityId placeholder="ModuleEntityId" class="form-control validate-name"
          id="dataModel.moduleEntityId" />
      </div>
      <!-- Title Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.title" class="color-highlight">{{ fieldsInfo["title"]?.fieldTitle }}</label>
        <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title placeholder="title"
          class="form-control validate-name" id="dataModel.title" />
      </div>
      <!-- content Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.content" class="color-highlight">content</label>
        <textarea matInput [(ngModel)]="dataModel.content" name="dataModel.content" #content type="text"
          placeholder="content" id="dataModel.content" class="form-control validate-name">
        </textarea>
      </div>
      <!-- ReturnApi Field -->
      <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
        <label for="dataModel.returnApi" class="color-highlight">ReturnApi</label>
        <textarea matInput [(ngModel)]="dataModel.returnApi" name="dataModel.returnApi" #ReturnApi type="text"
          placeholder="ReturnApi" id="dataModel.returnApi" class="form-control validate-name">
        </textarea>
      </div>
      <div *ngIf="tokenInfo.userAccessAdminAllowToProfessionalData">
        <div [innerHTML]="dataModel | prettyjson"></div>
      </div>
      <div class="form-actions" *ngIf="formInfo.formSubmitAllow  && !loading?.display">
        <button type="button" (click)="onFormCancel()"
          class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
          <i class="ft-x"></i> {{'ACTION.CANCEL' | translate}}
        </button>
      </div>
    </form>
    <!--Content-->
  </div>
</div>