<div class="card card-style">
  <form class="form" #vform="ngForm" novalidate="novalidate" id="kt_login_signin_form" (ngSubmit)="onActionSubmit()">
    <app-progress-spinner [options]="loading"> </app-progress-spinner>
    <p class="font-600 color-highlight mb-0"> {{'TRANSLATOR.WELCOME' | translate}}</p>
    <p>
      برای ورود به حساب کاربری خود، اطلاعات کاربری خود را در زیر وارد کنید.
    </p>
    <!--Email Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-user"></i>
      <input [(ngModel)]="dataModel.email" name="dataModel.email" id="dataModel.email"
        [disabled]=" !formInfo.buttonSubmittedEnabled" type="text" class="form-control validate-name"
        style="direction: ltr !important; text-align: center;" placeholder="{{'AUTH.INPUT.MOBILE' | translate}} / {{'AUTH.INPUT.EMAIL' |
    translate}}" autocomplete="off" required>
      <label for="dataModel.email" class="color-highlight">{{'AUTH.INPUT.MOBILE' | translate}} / {{'AUTH.INPUT.EMAIL' |
        translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>

    </div>
    <!--Password Field-->
    <div class="input-style no-borders has-icon validate-field mb-4">
      <i class="fa fa-lock"></i>
      <input [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="dataModel.password" name="dataModel.password"
        id="dataModel.password" [disabled]=" !formInfo.buttonSubmittedEnabled" #Password type="password"
        class="form-control validate-password" style="direction: ltr !important; text-align: center;"
        placeholder="{{'AUTH.INPUT.PASSWORD' | translate}}" autocomplete="off" required>
      <label for="dataModel.password" class="color-highlight">{{'AUTH.INPUT.PASSWORD' | translate}}</label>
      <i class="fa fa-times disabled invalid color-red-dark"></i>
      <i class="fa fa-check disabled valid color-green-dark"></i>

    </div>
    <ng-container *ngIf="!firstRun">
      <!--captchaText Field-->
      <img src="{{captchaModel.image}}" (click)="onCaptchaOrder()" class="mb-3" alt="">
      <mat-icon matSuffix (click)="onCaptchaOrder()">refresh</mat-icon>
      <div class="input-style no-borders has-icon validate-field mb-4">
        <i class="fa fa-quote-left"></i>
        <input [(ngModel)]="dataModel.captchaText" name="dataModel.captchaText" id="dataModel.captchaText"
          [disabled]=" !formInfo.buttonSubmittedEnabled" type="text" class="form-control validate-name" minlength="5"
          maxlength="5" placeholder="{{'AUTH.INPUT.CAPTCHACODE' | translate}}" autocomplete="off" required>
        <label for="dataModel.captchaText" class="color-highlight">{{'AUTH.INPUT.CAPTCHACODE' | translate}}</label>
        <i class="fa fa-times disabled invalid color-red-dark"></i>
        <i class="fa fa-check disabled valid color-green-dark"></i>

      </div>
    </ng-container>
    <button type="submit"
      [disabled]="vform.invalid || !formInfo.buttonSubmittedEnabled || !connectionStatus.internetConnection"
      style="width: 100%;" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'AUTH.LOGIN.BUTTON' | translate}}
    </button>
    <button type="button" [routerLink]="['/auth/singinbysms']"
      [disabled]="!formInfo.buttonSubmittedEnabled || !connectionStatus.internetConnection" style="width: 100%;"
      class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-highlight">
      {{'AUTH.LOGIN.SMS' | translate}}
    </button>


    <div class="row pt-3 mb-3">
      <div class="col-6 text-start">
        <a [routerLink]="['/auth/forgot-password']" class="color-highlight">{{'AUTH.FORGOT.TITLE' |
          translate}}</a>
      </div>
      <div class="col-6 text-end">
        <a [routerLink]="['/auth/singup']" class="color-highlight">{{ 'AUTH.GENERAL.SIGNUP_BUTTON' |
          translate
          }}</a>
      </div>
    </div>
    <ng-container *ngIf="loadDemoTheme">
      <div class="divider"></div>
      <a class="btn btn-icon text-start btn-full btn-s font-600 font-13 bg-facebook mt-4 rounded-s"><i
          class="fab fa-facebook-f text-center"></i>با فیس بوک وارد شوید</a>
      <a class="btn btn-icon text-start btn-full btn-s font-600 font-13 bg-twitter mt-2 rounded-s"><i
          class="fab fa-twitter text-center"></i>با توییتر وارد شوید</a>
      <a class="btn btn-icon text-start btn-full btn-s font-600 font-13 bg-dark-dark mt-2 rounded-s"><i
          class="fab fa-apple text-center"></i>با اپل وارد شوید</a>
    </ng-container>
  </form>
</div>