<app-progress-spinner [options]="loading"> </app-progress-spinner>
<div class="card card-style">
  <div class="content mb-0">
    <p class="mb-0 color-highlight font-600 font-12">
      {{ formInfo.formTitle }}
    </p>


    <p>
      {{'TITLE.Be_Careful_When_Entering_Information' | translate}}
    </p>
    <!--content-->
    <form (ngSubmit)="onFormSubmit()" #vform="ngForm">
      <mat-vertical-stepper (selectionChange)="onStepClick($event,stepper)" #stepper>
        <mat-step label="{{'TITLE.REQUIRED_INFORMATION' | translate}}" state="main">
          <!-- RecordStatus Field -->

          <app-cms-enum-record-status-selector *ngIf="fieldsInfo['recordStatus']?.accessWatchField"
            [(model)]="dataModel.recordStatus" [optionDisabled]="false"
            [optionLabel]="this.fieldsInfo['recordStatus']?.fieldTitle" [optionRequired]="true"
            [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>


          <!-- mainAdminRecordStatus Field -->

          <app-cms-enum-record-status-selector *ngIf="fieldsInfo['mainAdminRecordStatus']?.accessWatchField"
            [(model)]="dataModel.mainAdminRecordStatus" [optionDisabled]="false"
            [optionLabel]="this.fieldsInfo['mainAdminRecordStatus']?.fieldTitle" [optionRequired]="true"
            [optionSelectFirstItem]="true"></app-cms-enum-record-status-selector>



          <!-- Title Field -->
          <div *ngIf="fieldsInfo['title']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.title" class="color-highlight">{{fieldsInfo['title']?.fieldTitle}}</label>
            <input matInput type="text" [(ngModel)]="dataModel.title" name="dataModel.title" #Title type="text"
              placeholder="{{fieldsInfo['title']?.fieldTitle }}" disabled="{{!fieldsInfo['title']?.accessAddField}}"
              minlength="3" maxlength="100" required class="form-control validate-name" id="dataModel.title" />
            <i *ngIf="!Title.value" class="fa fa-times  invalid color-red-dark"></i>
            <i *ngIf="Title.value" class="fa fa-check  valid color-green-dark"></i>
            <em>{{ Title.value.length }} / 100</em>
            <mat-error *ngIf="Title.errors?.required">
              {{ fieldsInfo["title"]?.fieldTitle }} <strong>{{ "MESSAGE.required" | translate }}</strong>
            </mat-error>
          </div>
          <!-- LinkPropertyCompanyId Field -->
          <app-estate-property-company-selector *ngIf="this.tokenHelper.isAdminSite" [(optionLoading)]="loading"
            (optionChange)="onActionSelectorCompany($event)" [optionSelectForce]="dataModel.linkPropertyCompanyId"
            [optionPlaceholder]="this.translate.instant('TITLE.Company')">
          </app-estate-property-company-selector>
          <!-- Description Field -->
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.description" class="color-highlight">{{fieldsInfo['description']?.fieldTitle}}</label>
            <textarea matInput [(ngModel)]="dataModel.description" name="dataModel.description" #Description type="text"
              placeholder="{{ fieldsInfo['description']?.fieldTitle }}"
              disabled="{{!fieldsInfo['description']?.accessAddField}}" minlength="1" maxlength="500" rows="5"
              id="dataModel.description" class="form-control validate-name"></textarea>
            <em>{{ Description.value.length }} / 500</em>
            <mat-error *ngIf="Description.errors?.required">
              {{fieldsInfo['description']?.fieldTitle}} <strong>{{'MESSAGE.required' | translate}}</strong>
            </mat-error>
          </div>
          <!-- DescriptionHidden Field -->
          <div *ngIf="fieldsInfo['descriptionHidden']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.descriptionHidden" class="color-highlight">{{'TITLE.Description_Hidden' |
              translate}}</label>
            <textarea matInput [(ngModel)]="dataModel.descriptionHidden" name="dataModel.descriptionHidden"
              #DescriptionHidden type="text" placeholder="{{ fieldsInfo['descriptionHidden']?.fieldTitle }}"
              minlength="0" maxlength="500" rows="5" id="dataModel.descriptionHidden"
              class="form-control validate-name"></textarea>
            <em>{{ DescriptionHidden.value.length }} / 500</em>
          </div>
          <!-- LinkLocationId Field -->
          <app-cms-location-selector (optionChange)="onActionSelectorLocation($event)" [(optionLoading)]="loading"
            [optionDisabled]="!fieldsInfo['linkLocationId']?.accessEditField"
            [optionSelectForce]="dataModel.linkLocationId" [optionPlaceholder]="this.translate.instant('TITLE.Region')">
          </app-cms-location-selector>
          <!-- FromDate Field -->
          <div *ngIf="fieldsInfo['fromDate']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.fromDate" class="color-highlight">{{fieldsInfo['fromDate']?.fieldTitle}}</label>
            <input matInput [matDatepicker]="FromDate" type="text" [(ngModel)]="dataModel.fromDate"
              name="dataModel.fromDate" placeholder="{{fieldsInfo['fromDate']?.fieldTitle}}"
              disabled="{{!fieldsInfo['fromDate']?.accessAddField}}" class="form-control validate-name"
              id="dataModel.fromDate" />
            <mat-datepicker-toggle matSuffix [for]="FromDate"></mat-datepicker-toggle>
            <mat-datepicker touchUi #FromDate></mat-datepicker>
          </div>
          <!-- ExpireDate Field -->
          <div *ngIf="fieldsInfo['expireDate']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.expireDate" class="color-highlight">{{fieldsInfo['expireDate']?.fieldTitle}}</label>
            <input matInput [matDatepicker]="ExpireDate" type="text" [(ngModel)]="dataModel.expireDate" #ExpireDate
              name="dataModel.expireDate" placeholder="{{fieldsInfo['expireDate']?.fieldTitle}}"
              disabled="{{!fieldsInfo['expireDate']?.accessAddField}}" class="form-control validate-name"
              id="dataModel.expireDate" />
            <mat-datepicker-toggle matSuffix [for]="ExpireDate"></mat-datepicker-toggle>
          </div>
          <hr class="pb-5" />
          <!-- editorConfig Field -->
          <label> {{fieldsInfo['body']?.fieldTitle}} </label>
          <angular-editor [placeholder]="this.translate.instant('TITLE.Enter_Text')"
            [config]="publicHelper.editorConfig" id="main" [(ngModel)]="dataModel.body"
            name="dataModel.body"></angular-editor>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray"
              (click)="onActionBackToParent()">
              {{'ACTION.BACK' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="{{'TITLE.Search_Engines' | translate}}" state="seo">
          <p>{{'TITLE.This_section_helps_search_engines_better_index_content' | translate}}</p>
          <!-- Source Field -->
          <div *ngIf="fieldsInfo['source']?.accessWatchField"
            class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label for="dataModel.source" class="color-highlight">{{'TITLE.Source_page_address' | translate}}</label>
            <input matInput type="text" [(ngModel)]="dataModel.source" name="dataModel.source" #Source type="text"
              style="text-align: left;" dir="ltr" placeholder="{{'TITLE.Content_reference_website_link' | translate}}"
              disabled="{{!fieldsInfo['source']?.accessAddField}}" minlength="3" maxlength="500"
              class="form-control validate-name" id="dataModel.source" />
            <em>{{ Source.value.length }} / 500</em>
          </div>
             <!-- KeywordModel Field -->
             <mat-form-field style="width:100%" appearance="fill">
              <mat-label>{{'TITLE.Choose_keywords_relative_to_the_content' | translate}}</mat-label>
              <mat-chip-grid #chipList aria-label="this.translate.instant('TITLE.key_word')">
                <mat-chip *ngFor="let item of  keywordDataModel" (removed)="removeTag(item)">
                  {{item}}
                  <button matChipRemove class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-gray">
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>
                <input [placeholder]="' + '+this.translate.instant('TITLE.key_word')" #tagInput
                  [matChipInputAddOnBlur]="addOnBlurTag" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addTag($event)">
              </mat-chip-grid>
            </mat-form-field>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>

        </mat-step>
        <mat-step label="{{'TITLE.ATTACH_FILES' | translate}}" state="file">
          <p>{{'TITLE.CONTENT_ATTACH_FILES' | translate}}</p>
          <!-- LinkMainImageIdSrc Field -->
          <div class="mb-3">
            <a href="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" target="_blank">
              <img *ngIf="dataModel?.linkMainImageIdSrc?.length>0" style="vertical-align:middle;" class="ntk-hover-zoom"
                aria-hidden src="{{dataModel.linkMainImageIdSrc | cmsthumbnail}}" height="50" width="50" />
            </a>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <label (click)="fileManagerOpenForm = true" for="dataModel.linkMainImageId"
              class="color-highlight">{{"TITLE.Original_Photo" | translate}}</label>
            <input matInput type="text" [(ngModel)]="dataModel.linkMainImageId" name="dataModel.linkMainImageId"
              #LinkMainImageId placeholder="{{'TITLE.Original_File_ID' | translate}}" autocomplete="off"
              (click)="fileManagerOpenForm = true" class="form-control validate-name" id="dataModel.linkMainImageId" />
            <cms-file-manager (itemSelected)="onActionFileSelectedLinkMainImageId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenForm" [tree]="fileManagerTree" [openDirectUploadView]="true"
              [openFilemanagerButtonLabelKey]="'select'" [selectFileType]="selectFileTypeMainImage"
              [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
          <hr>
          <p *ngIf="dataFileModelImgaes && dataFileModelImgaes.size>0">{{'TITLE.List_of_attached_photos' |
            translate}}</p>
          <app-cms-files-selector [(dataFileModel)]="dataFileModelImgaes" [openDirectUploadView]="true"
            [optionFileType]="selectFileTypeMainImage">
          </app-cms-files-selector>
          <hr>
          <div>
            <p>{{'TITLE.List_of_attached_files' | translate}}</p>
            <app-cms-files-selector [(dataFileModel)]="dataFileModelFiles" [openDirectUploadView]="true">
            </app-cms-files-selector>
            <br>
          </div>
          <!-- LinkFilePodcastIdSrc Field -->
          <div class="mb-3">
            <audio *ngIf="dataModel?.linkFilePodcastIdSrc?.length>0" controls>
              <source src="{{dataModel.linkFilePodcastIdSrc | cmsthumbnail}}" type="audio/mp3">
              Your browser does not support the audio tag.
            </audio>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <input matInput type="text" [(ngModel)]="dataModel.linkFilePodcastId" name="dataModel.linkFilePodcastId"
              #LinkFilePodcastId placeholder="{{'TITLE.Audio_File_ID' | translate}}"
              (click)="fileManagerOpenFormPodcast = true" class="form-control validate-name"
              id="dataModel.linkFilePodcastId" />
            <cms-file-manager (itemSelected)="onActionFileSelectedLinkFilePodcastId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenFormPodcast" [tree]="fileManagerTree"
              [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
              [selectFileType]="selectFileTypePodcast" [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
          <!-- LinkFileMovieId Field -->
          <div class="mb-3">
            <video *ngIf="dataModel?.linkFileMovieIdSrc?.length>0" controls>
              <source src="{{dataModel.linkFileMovieIdSrc }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
          <div class="input-style has-borders no-icon input-style-always-active validate-field mb-4">
            <input matInput type="text" [(ngModel)]="dataModel.linkFileMovieId" name="dataModel.linkFileMovieId"
              #LinkFileMovieId placeholder="{{'TITLE.Video_File_ID' | translate}}"
              (click)="fileManagerOpenFormMovie = true" class="form-control validate-name"
              id="dataModel.linkFileMovieId" />
            <cms-file-manager (itemSelected)="onActionFileSelectedLinkFileMovieId($event)" [language]="appLanguage"
              [isPopup]="true" [(openForm)]="fileManagerOpenFormMovie" [tree]="fileManagerTree"
              [openDirectUploadView]="true" [openFilemanagerButtonLabelKey]="'select'"
              [selectFileType]="selectFileTypeMovie" [openFilemanagerButtonView]="false"></cms-file-manager>
          </div>
          <h3>{{'TITLE.image_360' | translate}}</h3>
          <app-cms-360-image-list [(dataModel)]="dataModel.file360Views"></app-cms-360-image-list>
          <br>
          <h3>{{'TITLE.virtual_tour' | translate}}</h3>
          <app-cms-360-tour-list [(dataModel)]="dataModel.file360Tour"
            [dataImageModel]="dataModel.file360Views"></app-cms-360-tour-list>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              [disabled]="!vform.form.valid" matStepperNext>
              {{'ACTION.NEXT' | translate}}
            </button>
          </div>
        </mat-step>
        <mat-step label="{{'TITLE.Location' | translate}} " state="loaction">

          <p>{{'TITLE.Click_on_the_map_to_specify_the_location' | translate}}</p>
          <app-cms-map (map$)="receiveMap($event)" (zoom$)="receiveZoom($event)" [optonCenter]="mapOptonCenter"
            id='main-map'></app-cms-map>
          <div *ngIf="formInfo.formSubmitAllow  && !loading?.display" class="ntk-button-row">
            <button type="button" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-blue"
              matStepperPrevious>
              {{'ACTION.BEFOR' | translate}}
            </button>
            <button type="submit" class="btn font-13 font-600 btn-s m-1 rounded-s shadow-xl border-0 gradient-green"
              [disabled]="!vform.form.valid">
              {{'ACTION.SAVE' | translate}}
            </button>
          </div>
        </mat-step>
        <!-- Icon overrides. -->
        <ng-template matStepperIcon="main">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="seo">
          <mat-icon>call_end</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="file">
          <mat-icon>forum</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="loaction">
          <mat-icon>forum</mat-icon>
        </ng-template>
      </mat-vertical-stepper>

    </form>
    <!--content-->
  </div>
</div>